<div class="textfieldAnimated" style="width: 95%; display: table; margin: 0 auto;">
            <input type="text" class="textfieldAnimated__input" [(ngModel)]="email" placeholder="E-mail" />
            <label class="textfieldAnimated__label" style="color: #d10101;" >E-mail</label>
            <div class="textfieldAnimated__labelDiv" style="background-color: #d10101;"></div>
          </div>



@keyframes expandLabel{
    100%{
        width: 100%;
    }0%{
        width: 0%;
    }
}

@keyframes minLabel{
    100%{
        width: 0%;
    }0%{
        width: 100%;
    }
}

@keyframes transformLabel{
    100%{
        position: absolute;
        top: -20px;  
        left: 1%; 
        font-size: 10px;
        display: block;
    }0%{
        position: absolute;
        color: #dcdcdc;
        left: 2px;
        top: 0px;
        font-size: 14px;
        display: none;
    }
}

.textfieldAnimated{
    position: relative;
    height: 55px;
}

.textfieldAnimated__input{
    background: transparent !important;
    border: none;
    border-bottom: 1px solid #eeeeee;
    width: 100%;
    height: 25px;
    font-size: 14px;
}

.textfieldAnimated__input ~ .textfieldAnimated__labelDiv{
    width: 100%;
}

.textfieldAnimated__input ~ .textfieldAnimated__labelDiv-to-right{
    width: 100%;
}

.textfieldAnimated__input:focus{
    border-bottom: 0;
}

.textfieldAnimated__label{
    display: none;
    position: absolute;
    color: #dcdcdc;
    left: 2px;
    top: 0px;
}

.textfieldAnimated__input:focus ~ .textfieldAnimated__label{
    display: block;
}

.textfieldAnimated__input:focus ~ .textfieldAnimated__labelDiv{
    display: block;
    animation: 0.5s expandLabel;
}

.textfieldAnimated__input:focus ~ .textfieldAnimated__labelDiv-to-right{
    display: block;
    animation: 0.5s expandLabel;
}

.textfieldAnimated__input:focus ~ .textfieldAnimated__label{
    animation: 0.5s transformLabel;
    color: #d55555;
    position: absolute;
    top: -20px;  
    left: 1%;
    font-size: 10px;
}

.textfieldAnimated__labelDiv{
    display: none;
    height: 2px;
    position: relative;
    bottom: 0px;
    background-color: #d55555;
    margin: auto;
}

.textfieldAnimated__labelDiv-to-right{
    display: none;
    height: 2px;
    position: relative;
    bottom: 0px;
    background-color: #d55555;
}

.textfieldAnimated__input:disabled{
    color: #cccccc;
}