.inputDialog {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
}

.inputDialog:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid red;
}

@keyframes kOpenSearch {
  0% {
    left: 92%;
    width: 0%;
  }
  100% {
    left: 62%;
    width: 30%;
  }
}

@keyframes kCloseSearch {
  0% {
    left: 62%;
    width: 30%;
  }
  100% {
    left: 92%;
    width: 0%;
  }
}

.openSearch {
  animation-name: kOpenSearch;
  animation-duration: 0.2s;
  left: 62%;
  width: 30%;
}

.closeSearch {
  animation-name: kCloseSearch;
  animation-duration: 0.2s;
  left: 92%;
  width: 0%;
}

#controle {
  display: table;
  margin: 0px auto;
  position: absolute;
  z-index: 14;
}

.div_telaControle {
  position: absolute;
  height: 10%;
  width: 100%;
}

#div_spanTitulo {
  position: absolute;
  top: 0%;
  height: 50%;
  width: 100%;
}

#span_iconUnarchive {
  position: absolute;
  top: 8px;
  color: #f44336;
}

#span_tituloControle {
  display: table;
  margin: 0 auto;
}

.div_telaProducao {
  top: 10%;
  width: 100%;
  height: 90%;
  position: absolute;
}

.div_tabelaProducao {
  position: absolute;
  top: 41px;
  height: calc(100% - 40px - 6%);
  width: 100%;
  background-color: #fff;
}

.div_rowsProducao {
  height: 100%;
  overflow-y: auto;
}

#editarProducao {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(15, 20, 22, 0.3);
}

#div_edicaoProducao {
  position: absolute;
  left: 32.5%;
  top: 30%;
  border-radius: 10px;
  background-color: #ffffff;
  width: 35%;
  height: 40%;
}

#tituloProduto {
  position: relative;
  width: 100%;
  height: 12%;
  text-align: center;
  background-color: #2d2c2c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.span_editarProducao {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
  top: 8px;
}

.span_produtoProduzidoEdicao {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  left: 37%;
  top: 15%;
}

.input_produtoProduzidoEdicao {
  outline: none;
  position: absolute !important;
  text-align: center;
  float: left;
  top: 24% !important;
  width: 80% !important;
  left: 10% !important;
}

.span_qtdeAtualEdicao {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  left: 13%;
  top: 37%;
}

#qtdeProdutoEdit {
  outline: none;
  position: absolute;
  text-align: center;
  float: left;
  top: 45%;
  width: 40%;
  left: 5%;
}

.span_validadeEdicao {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  left: 69%;
  top: 37%;
}

#validadeProdutoEdit {
  outline: none;
  position: absolute;
  text-align: center;
  float: left;
  top: 45%;
  top: 45%;
  width: 40%;
  left: 55%;
}

.span_valorProdEdit {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  left: 22%;
  top: 58%;
}

#valorEdit {
  background: transparent;
  outline: none;
  position: absolute;
  text-align: center;
  float: left;
  top: 65%;
  width: 40%;
  left: 5%;
}

.span_valorPromoEdit {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  left: 60%;
  top: 58%;
}

#valorPromoEdit {
  background: transparent;
  outline: none;
  position: absolute;
  text-align: center;
  float: left;
  top: 65%;
  width: 40%;
  left: 55%;
}

#button_cancelarProdEdit {
  position: absolute;
  border-radius: 10px;
  bottom: 7%;
  left: 5%;
}

#button_atualizarProdEdit {
  position: absolute;
  border-radius: 10px;
  bottom: 7%;
  right: 5%;
}

#listaAutoComplete,
#listaAutoComplete2 {
  position: absolute;
  width: 79%;
  left: 10%;
  top: 31%;
  max-height: 30%;
  border: 2px solid red;
  background-color: white;
  overflow-y: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
}

#listaAutoComplete2 {
  max-height: 50%;
}

#listaAutoComplete2 button {
  width: 100%;
  height: 33%;
  border-bottom: 1px solid #ccc;
}

#listaAutoComplete3 {
  margin: 0% auto 6%;
  width: 80%;
  max-height: 50%;
  background-color: white;
  overflow-y: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
  position: relative;
}

#listaAutoComplete3 button {
  width: 100%;
  height: 33%;
  border-bottom: 1px solid #ccc;
}

#listaAutoComplete4 {
  margin: 0% auto 5%;
  width: 80%;
  max-height: 100px;
  background-color: white;
  overflow-y: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
  position: relative;
}

#button_filtroAutoComplete {
  width: 100%;
  height: 33%;
  border-bottom: 1px solid #ccc;
}

#dialogApagarBack {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(15, 20, 22, 0.3);
}

#dialogApagarMain {
  position: absolute;
  top: 30%;
  left: 40%;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  text-align: center;
}

#title {
  position: relative;
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: #2d2c2c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.span_excluirProd {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
  top: 8px;
}

.div_alignCenter {
  text-align: center;
}

.span_textoExcluirProd {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  top: 40px;
}

#button_cancelarExcluirProd {
  position: relative;
  width: 25px;
  height: 15%;
  left: -23%;
  margin-top: 25%;
  border-radius: 10px;
}

#button_excluirProd {
  position: relative;
  width: 25px;
  height: 15%;
  left: 60px;
  margin-top: 25%;
  border-radius: 10px;
}

#cadastrarProducao {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(15, 20, 22, 0.3);
}

#div_cadastrarProducao {
  position: absolute;
  left: 32.5%;
  top: 30%;
  border-radius: 10px;
  background-color: #ffffff;
  width: 35%;
  height: 40%;
}

.span_cadastrarProducao {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
  top: 8px;
}

#nomeProdutoCad {
  outline: none;
  position: absolute;
  text-align: center;
  float: left;
  width: 80%;
  left: 10%;
  top: 25%;
}

#qtdeProdutoCad {
  outline: none;
  position: absolute;
  text-align: center;
  float: left;
  width: 40%;
  left: 5%;
  top: 45%;
}

#validadeProdutoCad {
  outline: none;
  position: absolute;
  text-align: center;
  float: left;
  width: 40%;
  left: 55%;
  top: 45%;
}

#valor {
  background: transparent;
  outline: none;
  position: absolute;
  text-align: center;
  float: left;
  width: 40%;
  left: 5%;
  top: 65%;
}

#valorPromocional {
  background: transparent;
  outline: none;
  position: absolute;
  text-align: center;
  float: left;
  width: 40%;
  left: 55%;
  top: 65%;
}

#inputSearchProduto {
  position: absolute;
  height: 4%;
  bottom: 1%;
  left: 62%;
}

#Produto {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
}

.div_telaInsumo {
  top: 10%;
  width: 100%;
  height: 90%;
  position: absolute;
}

.div_tabelaInsumos {
  position: absolute;
  top: 41px;
  height: calc(100% - 40px - 6%);
  width: 100%;
  background-color: #fff;
}

.div_rowsInsumos {
  height: 100%;
  overflow-y: auto;
}

#Edit {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(15, 20, 22, 0.3);
}

#div_insumoEdit {
  position: absolute;
  width: 30%;
  height: 35%;
  left: 35%;
  top: 32.5%;
  border-radius: 10px;
  background-color: #ffffff;
  display: table;
}

.span_editInsumo {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  color: #ffffff;
  top: 8px;
}

#input_nomeInsumoEdit {
  margin: 10% auto 0%;
  display: table;
  width: 80%;
  text-align: center;
  outline: none;
}

#quantidadeEdit {
  position: absolute;
  bottom: 40%;
  left: 25%;
  margin: 5% auto;
  display: table;
  width: 50%;
  text-align: center;
  outline: none;
}

#button_cancelarInsEdit {
  position: absolute;
  bottom: 1%;
  left: 1%;
}

#button_atualizarInsEdit {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

#button_cadastrarProd {
  position: absolute;
  border-radius: 10px;
  bottom: 7%;
  right: 5%;
}

#button_cancelarProd {
  position: absolute;
  border-radius: 10px;
  bottom: 7%;
  left: 5%;
}

.div_exclusaoInsumo {
  text-align: center;
}

.span_confirmacaoExclusao {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  top: 40px;
}

#button_naoExcluirProd {
  position: relative;
  width: 25px;
  height: 15%;
  left: -23%;
  margin-top: 25%;
  border-radius: 10px;
}

#button_simExcluirProd {
  position: relative;
  width: 25px;
  height: 15%;
  left: 60px;
  margin-top: 25%;
  border-radius: 10px;
}

#cadInsumoBack {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(15, 20, 22, 0.3);
}

#div_cadastroInsumo {
  position: absolute;
  width: 30%;
  height: 35%;
  left: 35%;
  top: 32.5%;
  border-radius: 10px;
  background-color: #ffffff;
  display: table;
}

.span_cadastrarInsumo {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  color: #ffffff;
  top: 8px;
}

#input_nomeInsumoCad {
  margin: 10% auto 0%;
  display: table;
  width: 80%;
  text-align: center;
  outline: none;
}

#quantidadeCad {
  bottom: 50%;
  left: 25%;
  display: table;
  width: 50%;
  text-align: center;
  outline: none;
  position: absolute;
}

#button_itemListaInsumo {
  width: 100%;
  height: 33%;
  border-bottom: 1px solid #ccc;
}

#button_cancelarCadInsumo {
  position: absolute;
  bottom: 1%;
  left: 1%;
}

#button_cadastrarInsumo {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

#inputSearchInsumo {
  position: absolute;
  height: 4%;
  bottom: 1%;
  left: 62%;
}

#Insumo {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
}

.div_telaFreezer {
  top: 10%;
  width: 100%;
  height: 90%;
  position: absolute;
}

.div_tabelaFreezer {
  position: absolute;
  top: 41px;
  height: calc(100% - 40px - 6%);
  width: 100%;
  background-color: #fff;
}

.div_rowsFreezer {
  height: 100%;
  overflow-y: auto;
}

#inputSearchFreezer {
  position: absolute;
  height: 4%;
  bottom: 1%;
  left: 62%;
}

#Freezer {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
}
