<div id="controle" class="mdl-card mdl-shadow--8dp showContent">
  <div class="div_telaControle">
    <div id="div_spanTitulo" class="mdl-card__title mdl-color--grey-900">
      <span id="span_iconUnarchive" class="material-icons">unarchive</span>
      <span id="span_tituloControle" class="descChar mdl-color-text--white">Controle</span>
    </div>
    <!-- TABELA CONTROLE -->
    <app-topBar [nomeBotaoA]="'Produções'" [widthButtonA]="33" [nomeBotaoB]="'Insumos'" [widthButtonB]="33"
      [nomeBotaoC]="'Temperatura do Freezer'" [widthButtonC]="33" [telaA]="'producao'" [nameTelaA]="'desc_produtoFinal'"
      [telaB]="'insumo'" [nameTelaB]="'desc_insumo'" [telaC]="'freezer'" [nameTelaC]="'id_freezer'"
      (handler)="telas($event)">
    </app-topBar>
  </div>
  <div class="div_telaProducao" *ngIf="tela == 'producao'">
    <!-- TABELA CONTROLE PRODUÇÕES -->
    <app-tableHead [nomeCampoA]="'Lote'" [widthA]="10" [nomeCampoB]="'Nome do Produto'" [widthB]="25"
      [nomeCampoC]="'Quantidade'" [widthC]="10" [nomeCampoD]="'Id'" [widthD]="5" [nomeCampoE]="'Validade'" [widthE]="15"
      [nomeCampoF]="'Valor'" [widthF]="10" [nomeCampoG]="'Promoção'" [widthG]="15" [nomeCampoH]="'Editar'" [widthH]="5"
      [nomeCampoI]="'Excluir'" [widthI]="5">
    </app-tableHead>
    <div class="div_tabelaProducao">
      <div id="rows" class="div_rowsProducao">
        <div *ngFor="let produtoFinal of resultadosFinais; let i = index">
          <!-- ROWS DA TABELA -->
          <app-tableBody [id]="produtoFinal.id_producao" [nomeCampoA]="produtoFinal.id_producao" [widthA]="10"
            [nomeCampoB]="produtoFinal.desc_produtoFinal" [widthB]="25" [nomeCampoC]="produtoFinal.qtdeProduzida"
            [widthC]="10" [nomeCampoD]="produtoFinal.id_produtoFinal" [widthD]="5"
            [nomeCampoE]="produtoFinal.dataValidadeFormatada" [widthE]="15"
            [nomeCampoF]="produtoFinal.valor_produtoFinal | currency:'BRL':true:'1.2-2'" [widthF]="10"
            [nomeCampoG]="produtoFinal.valorDesc_produtoFinal | currency:'BRL':true:'1.2-2'" [widthG]="15"
            [widthEditButton]="5" [eventoEdit]="'editarProduto-'" [widthExcludeButton]="5"
            [eventoExclude]="'excluirProduto-'" (handler)="dialog($event, produtoFinal.id_produtoFinal)">
          </app-tableBody>
          <div id="editarProducao" *ngIf="parametro == 'editarProduto-'+produtoFinal.id_producao">
            <div id="div_edicaoProducao" class="mdl-shadow--8dp">
              <div id="tituloProduto">
                <span class="span_editarProducao">Editar Produção</span>
              </div>
              <span class="span_produtoProduzidoEdicao">Produto Produzido</span>
              <input id="produto-{{produtoFinal.id_producao}}" type="text"
                class="inputDialog input_produtoProduzidoEdicao" (keyup)="filterProdutosEdit(produtoFinal.id_producao)"
                value="{{produtoFinal.desc_produtoFinal}}">
              <span class="span_qtdeAtualEdicao">Quantidade Atual</span>
              <input id="qtdeProdutoEdit" type="text" class="inputDialog" value="{{produtoFinal.qtdeProduzida}}">
              <span class="span_validadeEdicao">Validade</span>
              <input id="validadeProdutoEdit" type="date" class="inputDialog" value="{{produtoFinal.dataValidade}}">
              <span class="span_valorProdEdit">Valor</span>
              <input id="valorEdit" type="text" class="inputDialog" disabled
                value="{{produtoFinal.valor_produtoFinal | currency:'BRL':true:'1.2-2'}}">
              <span class="span_valorPromoEdit">Valor Promocional</span>
              <input id="valorPromoEdit" type="text" class="inputDialog" disabled
                value="{{produtoFinal.valorDesc_produtoFinal | currency:'BRL':true:'1.2-2'}}">
              <button id="button_cancelarProdEdit" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="dialog('fechar')">Cancelar</button>
              <button id="button_atualizarProdEdit" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="editarProducao(produtoFinal.id_producao)">Atualizar</button>
              <div id="listaAutoComplete" *ngIf="filtroStatus">
                <button *ngFor="let resultado of prodReceitas, let index=index"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect" id="button_filtroAutoComplete"
                  (click)="completarEdit(index, produtoFinal.id_producao)">{{resultado.desc_produtoFinal}}</button>
              </div>
            </div>
          </div>
          <div id="dialogApagarBack" *ngIf="parametro == 'excluirProduto-'+produtoFinal.id_producao">
            <div id="dialogApagarMain">
              <div id="title">
                <span class="span_excluirProd">Deseja Excluir?</span>
              </div>
              <div class="div_alignCenter">
                <span class="span_textoExcluirProd">Tem certeza de que deseja excluir esta produção?</span>
              </div>
              <button id="button_cancelarExcluirProd" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="dialog($event)">Não</button>
              <button id="button_excluirProd" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="excluirProducao(produtoFinal.id_producao)">Sim</button>
            </div>
          </div>
        </div>
        <text-dialog *ngIf="cadastro == 'Producao Editada'" [id]="'Confirmação de Edicao'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
        <text-dialog *ngIf="cadastro == 'Producao Excluida'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
        <div id="cadastrarProducao" *ngIf="parametro == 'cadastrarProducao'">
          <div id="div_cadastrarProducao" class="mdl-shadow--8dp">
            <div id="tituloProduto">
              <span class="span_cadastrarProducao">Cadastrar Produção</span>
            </div>
            <input id="nomeProdutoCad" type="text" class="inputDialog" [(ngModel)]="nomeProdutoCad"
              (keyup)="filterProdutos(nomeProdutoCad)" placeholder="Nome do Produto">
            <input id="qtdeProdutoCad" type="number" class="inputDialog" placeholder="Quantidade">
            <input id="validadeProdutoCad" type="date" class="inputDialog" placeholder="Validade">
            <input id="valor" type="text" class="inputDialog" disabled value="{{ valor | currency:'BRL':true:'1.2-2' }}"
              placeholder="Valor">
            <input id="valorPromocional" type="text" class="inputDialog" disabled
              value="{{ valorPromocional | currency:'BRL':true:'1.2-2'}}" placeholder="Valor Promocional">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" [style.left]="leftButtonA+'%'"
              [style.right]="rightButtonA+'%'" [style.height]="heightButtons+'%'" [style.width]="widthButtonA+'%'"
              [style.bottom]="bottomButtons+'%'" id="button_cancelarProd" (click)="dialog('fechar')">Cancelar</button>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" [style.left]="leftButtonB+'%'"
              [style.right]="rightButtonB+'%'" [style.height]="heightButtons+'%'" [style.width]="widthButtonA+'%'"
              [style.bottom]="bottomButtons+'%'" id="button_cadastrarProd"
              (click)="cadastrarProducao()">Cadastrar</button>
            <div id="listaAutoComplete2" *ngIf="filtroStatus">
              <button *ngFor="let resultado of produtosFiltrados, let index=index"
                class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="completar(index)">{{resultado.desc_produtoFinal}}</button>
            </div>
          </div>
        </div>
        <text-dialog *ngIf="cadastro == 'Producao Cadastrada'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
      </div>
    </div>
    <app-bottomBar [nomeBotao]="'Cadastrar Produção'" [evento]="'cadastrarProducao'" [id]="'ProdutoFinal'"
      (handler)="dialog($event)" (handlerB)="openInputSearch('Produto')"></app-bottomBar>
    <div id="inputSearchProduto" style="width:0">
      <input type="text" id="Produto" [(ngModel)]="filterResultsProducao"
        (keyup)="bottomFilterProducao(filterResultsProducao)" placeholder="Nome do Produto" />
    </div>
  </div>
  <div class="div_telaInsumo" *ngIf="tela == 'insumo'">
    <app-tableHead [nomeCampoA]="'Id'" [widthA]="10" [nomeCampoB]="'Nome do Insumo'" [widthB]="25"
      [nomeCampoC]="'Unidade'" [widthC]="10" [nomeCampoD]="'Quantidade Mínima'" [widthD]="15"
      [nomeCampoE]="'Quantiade Máxima'" [widthE]="15" [nomeCampoF]="'Qt Estoque'" [widthF]="10" [nomeCampoG]="'Editar'"
      [widthG]="5" [nomeCampoH]="'Excluir'" [widthH]="5">
    </app-tableHead>
    <div class="div_tabelaInsumos">
      <div id="rows" class='div_rowsInsumos'>
        <div *ngFor="let insumo of resultadosFinais">
          <app-tableBody [id]="insumo.id_insumo" [nomeCampoA]="insumo.id_insumo" [widthA]="10"
            [nomeCampoB]="insumo.desc_insumo" [widthB]="25" [nomeCampoC]="insumo.unidade_insumo" [widthC]="11"
            [nomeCampoD]="insumo.qtdeMin_insumo" [widthD]="14" [nomeCampoE]="insumo.qtdeMax_insumo" [widthE]="17"
            [nomeCampoF]="insumo.qtdeEstoque_insumo" [widthF]="8" [widthExcludeButton]="5"
            [eventoExclude]="'excluirInsumo-'" [widthEditButton]="5" [eventoEdit]="'editarInsumo-'"
            (handler)="dialog($event, insumo.desc_insumo, insumo.id_insumo)">
          </app-tableBody>
          <div *ngIf="parametro == 'editarInsumo-'+insumo.id_insumo" id='Edit'>
            <div id="div_insumoEdit" class="mdl-shadow--8dp">
              <div id="tituloProduto">
                <span class="span_editInsumo">Atualizar Insumo</span>
              </div>
              <input id="input_nomeInsumoEdit" type='text' class="inputDialog" placeholder="Nome do Insumo"
                [(ngModel)]='insumoEdit' (blur)='closeComplete()' (keyup)='filterComplete(insumoEdit)'>
              <div id="listaAutoComplete3" class="mdl-shadow--2dp" *ngIf="resultInsumo.length > 0">
                <button *ngFor="let insumo of resultInsumo, let index=index"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect"
                  (click)="insumoEdit = insumo.desc_insumo; insumoEditId = insumo.id_insumo">{{insumo.desc_insumo}}
                  ({{insumo.unidade_insumo}})</button>
              </div>
              <input type='number' id="quantidadeEdit" class="inputDialog" placeholder="Quantidade de Insumo"
                value="{{insumo.qtdeEstoque_insumo}}">
              <button id="button_cancelarInsEdit" class='mdl-button' (click)='dialog($event)'> Cancelar </button>
              <button id="button_atualizarInsEdit" class='mdl-button'
                (click)='editarEntrada(insumo.id_insumo)'>Atualizar</button>
            </div>
          </div>
          <div id="dialogApagarBack" *ngIf="parametro == 'excluirInsumo-'+insumo.id_insumo">
            <div id="dialogApagarMain">
              <div id="title">
                <span class="span_excluirProd">Deseja Excluir?</span>
              </div>
              <div class="div_exclusaoInsumo">
                <span class="span_confirmacaoExclusao">Tem
                  certeza de que deseja excluir este insumo?</span>
              </div>
              <button id="button_naoExcluirProd" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="dialog($event)">Não</button>
              <button id="button_simExcluirProd" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="excluirInsumo(insumo.desc_insumo)">Sim</button>
            </div>
          </div>
        </div>
        <div *ngIf="parametro == 'cadastrarEntrada'" id='cadInsumoBack'>
          <div id="div_cadastroInsumo" class="mdl-shadow--8dp">
            <div id="tituloProduto">
              <span class="span_cadastrarInsumo">Cadastrar Insumo</span>
            </div>
            <input id="input_nomeInsumoCad" type='text' class="inputDialog" placeholder="Nome do Insumo"
              [(ngModel)]='insumoComplete' (blur)='closeComplete()' (keyup)='filterComplete(insumoComplete)'>
            <div id="listaAutoComplete4" class="mdl-shadow--2dp" *ngIf="resultInsumo.length > 0">
              <button *ngFor="let insumo of resultInsumo, let index=index"
                class="mdl-button mdl-js-button mdl-js-ripple-effect" id="button_itemListaInsumo"
                (click)="insumoComplete = insumo.desc_insumo; insumoEditId = insumo.id_insumo">{{insumo.desc_insumo}}
                ({{insumo.unidade_insumo}})</button>
            </div>
            <input type='number' class="inputDialog" id="quantidadeCad" placeholder="Quantidade de Insumo">
            <button id="button_cancelarCadInsumo" class='mdl-button' (click)='dialog($event)'>Cancelar</button>
            <button id="button_cadastrarInsumo" class='mdl-button' (click)='cadastrarEntrada()'>Cadastrar</button>
          </div>
        </div>
        <text-dialog *ngIf="cadastro == 'Entrada Editada'" [id]="'Confirmação de Edicao'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
        <text-dialog *ngIf="cadastro == 'Producao Excluida'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
        <text-dialog *ngIf="cadastro == 'Entrada Cadastrada'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
      </div>
    </div>
    <app-bottomBar [nomeBotao]="'Cadastrar Entrada'" [evento]="'cadastrarEntrada'" (handler)="dialog($event)"
      (handlerB)="openInputSearch('Insumo')"></app-bottomBar>
    <div id="inputSearchInsumo" style="width:0">
      <input type="text" id="Insumo" [(ngModel)]="filterResultsInsumo" (keyup)="bottomFilterInsumo(filterResultsInsumo)"
        placeholder="Nome do Insumo" />
    </div>
  </div>
  <div class="div_telaFreezer" *ngIf="tela == 'freezer'">
    <app-tableHead [nomeCampoA]="'Id Registro'" [widthA]="10" [nomeCampoB]="'Temperatura'" [widthB]="20"
      [nomeCampoC]="'Id Freezer'" [widthC]="10" [nomeCampoD]="'Data'" [widthD]="22" [nomeCampoE]="'Temperatura Mínima'"
      [widthE]="15" [nomeCampoF]="'Temperatura Máxima'" [widthF]="15" [nomeCampoG]="'Editar'" [widthG]="5">
    </app-tableHead>
    <div class="div_tabelaFreezer">
      <div id="rows" class="div_rowsFreezer">
        <div *ngFor="let freezer of resultadosFinais">
          <app-tableBody [id]="freezer.id_registro" [nomeCampoA]="freezer.id_registro" [widthA]="10"
            [nomeCampoB]="freezer.temp_freezer+' ºC'" [widthB]="20" [nomeCampoC]="freezer.fk_idFreezer" [widthC]="10"
            [nomeCampoD]="freezer.data_freezerFormatada" [widthD]="22" [nomeCampoE]="freezer.tempMin_freezer+' ºC'"
            [widthE]="15" [nomeCampoF]="freezer.tempMax_freezer+' ºC'" [widthF]="15" [widthEditButton]="4"
            [eventoEdit]="'editarRegistro-'" (handler)="dialog($event)"></app-tableBody>
          <pattern-dialog *ngIf="parametro == 'editarRegistro-'+freezer.id_registro" (handler)="dialog($event)"
            (handlerB)="editarRegistro(freezer.id_registro,freezer.data_freezerFormatada)" [titulo]="'Editar Registro'"
            [divWidth]="30" [divHeight]="35" [bottomButtons]="7" [leftButtonA]="5" [rightButtonB]="5"
            [nomeBotaoA]="'Cancelar'" [nomeBotaoB]="'Atualizar'" [id]="'Edit'" [typeA]="'number'"
            [spanA]="'Id Registro'" [leftSpanA]="40" [topSpanA]="21" [sizeSpanA]="14" [topA]="30" [widthA]="80"
            [leftA]="10" [valueA]="freezer.id_registro" [tituloA]="'freezer'" [typeB]="'number'"
            [spanB]="'Temperatura (ºC)'" [leftSpanB]="33" [topSpanB]="49" [sizeSpanB]="14" [topB]="58" [widthB]="80"
            [leftB]="10" [valueB]="freezer.temp_freezer" [tituloB]="'temperatura'"></pattern-dialog>
        </div>
        <text-dialog *ngIf="cadastro == 'Registro Editado'" [id]="'Confirmacao de Edicao'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
        <pattern-dialog *ngIf="parametro == 'cadastrarRegistro'" (handler)="dialog($event)"
          (handlerB)="cadastrarRegistro()" [titulo]="'Cadastrar Registro'" [divWidth]="30" [divHeight]="35"
          [bottomButtons]="7" [leftButtonA]="5" [rightButtonB]="5" [nomeBotaoA]="'Cancelar'" [nomeBotaoB]="'Cadastrar'"
          [topA]="30" [id]="'Cad'" [typeA]="'number'" [widthA]="80" [leftA]="10" [placeholderA]="'ID Freezer'"
          [tituloA]="'freezer'" [typeB]="'number'" [topB]="58" [widthB]="80" [leftB]="10" [placeholderB]="'Temperatura'"
          [tituloB]="'temperatura'"></pattern-dialog>
        <text-dialog *ngIf="cadastro == 'Registro Cadastrado'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
      </div>
    </div>
    <app-bottomBar [nomeBotao]="'Cadastrar Registro'" [evento]="'cadastrarRegistro'" (handler)="dialog($event)"
      (handlerB)="openInputSearch('Freezer')"></app-bottomBar>
    <div id="inputSearchFreezer" style="width:0">
      <input type="text" id="Freezer" [(ngModel)]="filterResultsFreezer"
        (keyup)="bottomFilterFreezer(filterResultsFreezer)" placeholder="Id do Freezer" />
    </div>
  </div>
</div>