<div id="relatorios" class="mdl-card mdl-shadow--8dp showContent">
	<div id="divBts" *ngIf="filtrosRapidos">
		<button id="fiec1" class="mdl-button mdl-button--raised mdl-color--white descChar btRelatorio"
			(click)="filterVendaHojeFI()">
			<span> Relatório de Venda Diária </span>
			<br>
			<span class="span_botoesRelatorio">
				<b>FIEC I</b>
			</span>
		</button>
		<button id="fiec2" class="mdl-button mdl-button--raised mdl-color--white descChar btRelatorio"
			(click)="filterVendaHojeFII()">
			<span> Relatório de Venda Diária </span>
			<br>
			<span class="span_botoesRelatorio">
				<b>FIEC II</b>
			</span>
		</button>
		<button id="relatorioEstoque" class="mdl-button mdl-button--raised mdl-color--white descChar btRelatorio"
			(click)="openCompositeFilter('Produto')">
			<span> Relatório de Estoque </span>
			<br>
			<span class="span_botoesRelatorio">
				<b>PRODUTOS</b>
			</span>
		</button>
		<button id="relatorioProdDiaria" class="mdl-button mdl-button--raised mdl-color--white descChar btRelatorio"
			(click)="filterProducaoHoje()">
			<span class="span_botoesRelatorio">Relatório</span>
			<br>
			<span class="span_botoesRelatorio">
				<b>Produção Diária</b>
			</span>
		</button>
		<button id="relatorioVendaMensal" class="mdl-button mdl-button--raised mdl-color--white descChar btRelatorio"
			(click)="openCompositeFilter('Usuario')">
			<span class="span_botoesRelatorio"> Relatório de Venda Mensal</span>
			<br>
			<span class="span_botoesRelatorio">
				<b>Estagiário</b>
			</span>
		</button>
		<button id="filtroPersonalizado" class="mdl-button mdl-button--raised mdl-color--white descChar btRelatorio"
			(click)="openCompositeFilter('Compra')">
			<span class="span_botoesRelatorio">Filtro</span>
			<br>
			<span class="span_botoesRelatorio">
				<b>Personalizado</b>
			</span>
		</button>
	</div>
	<div class="mdl-card__title mdl-color--grey-900">
		<button id="button_iconArrow" (click)="filtrosRapidos = true; table = '' "
			class="mdl-button mdl-js-button mdl-button--icon">
			<i class="material-icons">arrow_back</i>
		</button>
		<span id="span_iconContent" class="material-icons">content_paste</span>
		<span id="span_relatorios" class="descChar mdl-color-text--white">Relatórios</span>
	</div>
	<div class="div_pdfStatus" *ngIf="pdfStatus">
		<div id="div_relatorioEscolhido" class="mdl-shadow--8dp">
			<div class="div_spanRelatorios">
				<span class="span_tituloRelatorios">Relatórios</span>
			</div>
			<div class="div_spanPdfText">
				<span class="span_pdfText"> {{pdfText}} </span>
			</div>
		</div>
	</div>
	<div id="idDiv">
		<span class="descChar mdl-color-text--white"> {{table}} </span>
	</div>
	<div id="compositeFilter">
		<div id="top">
			<div id="left">
			</div>
			<div id="middle">
				<button id="openFilter" class="mdl-button mdl-js-button" (click)="openFilter()">
					<i id="arrow" class="material-icons">keyboard_arrow_up</i>
				</button>
			</div>
		</div>
		<div id="main">
			<div id="options">
				<button id="button_options" class="mdl-button mdl-js-button mdl-js-ripple-effect"
					(click)="setTable('Compra')">
					Compra
				</button>
				<button id="button_options" class="mdl-button mdl-js-button mdl-js-ripple-effect"
					(click)="setTable('Insumo')">
					Insumo
				</button>
				<button id="button_options" class="mdl-button mdl-js-button mdl-js-ripple-effect"
					(click)="setTable('Producao')">
					Produção
				</button>
				<button id="button_options" class="mdl-button mdl-js-button mdl-js-ripple-effect"
					(click)="setTable('Produto')">
					Produto
				</button>
				<button id="button_options" class="mdl-button mdl-js-button mdl-js-ripple-effect"
					(click)="setTable('Receita')">
					Receita
				</button>
				<button id="button_options" class="mdl-button mdl-js-button mdl-js-ripple-effect"
					(click)="setTable('Venda')">
					Venda
				</button>
				<button id="button_options" class="mdl-button mdl-js-button mdl-js-ripple-effect"
					(click)="setTable('Usuario')">
					Venda Estagiário
				</button>
				<button id="button_options" class="mdl-button mdl-js-button mdl-js-ripple-effect"
					(click)="setTable('Freezer')">
					Freezer
				</button>
			</div>
			<div id="filtroCompra" *ngIf="filtroActive == 'filtroCompra'" class="setSize">
				<input class="ITFiltro" id="tituloCompra" type="text" placeholder="Título da Compra" />
				<input class="ITFiltro" currencyMask
					[options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" id="valorTotalCompra"
					[(ngModel)]="valorTotalCompra" type="text" placeholder="Valor da Compra (R$)" />
				<div id="data" class="div_opcoesCompra">
					<i id="icon_dateRange" class="material-icons">date_range</i>
					<span class="span_dataMinima">Data Mínima</span>
					<input class="ITFiltro input_dataMinima" id="dataIniCompra" type="date">
					<span class="span_dataMaxima">Data Máxima</span>
					<input class="ITFiltro input_dataMaxima" id="dataFimCompra" type="date">
				</div>
				<button id="btSearch" class="mdl-button mdl-js-button mdl-button--icon" (click)="search()">
					<i id="icon_search" class="material-icons">search</i>
				</button>
				<button id="bt_pdf" (click)="escolhaPdf('Compra','Escolha o PDF a ser gerado.',['Comum','Detalhado'])"
					class="mdl-button mdl-js-button mdl-button--icon">
					<i id="pdf" class="material-icons">picture_as_pdf</i>
				</button>
			</div>
			<div id="filtroInsumo" *ngIf="filtroActive == 'filtroInsumo'" class="setSize">
				<input class="ITFiltro" id="tituloInsumo" type="text" placeholder="Nome do Insumo" />
				<input class="ITFiltro" id="qtdeEstoque" type="number" placeholder="Quantidade em Estoque">
				<select id="unidade">
					<option disabled selected hidden>Unidades</option>
					<option *ngFor="let unidade of unidades" value="{{unidade}}"> {{unidade}} </option>
				</select>
				<button id="button_iconSearch" class="mdl-button mdl-js-button mdl-button--icon" (click)="search()">
					<i id="icon_search" class="material-icons">search</i>
				</button>
				<button id="bt_pdf" (click)="pdfTeste('insumo')" class="mdl-button mdl-js-button mdl-button--icon">
					<i id="pdf" class="material-icons">picture_as_pdf</i>
				</button>
			</div>
			<div id="filtroProducao" *ngIf="filtroActive == 'filtroProducao'" class="setSize">
				<input class="ITFiltro" id="tituloProducao" type="text" placeholder="Nome do Produto" />
				<select id="status">
					<option disabled selected hidden>Status</option>
					<option value="Ativo"> Ativo </option>
					<option value="Inativo"> Inativo </option>
				</select>
				<select id="tipos">
					<option disabled selected hidden>Tipo de Produto</option>
					<option *ngFor="let produto of produtos" value="{{produto}}"> {{produto}} </option>
				</select>
				<div id="data">
					<i id="icon_dateRange" class="material-icons">date_range</i>
					<span class="span_dataMinima">Data Mínima</span>
					<input class="ITFiltro input_dataMinima" id="dataIniProducao" type="date">
					<span class="span_dataMaxima">Data Máxima</span>
					<input class="ITFiltro input_dataMaxima" id="dataFimProducao" type="date">
				</div>
				<button class="mdl-button mdl-js-button mdl-button--icon" id="button_iconSearch" (click)="search()">
					<i class="material-icons">search</i>
				</button>
				<button id="bt_pdf" (click)="pdfTeste('producao')" class="mdl-button mdl-js-button mdl-button--icon">
					<i id="pdf" class="material-icons">picture_as_pdf</i>
				</button>
			</div>
			<div id="filtroProduto" *ngIf="filtroActive == 'filtroProduto'" class="setSize">
				<input class="ITFiltro" id="tituloProduto" type="text" placeholder="Nome do Produto" />
				<select id="status">
					<option disabled selected hidden>Status</option>
					<option value="Ativo"> Ativo </option>
					<option value="Inativo"> Inativo </option>
				</select>
				<select id="tipos">
					<option disabled selected hidden>Tipo de Produto</option>
					<option *ngFor="let produto of produtos" value="{{produto}}"> {{produto}} </option>
				</select>
				<input class="ITFiltro input_valorProduto" currencyMask
					[options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" id="valor"
					[(ngModel)]="produtoValor" type="text" placeholder="Valor (R$)" />
				<input class="ITFiltro input_valorPromoProduto" currencyMask
					[options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" id="valorPromo"
					[(ngModel)]="produtoValorPromo" type="text" placeholder="Valor Promocional (R$)" />
				<button class="mdl-button mdl-js-button mdl-button--icon" id="button_iconSearch" (click)="search()">
					<i id="pdf" class="material-icons">search</i>
				</button>
				<button id="bt_pdf" (click)="pdfTeste('produto')" class="mdl-button mdl-js-button mdl-button--icon">
					<i id="pdf" class="material-icons">picture_as_pdf</i>
				</button>
			</div>
			<div id="filtroReceita" *ngIf="filtroActive == 'filtroReceita'" class="setSize">
				<input class="ITFiltro input_tituloReceita" id="tituloReceita" type="text"
					placeholder="Nome da Receita" />
				<input class="ITFiltro input_rendimentoReceita" id="rendimento" type="number"
					placeholder="Rendimento" />
				<input class="ITFiltro input_tempoPreparo" id="tempo" type="number"
					placeholder="Tempo de Preparo (Min)" />
				<input class="ITFiltro input_custoReceita" currencyMask
					[options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" id="custo"
					[(ngModel)]="custoReceita" type="text" placeholder="Custo (R$)" />
				<button class="mdl-button mdl-js-button mdl-button--icon" id="button_iconSearch" (click)="search()">
					<i id="pdf" class="material-icons">search</i>
				</button>
				<button id="bt_pdf" (click)="pdfTeste('receita')" class="mdl-button mdl-js-button mdl-button--icon">
					<i id="pdf" class="material-icons">picture_as_pdf</i>
				</button>
			</div>
			<div id="filtroVenda" *ngIf="filtroActive == 'filtroVenda'" class="setSize">
				<input class="ITFiltro" id="total" type="text" currencyMask
					[options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }"
					[(ngModel)]="totalVenda" placeholder="Total Da Venda (R$)" />
				<input class="ITFiltro" id="comprador" type="number" placeholder="Cód. Comprador" />
				<input class="ITFiltro" id="funcionario" type="number" placeholder="Cód. Funcionario" />
				<div class="div_inputsVenda">
					<input type="checkbox" id="dinheiro" value="dinheiro">
					<span class="span_dinheiroVenda">Dinheiro</span>
					<br>
					<input type="checkbox" id="credito" value="credito">
					<span class="span_credito">Crédito</span>
					<br>
					<input type="checkbox" id="debito" value="debito">
					<span class="span_debito">Débito</span>
					<br>
					<input type="checkbox" id="fiec" value="fiec">
					<span class="span_cartaoFiec">Cartão
						FIEC</span>
					<br>
				</div>
				<!-- Filtro Horários -->
				<div class="div_filtroHorarios">
					<input type="radio" id="manha" name="horario">
					<span class="span_manha">Manhã</span>
					<br>
					<input type="radio" id="tarde" name="horario">
					<span class="span_tarde">Tarde</span>
					<br>
					<input type="radio" id="noite" name="horario">
					<span class="span_noite">Noite</span>
					<br>
				</div>
				<div id="data">
					<i id="icon_dateRange" class="material-icons">date_range</i>
					<span class="span_dataMinima">Data
						Mínima</span>
					<input class="ITFiltro input_dataMinima" id="dataIniVenda" type="date">
					<span class="span_dataMaxima">Data
						Máxima</span>
					<input class="ITFiltro input_dataMaxima" id="dataFimVenda" type="date">
				</div>
				<input type="checkbox" id="hoje" class="hoje" value="hoje" hidden>
				<span class="span_hoje"></span>
				<br>
				<button class="mdl-button mdl-js-button mdl-button--icon" id="button_iconSearch" (click)="search()">
					<i id="pdf" class="material-icons">search</i>
				</button>
				<button id="bt_pdf"
					(click)="escolhaPdf('Venda','Escolha o PDF a ser gerado.',['Comum','Detalhado','Produtos'])"
					class="mdl-button mdl-js-button mdl-button--icon">
					<i id="pdf" class="material-icons">picture_as_pdf</i>
				</button>
			</div>
			<div id="filtroUsuario" *ngIf="filtroActive == 'filtroUsuario'" class="setSize">
				<input class="ITFiltro" id="nomeFunc" type="text" placeholder="Nome Funcionário" />
				<input class="ITFiltro" id="codFunc" type="number" placeholder="Cód. Funcionario" />
				<h4 class="h4_filtroData"> Filtro por Data</h4>
				<div class="div_inputsFiltroData">
					<input type="radio" id="hoje" class="hoje2" name="horario" checked>
					<span class="span_hoje2">Hoje</span>
					<br>
					<input type="radio" id="mes" name="horario">
					<span class="span_mes">Deste
						Mês</span>
					<br>
				</div>
				<button class="mdl-button mdl-js-button mdl-button--icon" id="button_iconSearch" (click)="search()">
					<i class="material-icons">search</i>
				</button>
				<button id="bt_pdf" (click)="pdfTeste('estagiario')" class="mdl-button mdl-js-button mdl-button--icon">
					<i id="pdf" class="material-icons">picture_as_pdf</i>
				</button>
			</div>
			<div id="filtroFreezer" *ngIf="filtroActive == 'filtroFreezer'" class="setSize">
				<input class="ITFiltro" id="tituloFreezer" type="number" placeholder="Número do Freezer" />
				<input class="ITFiltro" id="tempMin" type="number" placeholder="Temperatura Mínima" />
				<input class="ITFiltro" id="tempMax" type="number" placeholder="Temperatura Máxima" />
				<div id="data">
					<i id="icon_dateRange" class="material-icons">date_range</i>
					<span class="span_dataMinima">Data
						Mínima</span>
					<input class="ITFiltro input_dataMinima" id="dataIniFreezer" type="date">
					<span class="span_dataMaxima">Data
						Máxima</span>
					<input class="ITFiltro input_dataMaxima" id="dataFimFreezer" type="date">
				</div>
				<button class="mdl-button mdl-js-button mdl-button--icon" id="button_iconSearch" (click)="search()">
					<i id="pdf" class="material-icons">search</i>
				</button>
			</div>
		</div>
	</div>
	<div *ngIf="table == 'Compra'" id="table" class="mdl-card mdl-shadow--24dp btRelatorio ">
		<app-tableHead [nomeCampoA]="'Id'" [widthA]="10" [nomeCampoB]="'Titulo da Compra'" [widthB]="50"
			[nomeCampoC]="'Data da Compra'" [widthC]="22" [nomeCampoD]="'Visualizar'" [widthD]="17"></app-tableHead>
		<div id="rows" class="rows_tabelaCompra">
			<div *ngFor="let compra of resultados; let position = index">
				<app-tableBody [id]="compra.id_compra" [nomeCampoA]="compra.id_compra" [widthA]="10"
					[nomeCampoB]="compra.desc_compra" [widthB]="50" [nomeCampoC]="compra.data_compraFormatada"
					[widthC]="22" [widthViewButton]="15" [eventoView]="'visualizarCompra-'"
					(handler)="viewCompras($event,position)"></app-tableBody>
				<div id="dialogVisualizarBack" *ngIf="viewParam == 'visualizarCompra-'+compra.id_compra">
					<div id="dialogVisualizarMain" class="mdl-shadow--8dp">
						<div id="title">
							<span class="span_compraDesc">{{compra.desc_compra}}</span>
						</div>
						<div id="inputs">
							<input type="text" id="titulo" class="inputDialog" value="{{compra.desc_compra}}"
								disabled />
							<span class="span_dataCompra">Data</span>
							<input type="text" class="inputDialog input_dataCompra"
								value="{{compra.data_compraFormatada}}" disabled />
							<span class="span_valorCompra">Valor</span>
							<input type="text" class="inputDialog input_valorCompra"
								value="{{compra.valor_compra | currency:'BRL':true:'1.2-2'}}" disabled />
						</div>
						<select class="select_fornecedorCompra" placeholder="Fornecedor" disabled>
							<option disabled selected hidden value="{{compra.razaoSocial}}">{{compra.razaoSocial}}
							</option>
						</select>
						<div id="rightSide">
							<div *ngFor="let produto of produtosCompra">
								<app-tableBody [nomeCampoA]="produto.nome" [widthA]="45" [nomeCampoB]="produto.qtde"
									[widthB]="20" [nomeCampoC]="produto.valor | currency:'BRL':true:'1.2-2'"
									[widthC]="15"></app-tableBody>
							</div>
						</div>
						<button id="button_closeView" class="mdl-button mdl-js-button mdl-js-ripple-effect"
							(click)="closeView('close')">Fechar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="table == 'Insumo'" id="table" class="mdl-card mdl-shadow--24dp btRelatorio div_telaInsumo">
		<app-tableHead [nomeCampoA]="'Id'" [widthA]="10" [nomeCampoB]="'Nome do Insumo'" [widthB]="50"
			[nomeCampoC]="'Quantidade em Estoque'" [widthC]="22" [nomeCampoD]="'Visualizar'" [widthD]="17">
		</app-tableHead>
		<div id="rows" class="div_rowsInsumo">
			<div *ngFor="let insumo of resultados; let position = index">
				<app-tableBody [id]="insumo.id_insumo" [nomeCampoA]="insumo.id_insumo" [widthA]="10"
					[nomeCampoB]="insumo.desc_insumo" [widthB]="50" [nomeCampoC]="insumo.qtdeEstoque_insumo"
					[widthC]="22" [widthViewButton]="15" [eventoView]="'visualizarInsumo-'"
					(handler)="view($event, index)"></app-tableBody>
				<pattern-dialog *ngIf="viewParam == 'visualizarInsumo-'+insumo.id_insumo" (handler)="closeView()"
					[titulo]="insumo.desc_insumo" [divWidth]="30" [divHeight]="40" [bottomButtons]="7"
					[leftButtonA]="35" [nomeBotaoA]="'Fechar'" [id]="'Edit'" [spanA]="'Nome do Insumo'" [leftSpanA]="34"
					[topSpanA]="18" [sizeSpanA]="14" [topA]="30" [widthA]="80" [leftA]="10"
					[valueA]="insumo.desc_insumo" [tituloA]="'IdInsumo'" [disabled]="true"
					[spanB]="'Quantidade Atual ('+insumo.unidade_insumo+')'" [leftSpanB]="28" [topSpanB]="48"
					[sizeSpanB]="14" [topB]="58" [widthB]="50" [leftB]="25" [valueB]="insumo.qtdeEstoque_insumo"
					[tituloB]="'quantidade'" [disabledB]="true"></pattern-dialog>
			</div>
		</div>
	</div>
	<div *ngIf="table == 'Producao'" id="table" class="mdl-card mdl-shadow--24dp btRelatorio div_telaProducao">
		<app-tableHead [nomeCampoA]="'Id'" [widthA]="10" [nomeCampoB]="'Nome do Produto'" [widthB]="50"
			[nomeCampoC]="'Quantidade Produzida'" [widthC]="15" [nomeCampoD]="'Data de Validade'" [widthD]="15"
			[nomeCampoE]="'Visualizar'" [widthE]="7"></app-tableHead>
		<div id="rows" class="div_rowsProducao">
			<div *ngFor="let producao of resultados; let position = index">
				<app-tableBody [id]="producao.id_producao" [nomeCampoA]="producao.id_producao" [widthA]="10"
					[nomeCampoB]="producao.desc_produtoFinal" [widthB]="50" [nomeCampoC]="producao.qtdeProduzida"
					[widthC]="15" [nomeCampoD]="producao.dataValidadeFormatada" [widthD]="15" [widthViewButton]="5"
					[eventoView]="'visualizarProduto-'" (handler)="view($event)"></app-tableBody>
				<pattern-dialog *ngIf="viewParam == 'visualizarProduto-'+producao.id_producao" (handler)="closeView()"
					[titulo]="producao.desc_produtoFinal" [divWidth]="40" [divHeight]="55" [bottomButtons]="7"
					[leftButtonA]="40" [nomeBotaoA]="'Fechar'" [spanA]="'Produto Produzido'" [id]="'Edit'"
					[leftSpanA]="37" [topSpanA]="15" [sizeSpanA]="14" [topA]="24" [widthA]="80" [leftA]="10"
					[valueA]="producao.desc_produtoFinal" [tituloA]="'nomeProduto'" [disabled]="true"
					[spanB]="'Quantidade Atual'" [leftSpanB]="13" [topSpanB]="37" [sizeSpanB]="14" [topB]="45"
					[widthB]="40" [leftB]="5" [valueB]="producao.qtdeProduzida" [tituloB]="'qtdeProduto'"
					[disabledB]="true" [spanC]="'Validade'" [leftSpanC]="69" [topSpanC]="37" [sizeSpanC]="14"
					[topC]="45" [widthC]="40" [leftC]="55" [valueC]="producao.dataValidadeFormatada"
					[tituloC]="'validadeProduto'" [disabledC]="true" [spanD]="'Valor'" [leftSpanD]="22" [topSpanD]="58"
					[sizeSpanD]="14" [topD]="65" [widthD]="40" [leftD]="5"
					[valueD]="producao.valor_produtoFinal | currency:'BRL':true:'1.2-2'" [disabledD]="true"
					[spanE]="'Valor Promocional'" [leftSpanE]="61" [topSpanE]="58" [sizeSpanE]="14" [topE]="65"
					[widthE]="40" [leftE]="55" [valueE]="producao.valorDesc_produtoFinal | currency:'BRL':true:'1.2-2'"
					[disabledE]="true"></pattern-dialog>
			</div>
		</div>
	</div>
	<div *ngIf="table == 'Produto'" id="table" class="mdl-card mdl-shadow--24dp btRelatorio div_telaProduto">
		<app-tableHead [nomeCampoA]="'Id'" [widthA]="10" [nomeCampoB]="'Nome do Produto'" [widthB]="50"
			[nomeCampoC]="'Tipo'" [widthC]="15" [nomeCampoD]="'Status'" [widthD]="15" [nomeCampoE]="'Visualizar'"
			[widthE]="7"></app-tableHead>
		<div id="rows" class="div_rowsProduto">
			<div *ngFor="let produto of resultados; let position = index">
				<app-tableBody [id]="produto.id_produtoFinal" [nomeCampoA]="produto.id_produtoFinal" [widthA]="10"
					[nomeCampoB]="produto.desc_produtoFinal" [widthB]="51" [nomeCampoC]="produto.tipo_produto"
					[widthC]="15" [nomeCampoD]="produto.status_produtoFinal" [widthD]="15" [widthViewButton]="5"
					[eventoView]="'visualizarProduto-'" (handler)="view($event)"></app-tableBody>
				<div id="dialogEditarBack" *ngIf="viewParam == 'visualizarProduto-'+produto.id_produtoFinal">
					<div class="mdl-card" id="dialogEditarMain-{{$index}}"
						class="mdl-shadow--8dp div_dialogEditarMainProduto">
						<div class="mdl-card__title mdl-color--grey-900" id="tituloProduto">
							<span class="descChar" id="span_tituloProduto">{{produto.desc_produtoFinal}}</span>
						</div>
						<div class="mdl-card__media mdl-grid mdl-color--white" id="div_conteudoViewProduto">
							<div id="leftSide" class="mdl-textfield mdl-js-textfield div_leftSide">
								<input type="text" class="inputDialog " id="nomeCadProdEdit"
									value="{{produto.desc_produtoFinal}}" disabled />
							</div>
							<div id="fileImages">
								<img src="./assets/images/{{produto.img_produtoFinal}}" class="img_produtoFinal">
							</div>
							<div class="div_produtoLeft">
								<span class="span_valoresProduto">Valor
									(R$)</span>
								<input type="text" class="inputDialog input_valoresProduto " id="valorProdutoEdit"
									value="{{produto.valor_produtoFinal}}" disabled />
								<span class="span_valoresProduto">Valor
									Promocional (R$)</span>
								<input type="text" class="inputDialog input_valoresProduto " id="valorPromocionalEdit"
									value="{{produto.valorDesc_produtoFinal}}" disabled />
								<span class="span_valoresProduto">Quantidade
									Mínima ({{produto.unidadeVenda_produtoFinal}})</span>
								<input type="text" class="inputDialog input_valoresProduto " id="qtdeMinimaEdit"
									value="{{produto.qtdeMin_produtoFinal}}" disabled />
								<span class="span_valoresProduto">Quantidade
									Máxima ({{produto.unidadeVenda_produtoFinal}})</span>
								<input type="text" class="inputDialog input_valoresProduto " id="qtdeMaxEdit"
									value="{{produto.qtdeMax_produtoFinal}}" disabled />
							</div>
							<div class="div_selectsProduto">
								<select id="unidadeCad" placeholder="Unidade" disabled>
									<option disabled selected hidden>{{produto.unidadeVenda_produtoFinal}}</option>
									<option *ngFor="let unidade of unidadesCadastro" value="{{unidade}}">{{unidade}}
									</option>
								</select>
								<select id="tipoCad" placeholder="Tipo do Produto" disabled>
									<option disabled selected hidden>{{produto.tipo_produto}}</option>
									<option *ngFor="let tipo of tiposCadastro" value="{{tipo}}">{{tipo}}</option>
								</select>
								<select id="statusCad" placeholder="Status" disabled>
									<option disabled selected hidden>{{produto.status_produtoFinal}}</option>
									<option *ngFor="let status of statusCadastro" value="{{status}}">{{status}}</option>
								</select>
							</div>
							<button id="button_fecharViewProduto" class="mdl-button mdl-js-ripple-effect"
								(click)="viewParam = false">
								<b> Fechar </b>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="table == 'Receita'" id="table" class="mdl-card mdl-shadow--24dp btRelatorio div_telaReceita">
		<app-tableHead [nomeCampoA]="'Id'" [widthA]="10" [nomeCampoB]="'Nome da Receita'" [widthB]="80"
			[nomeCampoC]="'Visualizar'" [widthC]="7"></app-tableHead>
		<div id="rows" class="div_rowsReceita">
			<div *ngFor="let receita of resultados; let position = index">
				<app-tableBody [id]="receita.id_receita" [nomeCampoA]="receita.id_receita" [widthA]="10"
					[nomeCampoB]="receita.desc_receita" [widthB]="80" [widthViewButton]="5"
					[eventoView]="'visualizarReceita-'" (handler)="viewReceita($event,position)"></app-tableBody>
				<div id="dialogVisualizarBack" *ngIf="viewParam == 'visualizarReceita-'+receita.id_receita">
					<div id="dialogVisualizarMain">
						<div id="title" class="div_tituloReceita">
							<span class="span_tituloReceita">Receita de {{receita.desc_receita}}</span>
						</div>
						<div id="top2">
							<div class="mdl-textfield mdl-js-textfield" id="div_conteudoViewReceita">
								<span class="span_rendimentoReceita">Rendimento</span>
								<input type="text" class="mdl-textfield__input inputDialog" id="redimentoReceita"
									value="{{receita.rendimento}}" disabled />
							</div>
							<div class="mdl-textfield mdl-js-textfield" id="div_tempoPreparo">
								<span class="span_tempoPreparo">Tempo de Preparo</span>
								<input type="text" class="mdl-textfield__input inputDialog" id="tempoPreparoReceita"
									value="{{receita.tempoPreparo_receita}}" disabled />
							</div>
						</div>
						<div id="addIns">
							<div id="leftSide" class="div_leftSide2">
								<span id="subTitle" class="span_subtitleIngredientes">Ingredientes</span>
								<br>
							</div>
							<div id="rightSide" class="div_rightSide">
								<div *ngFor="let ingrediente of ingredientes; let index = index">
									<app-tableBody [nomeCampoA]="ingrediente.nome" [widthA]="60"
										[nomeCampoB]="ingrediente.qtde" [widthB]="30" [id]="index"></app-tableBody>
								</div>
							</div>
						</div>
						<div id="modoPreparo">
							<span id="subTitle" class="span_subtitleModoPreparo">Modo de Preparo</span>
							<br>
							<textarea class="textarea_modoPreparo" value="{{receita.modoPreparo_receita}}"
								disabled></textarea>
						</div>
						<button id="button_fecharViewReceita" class="mdl-button mdl-js-button mdl-js-ripple-effect"
							(click)="closeView()">
							Fechar
						</button>
						<button id="button_gerarReceita" class="mdl-button mdl-js-button "
							(click)="view('pdf-'+receita.id_receita)">
							Gerar Receita
						</button>
					</div>
				</div>
				<div *ngIf="viewParam == 'pdf-'+receita.id_receita">
					<div class="mdl-shadow--8dp" id="div_viewProducao">
						<div id="title">
							<span class="span_pdfProducao">PDF de Produção</span>
						</div>
						<div id="subtitle" class="div_producaoARealizar">
							<span class="span_subtitulos">Produção a ser Realizada:</span>
						</div>
						<div class="div_subtituloReceita">
							<span class="span_subtitulos">{{receita.desc_receita}}</span>
						</div>
						<div class="mdl-textfield mdl-js-textfield" id="div_qtdeProducao">
							<input type="number" class="mdl-textfield__input inputDialog" id="qtdeProducao"
								[(ngModel)]="quantReceita" placeholder="Quantidade" />
						</div>
						<button id="button_cancelarView" class="mdl-button mdl-js-button mdl-js-ripple-effect"
							(click)="closeView()">
							Cancelar
						</button>
						<button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="button_gerarPdfTeste"
							(click)="pdfTeste('receitaAula', receita.id_receita, quantReceita)">
							Gerar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="table == 'Venda'" id="table" class="mdl-card mdl-shadow--24dp btRelatorio  btRelatorio div_telaVenda">
		<app-tableHead [nomeCampoA]="'Id'" [widthA]="15" [nomeCampoB]="'Data da Venda'" [widthB]="30"
			[nomeCampoC]="'Valor da Venda (R$)'" [widthC]="30" [nomeCampoD]="'Visualizar'" [widthD]="22">
		</app-tableHead>
		<div id="rows" class="div_rowsVenda">
			<div *ngFor="let venda of resultados; let position = index">
				<app-tableBody [id]="venda.id_venda" [nomeCampoA]="venda.id_venda" [widthA]="15"
					[nomeCampoB]="venda.data_vendaFormatada" [widthB]="30"
					[nomeCampoC]="venda.total_venda | currency:'BRL':true:'1.2-2'" [widthC]="30" [widthViewButton]="20"
					[eventoView]="'visualizarVenda-'" (handler)="view($event)"></app-tableBody>
				<pattern-dialog *ngIf="viewParam == 'visualizarVenda-'+venda.id_venda" (handler)="closeView()"
					[titulo]="'Visualizar Venda'" [margin]="5" [divWidth]="40" [divHeight]="70" [bottomButtons]="7"
					[leftButtonA]="37" [nomeBotaoA]="'Fechar'" [spanA]="'Data da Venda'" [leftSpanA]="38"
					[topSpanA]="14" [sizeSpanA]="15" [topA]="20" [widthA]="80" [leftA]="10"
					[valueA]="venda.data_vendaFormatada" [disabled]="true" [spanB]="'Cód. Venda'" [leftSpanB]="19"
					[topSpanB]="30" [sizeSpanB]="15" [topB]="37" [widthB]="30" [leftB]="15" [valueB]="venda.id_venda"
					[disabledB]="true" [spanC]="'Total da Venda'" [leftSpanC]="56" [topSpanC]="30" [sizeSpanC]="15"
					[topC]="37" [widthC]="30" [leftC]="55" [valueC]="venda.total_venda | currency:'BRL':true:'1.2-2'"
					[disabledC]="true" [spanD]="'Cód. Vendedor'" [leftSpanD]="16" [topSpanD]="45" [sizeSpanD]="15"
					[topD]="52" [widthD]="30" [leftD]="15" [valueD]="venda.fk_usu_venda" [disabledD]="true"
					[spanE]="'Cód. Comprador'" [leftSpanE]="55" [topSpanE]="45" [sizeSpanE]="15" [topE]="52"
					[widthE]="30" [leftE]="55" [valueE]="venda.fk_venda_cartao" [disabledE]="true"
					[spanF]="'Dinheiro (R$)'" [leftSpanF]="18" [topSpanF]="60" [sizeSpanF]="15" [topF]="65"
					[widthF]="30" [leftF]="15" [valueF]="venda.pag_dinheiro | currency:'BRL':true:'1.2-2'"
					[disabledF]="true" [spanG]="'Débito (R$)'" [leftSpanG]="60" [topSpanG]="60" [sizeSpanG]="15"
					[topG]="65" [widthG]="30" [leftG]="55" [valueG]="venda.pag_debito | currency:'BRL':true:'1.2-2'"
					[disabledG]="true" [spanH]="'Crédito (R$)'" [leftSpanH]="19" [topSpanH]="70" [sizeSpanH]="15"
					[topH]="75" [widthH]="30" [leftH]="15" [valueH]="venda.pag_credito | currency:'BRL':true:'1.2-2'"
					[disabledH]="true" [spanI]="'Cartão FIEC'" [leftSpanI]="59" [topSpanI]="70" [sizeSpanI]="15"
					[topI]="75" [widthI]="30" [leftI]="55" [valueI]="venda.pag_cardFiec | currency:'BRL':true:'1.2-2'"
					[disabledI]="true"></pattern-dialog>
			</div>
		</div>
	</div>
	<div *ngIf="table == 'Usuario'" id="table" class="mdl-card mdl-shadow--24dp btRelatorio div_telaUsuario">
		<app-tableHead [nomeCampoA]="'Id'" [widthA]="25" [nomeCampoB]="'Nome do Funcionário'" [widthB]="50"
			[nomeCampoC]="'Quantidade Vendida'" [widthC]="25"></app-tableHead>
		<div id="rows" class="div_rowsUsuario">
			<div *ngFor="let usu of resultados; let position = index">
				<app-tableBody [id]="'Id'" [nomeCampoA]="usu.usu_id" [widthA]="25" [nomeCampoB]="usu.usu_nome"
					[widthB]="50" [nomeCampoC]="usu.total_vendido | currency:'BRL':true:'1.2-2'" [widthC]="25">
				</app-tableBody>
			</div>
		</div>
	</div>
	<div *ngIf="table == 'Freezer'" id="table" class="mdl-card mdl-shadow--24dp btRelatorio div_telaFreezer">
		<app-tableHead [nomeCampoA]="'Id'" [widthA]="10" [nomeCampoB]="'Temperatura Registrada'" [widthB]="50"
			[nomeCampoC]="'Data do Registro'" [widthC]="22" [nomeCampoD]="'Visualizar'" [widthD]="17"></app-tableHead>
		<div id="rows" class="div_rowsFreezer">
			<div *ngFor="let freezer of resultados; let position = index">
				<app-tableBody [id]="freezer.id_freezer" [nomeCampoA]="freezer.id_freezer" [widthA]="10"
					[nomeCampoB]="freezer.temp_freezer" [widthB]="50" [nomeCampoC]="freezer.data_freezerFormatada"
					[widthC]="22" [widthViewButton]="15" [eventoView]="'visualizarRegistro-'" (handler)="view($event)">
				</app-tableBody>
				<pattern-dialog *ngIf="viewParam == 'visualizarRegistro-'+freezer.id_freezer" (handler)="closeView()"
					[titulo]="'Visualizar Registro'" [divWidth]="20" [divHeight]="35" [bottomButtons]="7"
					[leftButtonA]="37" [nomeBotaoA]="'Fechar'" [id]="'Edit'" [spanA]="'Id Freezer'" [leftSpanA]="40"
					[topSpanA]="18" [sizeSpanA]="14" [topA]="26" [widthA]="80" [leftA]="10"
					[valueA]="freezer.id_freezer" [tituloA]="'freezer'" [disabled]="true" [spanB]="'Temperatura (ºC)'"
					[leftSpanB]="33" [topSpanB]="39" [sizeSpanB]="14" [topB]="47" [widthB]="80" [leftB]="10"
					[valueB]="freezer.temp_freezer" [tituloB]="'temperatura'" [disabledB]="true"
					[spanC]="'Data Cadastrada'" [leftSpanC]="33" [topSpanC]="59" [sizeSpanC]="14" [topC]="70"
					[widthC]="80" [leftC]="10" [valueC]="freezer.data_freezerFormatada" [tituloC]="'temperatura'"
					[disabledC]="true"></pattern-dialog>
			</div>
		</div>
	</div>
</div>