select {
  border: 1px solid #ffffff;
  background: solid #ffffff;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  outline: none;
  height: 34px;
  border-radius: 3px;
}

.inputDialog {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
}

.inputDialog:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid red;
}

.ITFiltro {
  background-color: #2d2c2c;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
  color: #ffffff;
  text-align: center;
}

select {
  border: 1px solid black;
  background: solid transparent;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  outline: none;
  height: 34px;
  border-radius: 3px;
}

#compositeFilter {
  top: 96.5%;
  position: absolute;
  height: 33%;
  width: 100%;
  z-index: 2;
  outline: none;
}

@keyframes up {
  0% {
    top: 96.5%;
  }
  100% {
    top: 67%;
  }
}

@keyframes down {
  0% {
    top: 67%;
  }
  100% {
    top: 96.5%;
  }
}

@keyframes setSize {
  0% {
    left: 2%;
    width: 0%;
    height: 0%;
  }
  100% {
    left: 2%;
    width: 70%;
    height: 85%;
  }
}

.turnUp {
  animation: up 1s forwards;
  top: 67%;
}

.turnDown {
  -webkit-animation-name: down;
  -webkit-animation-duration: 1s;
  top: 96.5%;
}

.setSize {
  -webkit-animation-name: setSize;
  -webkit-animation-duration: 0.75s;
  left: 2%;
  width: 70%;
  height: 85%;
}

::-webkit-input-placeholder {
  color: #e2e2e2;
}

@keyframes btRelatorioAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.btRelatorio {
  animation: btRelatorioAnim 0.3s forwards;
}

@keyframes btAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    animation-fill-mode: forwards;
    color: #f44336;
    transform: rotate(180deg);
  }
}

.btAnim {
  animation: btAnim 0.5s forwards;
  -webkit-animation: btAnim 0.8s forwards;
  color: #f44336;
  transform: rotate(180deg);
}

@keyframes btAnim_hide {
  from {
    color: #f44336;
    transform: rotate(180deg);
  }
  to {
    animation-fill-mode: forwards;
    transform: rotate(0deg);
  }
}

.btAnim_hide {
  animation: btAnim_hide 0.5s forwards;
  -webkit-animation: btAnim_hide 0.8s forwards;
  color: #ffffff;
  transform: rotate(0deg);
}

.span_botoesRelatorio {
  font-size: 18px;
}

#relatorios {
  display: table;
  margin: 0px auto;
  position: absolute;
  z-index: 14;
  background: url("../../../assets/images/wallpaper10.jpg");
}

#divBts {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: url("../../../assets/images/wallpaper10.jpg");
}

#fiec1 {
  position: absolute;
  height: 20%;
  width: 20%;
  left: 10%;
  top: 20%;
  float: left;
  margin: 15px;
  border-radius: 8px;
  background: #ccc;
}

#fiec2 {
  position: absolute;
  height: 20%;
  width: 20%;
  left: 40%;
  top: 20%;
  float: left;
  margin: 15px;
  border-radius: 8px;
}

#relatorioEstoque {
  position: absolute;
  height: 20%;
  width: 20%;
  left: 70%;
  top: 20%;
  float: left;
  margin: 15px;
  border-radius: 8px;
}

#relatorioProdDiaria {
  position: absolute;
  height: 20%;
  width: 20%;
  left: 10%;
  top: 50%;
  float: left;
  margin: 15px;
  border-radius: 8px;
}

#relatorioVendaMensal {
  position: absolute;
  height: 20%;
  width: 20%;
  left: 40%;
  top: 50%;
  float: left;
  margin: 15px;
  border-radius: 8px;
}

#filtroPersonalizado {
  position: absolute;
  height: 20%;
  width: 20%;
  left: 70%;
  top: 50%;
  float: left;
  margin: 15px;
  border-radius: 8px;
}

#button_iconArrow {
  position: absolute;
  left: 5%;
  color: #fff;
}

#span_iconContent {
  position: absolute;
  top: 15px;
  color: #f44336;
}

#span_relatorios {
  display: table;
  margin: 0 auto;
}

.div_pdfStatus {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(99, 99, 99, 0.6);
  z-index: 998;
}

#div_relatorioEscolhido {
  position: absolute;
  background: #fff;
  width: 30%;
  height: 25%;
  top: 25%;
  left: 35%;
  border-radius: 15px;
}

.div_spanRelatorios {
  position: absolute;
  width: 100%;
  height: 25%;
  background: #424242;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.span_tituloRelatorios {
  color: #fff;
  margin: 2% auto;
  display: table;
  font-size: 22px;
}

.div_spanPdfText {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 25%;
}

.span_pdfText {
  margin: 10% auto;
  display: table;
  font-size: 28px;
  max-width: 80%;
}

#idDiv {
  position: absolute;
  height: 5%;
  width: 100%;
  background: #2d2c2c;
}

#idDiv span {
  top: 30%;
  left: 48%;
  position: absolute;
}

#top {
  height: 10%;
  position: absolute;
  width: 100%;
}

#left {
  width: 100%;
  height: 73%;
  position: relative;
  display: inline-table;
  top: 38%;
  background: #2d2c2c;
}

#middle {
  width: 10%;
  height: 100%;
  left: 45%;
  position: absolute;
  top: 12%;
  display: inline-table;
  background: #2d2c2c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#openFilter {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#arrow {
  color: #fff;
  margin: 0% auto;
  display: table;
}

#main {
  height: 89%;
  width: 100%;
  background: #2d2c2c;
  position: absolute;
  top: 11%;
  overflow-y: auto;
}

#options {
  width: 25%;
  height: 100%;
  border-right: 1px solid #ffffff;
  display: inline-table;
  float: left;
  z-index: 2;
}

#button_options {
  width: 100%;
  color: #ffffff;
  height: 13%;
}

#filtroCompra {
  position: relative;
  border-radius: 10px;
  border: 1px solid #ffffff;
  display: inline-table;
  float: left;
}

#tituloCompra {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 40%;
  left: 10%;
  top: 25.3%;
}

#valorTotalCompra {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 40%;
  left: 10%;
  top: 62.6%;
}

.div_opcoesCompra {
  position: absolute;
  top: 10%;
  left: 60%;
  width: 22%;
  height: 80%;
}

#icon_dateRange {
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  left: 45%;
}

.span_dataMinima {
  position: absolute;
  color: #ffff;
  font-size: 18px;
  top: 19%;
  width: 42%;
  left: 30%;
}

.input_dataMinima {
  position: absolute;
  font-size: 18px;
  height: 12%;
  top: 30%;
  width: 100%;
}

.span_dataMaxima {
  position: absolute;
  color: #ffff;
  font-size: 18px;
  top: 54%;
  width: 42%;
  left: 30%;
}

.input_dataMaxima {
  position: absolute;
  font-size: 18px;
  height: 12%;
  top: 65%;
  width: 100%;
}

#btSearch {
  position: absolute;
  width: 3%;
  color: #ffffff;
  height: 10%;
  top: 60%;
  left: 87%;
}

#icon_search {
  width: 45%;
  height: 50%;
  color: #ffffff;
}

#bt_pdf {
  position: absolute;
  left: 87%;
  top: 22%;
  height: 10%;
  width: 3%;
  color: #ffffff;
}

#pdf {
  width: 45%;
  height: 50%;
  color: #ffffff;
}

#filtroInsumo,
#filtroProducao,
#filtroProduto,
#filtroReceita,
#filtroVenda,
#filtroUsuario,
#filtroFreezer {
  position: relative;
  border-radius: 10px;
  border: 1px solid #ffffff;
  display: inline-table;
  float: left;
}

#tituloInsumo {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 30%;
  left: 5%;
  top: 40%;
}

#qtdeEstoque {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 18%;
  left: 40%;
  top: 40%;
}

#unidade {
  position: absolute;
  left: 65%;
  top: 41%;
}

#button_iconSearch {
  position: absolute;
  width: 3%;
  color: #ffffff;
  height: 10%;
  top: 60%;
  left: 87%;
}

#tituloProducao {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 30%;
  left: 5%;
  top: 40%;
}

#tituloProduto {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 100%;
  left: 0%;
  top: -35px;
}

#status {
  position: absolute;
  left: 28%;
  top: 60%;
}

#tipos {
  position: absolute;
  left: 17%;
  top: 30%;
}

#data {
  position: absolute;
  top: 10%;
  left: 65%;
  width: 22%;
  height: 80%;
}

.input_valorProduto {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 16%;
  left: 70%;
  top: 20%;
}

.input_valorPromoProduto {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 16%;
  left: 70%;
  top: 50%;
}

.input_tituloReceita {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 30%;
  left: 15%;
  top: 30%;
}

.input_rendimentoReceita {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 30%;
  left: 15%;
  top: 65%;
}

.input_tempoPreparo {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 30%;
  left: 50%;
  top: 30%;
}

.input_custoReceita {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 30%;
  left: 50%;
  top: 65%;
}

#total {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 55%;
  left: 5%;
  top: 5%;
}

#comprador {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 20%;
  left: 5%;
  top: 28%;
}

#funcionario {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 20%;
  left: 5%;
  top: 55%;
}

.div_inputsVenda {
  position: absolute;
  top: 20%;
  left: 27%;
  width: 15%;
  height: 65%;
}

#dinheiro {
  position: absolute;
  left: 0%;
  top: 10%;
}

.span_dinheiroVenda {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  left: 20%;
  top: 10%;
}

#credito {
  position: absolute;
  left: 0%;
  top: 35%;
}

.span_credito {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  left: 20%;
  top: 35%;
}

#debito {
  position: absolute;
  left: 0%;
  top: 60%;
}

.span_debito {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  left: 20%;
  top: 60%;
}

#fiec {
  position: absolute;
  left: 0%;
  top: 85%;
}

.span_cartaoFiec {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  left: 20%;
  top: 85%;
}

.div_filtroHorarios {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 15%;
  height: 60%;
}

#manha {
  position: absolute;
  left: 0%;
  top: 10%;
}

.span_manha {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  left: 20%;
  top: 10%;
}

#tarde {
  position: absolute;
  left: 0%;
  top: 35%;
}

.span_tarde {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  left: 20%;
  top: 35%;
}

#noite {
  position: absolute;
  left: 0%;
  top: 60%;
}

.span_noite {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  left: 20%;
  top: 60%;
}

.hoje {
  position: absolute;
  left: 73%;
  top: 80%;
}

.span_hoje {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  left: 20%;
  top: 10%;
}

#nomeFunc {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 35%;
  left: 5%;
  top: 28%;
}

#codFunc {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 35%;
  left: 5%;
  top: 55%;
}

.h4_filtroData {
  position: absolute;
  left: 50%;
  top: 0%;
  color: #fff;
}

.div_inputsFiltroData {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 15%;
  height: 60%;
}

.hoje2 {
  position: absolute;
  left: 0%;
  top: 10%;
}

.span_hoje2 {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  left: 20%;
  top: 10%;
}

#mes {
  position: absolute;
  left: 0%;
  top: 35%;
}

.span_mes {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  left: 20%;
  top: 35%;
}

#tituloFreezer {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 30%;
  left: 15%;
  top: 10%;
}

#tempMin {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 30%;
  left: 15%;
  top: 40%;
}

#tempMax {
  position: absolute;
  font-size: 18px;
  height: 12%;
  width: 30%;
  left: 15%;
  top: 70%;
}

#table {
  position: absolute;
  height: 80%;
  width: 95%;
  left: 2.5%;
  top: 13.5%;
  border-radius: 10px;
}

.rows_tabelaCompra {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 41px;
  overflow-y: auto;
}

#title {
  position: relative;
  width: 100%;
  height: 9%;
  text-align: center;
  background-color: #2d2c2c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.span_compraDesc {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
  top: 8px;
}

#inputs {
  height: 22%;
  width: 100%;
}

#titulo {
  outline: none;
  margin-top: 25px;
  margin-left: 10%;
  width: 80%;
  float: left;
  text-align: center;
  color: black;
}

.span_dataCompra {
  position: absolute;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  left: 26%;
  top: 21%;
}

.input_dataCompra {
  outline: none !important;
  margin-top: 8% !important;
  margin-left: 12% !important;
  width: 35% !important;
  float: left !important;
  text-align: center !important;
  color: black !important;
}

.span_valorCompra {
  position: absolute;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  left: 62%;
  top: 21%;
}

.input_valorCompra {
  outline: none;
  margin-top: 8%;
  margin-left: 20px;
  width: 35%;
  float: left;
  text-align: center;
  color: black;
}

.select_fornecedorCompra {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  margin-top: 25px;
  margin-bottom: 25px;
  float: left;
  border: 1px solid black;
}

#button_closeView {
  width: 25%;
  height: 7%;
  left: 37%;
  margin-top: 5%;
  border-radius: 10px;
}

.div_telaInsumo {
  position: absolute !important;
  height: 80% !important;
  width: 95% !important;
  left: 2.5% !important;
  top: 13.5% !important;
  border-radius: 10px !important;
}

.div_rowsInsumo {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 41px;
  overflow-y: auto;
}

.div_telaProducao {
  position: absolute !important;
  height: 80% !important;
  width: 95% !important;
  left: 2.5% !important;
  top: 13.5% !important;
  border-radius: 10px !important;
}

.div_rowsProducao {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 41px;
  overflow-y: auto;
}

.div_telaProduto {
  position: absolute;
  height: 80%;
  width: 95%;
  left: 2.5%;
  top: 13.5%;
  border-radius: 10px;
}

.div_rowsProduto {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 41px;
  overflow-y: auto;
}

#dialogEditarBack {
  position: fixed;
  top: 0%;
  height: 100%;
  width: 100%;
  left: 0px;
  background: rgba(15, 20, 22, 0.3);
}

.div_dialogEditarMainProduto {
  position: absolute !important;
  left: 30% !important;
  top: 20% !important;
  border-radius: 10px !important;
  min-width: 40% !important;
  max-height: 555px !important;
  min-height: 60% !important;
  max-width: 570px !important;
  background-color: #fff !important;
}

#tituloProduto {
  border-top: 1px solid #3c3c3c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#span_tituloProduto {
  display: table;
  margin: 0 auto;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 25px;
  color: #fff;
}

#div_conteudoViewProduto {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.div_leftSide {
  width: 100% !important;
  height: 15% !important;
  margin: 0 auto !important;
  display: table !important;
}

#nomeCadProdEdit {
  text-align: center;
  margin: 0 auto;
  float: left;
  margin-left: 5%;
  width: 90%;
  outline: none;
}

#fileImages {
  width: 40%;
  min-width: 150px;
  min-height: 150px;
  max-height: 220px;
  max-width: 40%;
  float: left;
  margin-left: 5%;
  background-size: 100% 100%;
  background-position: center;
}

.img_produtoFinal {
  position: relative;
  width: 100%;
  height: 100%;
}

.div_produtoLeft {
  width: 50%;
  float: left;
}

.span_valoresProduto {
  font-weight: bold;
  font-size: 14px;
  margin: 0% auto;
  display: table;
}

.input_valoresProduto {
  text-align: center;
  outline: none;
  margin-bottom: 2%;
  width: 100%;
}

.div_selectsProdutos {
  margin: 0% auto 10%;
  display: table;
  width: 100%;
}

#unidadeCad {
  width: 30%;
  text-align: center;
  float: left;
  margin-left: 6%;
  margin-top: 6%;
}

#tipoCad {
  width: 30%;
  text-align: center;
  float: left;
  margin-left: 2.5%;
  margin-top: 6%;
}

#statusCad {
  width: 22%;
  text-align: center;
  float: left;
  margin-left: 2.5%;
  margin-top: 6%;
}

#button_fecharViewProduto {
  position: absolute;
  bottom: 0%;
  width: 100%;
  left: 0%;
}

.div_telaReceita {
  position: absolute !important;
  height: 80% !important;
  width: 95% !important;
  left: 2.5% !important;
  top: 13.5% !important;
  border-radius: 10px !important;
}

.div_rowsReceita {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 41px;
  overflow-y: auto;
}

#dialogVisualizarBack {
  position: fixed;
  top: 0%;
  height: 100%;
  width: 100%;
  left: 0px;
  background: rgba(15, 20, 22, 0.3);
}

#dialogVisualizarMain {
  position: absolute;
  top: 0%;
  left: 22.5%;
  border-radius: 10px;
  width: 45%;
  height: 97%;
  background-color: #ffffff;
}

.span_tituloReceita {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
  top: 8px;
}

#top2 {
  display: inline-table;
  position: relative;
  width: 99%;
  height: 10%;
}

#div_conteudoViewReceita {
  float: left;
  width: 40%;
  text-align: center;
  margin-left: 5%;
}

.span_rendimentoReceita {
  font-weight: bold;
}

.div_tituloReceita {
  height: 55px !important;
}

#redimentoReceita {
  outline: none;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-left: 5%;
}

#div_tempoPreparo {
  float: left;
  width: 40%;
  text-align: center;
  margin-left: 5%;
}

.span_tempoPreparo {
  font-weight: bold;
}

#tempoPreparoReceita {
  outline: none;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-left: 5%;
}

#addIns {
  position: relative;
  width: 95%;
  margin-left: 11px;
  height: 28%;
  border-radius: 10px;
}

.div_leftSide2 {
  height: 10%;
  width: 99%;
  float: left;
  margin-left: 5%;
}

.span_subtitleIngredientes {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 38%;
}

.div_rightSide {
  height: 70%;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  float: left;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow-y: auto;
}

#modoPreparo {
  position: relative;
  width: 99%;
  height: 30%;
  text-align: center;
}

.span_subtitleModoPreparo {
  font-weight: bold;
  font-family: roboto;
  font-size: 15px;
}

.span_subtitulos {
  position: relative;
  font-family: "roboto", sans-serif;
  font-size: 18px;
  color: black;
  top: 15px;
}

.span_subtituloReceita {
  position: relative;
  width: 100%;
  height: 10%;
  text-align: center;
  margin-top: 2%;
}

.textarea_modoPreparo {
  position: relative;
  width: 86%;
  height: 80%;
  border-radius: 10px;
  resize: none;
  outline: none;
}

#button_fecharViewReceita {
  position: absolute;
  left: 5%;
  bottom: 2%;
}

#button_gerarReceita {
  position: absolute;
  right: 5%;
  bottom: 2%;
}

#div_viewProducao {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 35%;
  left: 35%;
  background-color: #fff;
  border-radius: 10px;
}

.span_pdfProducao {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
  top: 8px;
}

.div_producaoARealizar {
  position: relative;
  width: 100%;
  height: 10%;
  text-align: center;
  border-top: 10px;
}

#div_qtdeProducao {
  width: 80%;
  text-align: center;
  margin: 5% auto;
  display: table;
}

#qtdeProducao {
  outline: none;
  float: left;
  width: 100%;
  text-align: center;
}

#button_cancelarView {
  position: absolute;
  bottom: 0%;
  left: 5%;
  border-radius: 10px;
}

#button_gerarPdfTeste {
  position: absolute;
  bottom: 0%;
  right: 5%;
  border-radius: 10px;
}

.div_telaVenda {
  position: absolute !important;
  height: 80% !important;
  width: 95% !important;
  left: 2.5% !important;
  top: 13.5% !important;
  border-radius: 10px !important;
}

.div_rowsVenda {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 41px;
  overflow-y: auto;
}

.div_telaUsuario {
  position: absolute !important;
  height: 80% !important;
  width: 95% !important;
  left: 2.5% !important;
  top: 13.5% !important;
  border-radius: 10px !important;
}

.div_rowsUsuario {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 41px;
  overflow-y: auto;
}

.div_telaFreezer {
  position: absolute !important;
  height: 80% !important;
  width: 95% !important;
  left: 2.5% !important;
  top: 13.5% !important;
  border-radius: 10px !important;
}

.div_rowsFreezer {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 41px;
  overflow-y: auto;
}
