<!-- CARTAO -->
<div id="LoadCaixa" *ngIf="loadingCaixa" class="mdl-card mdl-shadow--8dp showContent">
  <i class="material-icons loadingAnim">credit_card</i>
  <div class="div_aguardando">Aguardando o cartão...</div>
  <input [(ngModel)]='id_cartao' id='id_cartao_focus' name='id_cartao' (keyup.enter)='liberarCaixa()' type='text' maxLength="10"/>
</div>
<!-- CARTAO -->
<div id="caixa" class="mdl-card mdl-shadow--8dp showContent">
  <div class="mdl-card__title mdl-color--grey-900">
    <span class="material-icons icon_cart">shopping_cart</span>
    <span class="descChar mdl-color-text--white titulo_caixa">Caixa Cantina</span>
  </div>
  <!-- DIV COMANDA VAZIA DEVE APARECER TODAS AS COMANDAS ABERTAS -->
  <button id='botaoVoltar' (click)='voltar()' (keyup.enter)='voltar()' *ngIf='isCartaoNull || !statusCaixa'
    class='voltar'>
    <i class="material-icons" id='setaVoltar'>arrow_back</i>
  </button>
  <div (click)='focar()' *ngIf='isCartaoNull' class='divComandas'>
    <div *ngFor='let comanda of comandasAbertas' class='comandaAberta'>
      <div class='idVenda'></div>
      <div class='spansComanda'>
        <span class='cartao'>Cartão: {{comanda.fk_venda_cartao}}</span>
        <span class='totalVenda'>{{comanda.total_venda | currency:'BRL':true:'1.2-2'}}</span>
      </div>
    </div>
  </div>
  <div class="mdl-card__media caixa_vazio" *ngIf="!statusCaixa">
    <i class="fas fa-cart-arrow-down icon_cartVazio"></i>
    <h3 class="h3_caixaVazio">Caixa Vazio</h3>
  </div>
  <!-- CONTEUDO DO CAIXA -->
  <div class="mdl-card__media div_conteudoCaixa" *ngIf="statusCaixa">
    <!-- LISTA DE PRODUTOS -->
    <div class="div_listaProdutos">
      <div class=" mdl-shadow--8dp div_conteudoLista">
        <div class="div_cartaoAtual">
          <label class="label_cartaoAtual">Cartão Atual : {{comandas[0].fk_venda_cartao}}</label>
        </div>
        <div class="div_listaConteudo">
          <div class="div_itensLista">
            <!-- ITENS DA LISTA -->
            <nav class="nav_item" *ngFor="let comanda of comandas">
              <div class="item" *ngFor="let item of comanda.pedidos; let i = index">
                <input type="checkbox" id="{{i}}">
                <label class="lb " for="{{i}}">
                  <div class="div_spanNome">
                    <span class="span_listaProduto"> {{item.desc_produtoFinal}} </span>
                  </div>
                  <div class="div_spanQtde">
                    <span class="span_listaDados">{{item.qtde_vendaAux}}x</span>
                  </div>
                  <div class="div_spanValor">
                    <span class="span_listaDados">{{item.val_vendaAux | currency:'BRL':true:'1.2-2'}}
                    </span>
                  </div>
                </label>
                <ul>
                  <div>
                    <img class="img_produtoFinal" src="./assets/images/{{item.img_produtoFinal}}">
                    <div class="div_conteudoItem">
                      <span class="span_itemDados">{{item.desc_produtoFinal}}</span>
                      <br>
                      <span class="span_itemDados">Valor:
                        {{item.valor_produtoFinal | currency:'BRL':true:'1.2-2'}}</span>
                      <br>
                      <span class="span_itemDados">Quantidade:
                        {{item.qtde_vendaAux}}</span>
                      <br>
                      <span class="span_itemDados" *ngIf="item.qtde_produtoFinal >=1">Estoque:
                        <span id="estoqueColor"> {{item.qtde_produtoFinal }} </span>
                        unidades
                      </span>
                    </div>
                  </div>
                </ul>
              </div>
            </nav>
          </div>
          <!-- TOTAL DA COMPRA -->
          <div class="div_totalCompra">
            <span id="totalCompra" class="span_totalCompra">Total:
              {{comandas[0].total | currency:'BRL':true:'1.2-2'}}</span>
          </div>
        </div>
      </div>
      <!-- TELA DE SELECIONAR OPÇÕES DE PAGAMENTO-->
      <div class="mdl-shadow--8dp payment" *ngIf="payment">
        <div class="div_spanOpcoes">
          <span class="span_opcoesPagamento">Opções de Pagamento</span>
        </div>
        <!-- GRID DE OPÇÕES DE PAGAMENTO -->
        <div class="mdl-grid div_gridPagamento">
          <div class="divs_botoesPagamento" *ngFor="let div of divBotoes">
            <!-- OPÇÕES DE PAGAMENTO -->
            <button *ngFor="let botao of div.botoes; let i = index" (click)="openPaymentScreen(i)"
              class="mdl-button mdl-js-button btHover button_opcaoPagamento">
              <i class="{{botao.icone}} icon_opcaoPagamento"></i>
              <span class="span_tipoPagamento">{{botao.nome}}</span>
            </button>
            <!-- TELA DE INSERÇÃO DO VALOR PAGO -->
            <div class="div_insercaoValor" *ngFor="let d of div.divs; let i = index">
              <div *ngIf="paymentScreen == i" id="paymentScreen-{{i}}" class="showPaymentScreen div_telaPagamento">
                <button class="mdl-button mdl-js-button mdl-button--icon" title="voltar"
                  (click)="closePaymentScreen(i)">
                  <i class="material-icons">arrow_back</i>
                </button>
                <span class="span_opcaoEscolhida">{{d.span}}</span>
                <div class="mdl-textfield mdl-js-textfield div_inputValor">
                  <input id="{{d.id}}" [(ngModel)]="d.model" currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }"
                    class="mdl-textfield__input mdl-shadow--8dp recargaAnim input_valorInserido" type="text"
                    placeholder="Valor à adicionar" (keyup.enter)="getValue(d.model, d.id, i)">
                </div>
                <!-- BOTAO CONFIRMAR -->
                <button class="mdl-button mdl-js-button button_confirmarPagamento" (click)="getValue(d.model, d.id, i)">
                  Confirmar
                </button>
                <hr class="linha">
              </div>
            </div>
          </div>
        </div>
        <!-- BOTÃO APARECERÁ APÓS VALOR SER PAGO -->
        <button id="checkPayment" disabled (click)="calcTroco()" class="mdl-button mdl-js-button mdl-ripple-effect">
          <span id="check" *ngIf="paymentCondition"> Valor Restante:
            {{valorParcial | currency:'BRL':true:'1.2-2'}}</span>
          <span id="check" *ngIf="!paymentCondition"> Confirmar</span>
        </button>
      </div>
      <!-- TELA DE FINALIZAÇÃO DO PAGAMENTO -->
      <div class="mdl-shadow--8dp finishPayment" id="finishPayment" *ngIf="!payment">
        <div class='senha_cartao' *ngIf='isCartaoFiec'>
          <div class='header_senha'>
            <span class='titulo_troco'>Senha FIEC</span>
          </div>
          <button id="button_cancelarCartao" class="mdl-button mdl-js-button" (click)="altPayment()">
            Retornar
          </button>
          <input id='senha_cartao' class='input_senha' type='password' [(ngModel)]='senhaCartaoFiec'
            (keyup.enter)='verificarSenha()' />
        </div>
        <div class='header_troco'>
          <input class='titulo_troco' type="text" disabled value="Troco:   ">
          <input type="text" id="troco" disabled [(ngModel)]="trocoInput" currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }">
        </div>
        <button id="button_retornarPagamento" class="mdl-button mdl-js-button" (click)="altPayment()">
          Retornar
        </button>
        <button id="button_finalizarCompra" class="mdl-button mdl-js-button" (click)="fechaComanda()">
          Finalizar Compra
        </button>
        <span class='credito_atual'>Crédito: {{creditoRestante | currency:'BRL':true:'1.2-2'}}</span>
      </div>
    </div>
  </div>
</div>