@font-face {
  font-family: biographyChar;
  src: url("../../../assets/fonts/Sansation-LightItalic-webfont.woff") format("woff");
}

.descChar {
  font-family: biographyChar;
}

@keyframes loadingAnim {
  0% {
    transform: rotate(0deg);
    color: #fff;
  }
  25% {
    transform: rotate(90deg);
    color: #f44336;
  }
  50% {
    transform: rotate(180deg);
    color: #fff;
  }
  75% {
    transform: rotate(270deg);
    color: #f44336;
  }
  100% {
    transform: rotate(360deg);
    color: #fff;
  }
}

.loadingAnim {
  animation: loadingAnim 4s infinite;
  -webkit-animation: loadingAnim 4s infinite;
  color: #fff;
  margin: 0% auto;
  margin-top: 15%;
  display: table;
  font-size: 125px;
}

/* Customize the label (the container) */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*CHECKBOX*/

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 2px;
}

.container:hover input ~ .checkmark {
  border: 2px solid #f44336;
}

.container input:checked ~ .checkmark {
  background-color: #f44336;
  border: 2px solid #f44336;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* LISTA PRODUTOS  */

.lb {
  background: #fff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  height: 20px;
  position: relative;
}

nav {
  height: auto;
  font-family: "Roboto";
  margin: 0% auto;
  overflow: hidden;
  background: #fff;
}

.item input {
  display: none;
}

.item label {
  display: block;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.item label:hover {
  background-color: #dcdcdc;
}

.item ul {
  overflow: hidden;
  max-height: 0;
  transition: all 0.4s;
  width: 100%;
  display: -moz-popup;
  display: table-column-group;
}

.item input:checked ~ ul {
  display: block;
  height: auto;
  max-height: 200px;
  transition: all 0.4s linear;
  padding: 0px;
  margin: 0%;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.item input:checked ~ label {
  background: #dcdcdc;
  border-bottom: 2px solid #b71c1c;
}

/* ------------------------------------ */

@keyframes calcAnim {
  0% {
    color: #d50000;
    transform: rotateY(0deg);
  }
  50% {
    color: #f55656;
    transform: rotateY(180deg);
  }
  100% {
    color: #d50000;
    transform: rotateY(360deg);
  }
}

.calcAnim {
  animation: calcAnim 2s infinite;
  -webkit-animation: calcAnim 2s infinite;
}

@keyframes calcAnimSpan {
  0% {
    color: #d50000;
  }
  50% {
    color: #f55656;
  }
  100% {
    color: #d50000;
  }
}

calcAnimSpan {
  animation: calcAnimSpan 2s infinite;
  -webkit-animation: calcAnimSpan 2s infinite;
}

/* @keyframes showContent{
	from{
		width: 95%;
		height: 95%;
		left: 2.5%;
		top: 2.5%;
	}
	to{
		width: 100%;
		height: 100%;
		left: 0%;
		top: -2px;
	}
} */

/* .showContent{
	animation: showContent 0.2s forwards;
} */

/* DropBox */

.dropBox {
  position: relative;
  width: 50%;
  display: table;
  margin: 0 auto;
  z-index: 5;
  background-color: #fff;
  height: 55px;
}

.dropBox__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  background-color: transparent !important;
  margin-top: 10px;
}

.dropBox__options {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  height: 55px;
}

.dropBox__options:hover {
  background-color: #ececec;
}

.dropBox__options:last-child {
  border: none;
}

.dropBox__options > span {
  text-align: center;
  display: table;
  margin: auto;
  font-weight: bold;
  margin-bottom: 15px;
  position: relative;
  top: 15px;
}

.dropBox__button {
  position: absolute;
  right: 5px;
  top: 0px;
}

/* FLOATING LABEL INPUT */

@keyframes expandLabel {
  100% {
    width: 100%;
  }
  0% {
    width: 0%;
  }
}

@keyframes minLabel {
  100% {
    width: 0%;
  }
  0% {
    width: 100%;
  }
}

@keyframes transformLabel {
  100% {
    position: absolute;
    top: -14px;
    left: 1%;
    font-size: 10px;
    display: block;
  }
  0% {
    position: absolute;
    color: #dcdcdc;
    left: 2px;
    top: 0px;
    font-size: 14px;
    display: none;
  }
}

.textfieldAnimated {
  position: relative;
  height: 30px;
}

.textfieldAnimated__input {
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  height: 25px;
  font-size: 14px;
  outline: none;
}

.textfieldAnimated__input ~ .textfieldAnimated__labelDiv {
  width: 100%;
}

.textfieldAnimated__input ~ .textfieldAnimated__labelDiv-to-right {
  width: 100%;
}

.textfieldAnimated__input:focus {
  border-bottom: 0;
}

.textfieldAnimated__label {
  display: none;
  position: absolute;
  color: #dcdcdc;
  left: 2px;
  top: 0px;
}

.textfieldAnimated__input:focus ~ .textfieldAnimated__label {
  display: block;
}

.textfieldAnimated__input:focus ~ .textfieldAnimated__labelDiv {
  display: block;
  animation: 0.5s expandLabel;
}

.textfieldAnimated__input:focus ~ .textfieldAnimated__labelDiv-to-right {
  display: block;
  animation: 0.5s expandLabel;
}

.textfieldAnimated__input:focus ~ .textfieldAnimated__label {
  animation: 0.5s transformLabel;
  color: #d55555;
  position: absolute;
  top: -12px;
  left: 1%;
  font-size: 10px;
}

.textfieldAnimated__labelDiv {
  display: none;
  height: 2px;
  position: relative;
  bottom: 0px;
  background-color: #d55555;
  margin: auto;
}

.textfieldAnimated__labelDiv-to-right {
  display: none;
  height: 2px;
  position: relative;
  bottom: 0px;
  background-color: #d55555;
}

.textfieldAnimated__input:disabled {
  color: #cccccc;
}

#btConfirmar {
  background: #dcdcdc;
  font-size: 18px;
}

#btConfirmar:hover {
  background: #ccc;
  font-size: 20px;
  transition: all 0.2s;
}

.btHover {
  color: #000;
  background: #fff;
}

.btHover:hover {
  color: #d50000;
  background: #dcdcdc;
}

@keyframes showPaymentScreen {
  from {
    height: 20%;
    width: 20%;
    top: 36%;
    left: 40%;
  }
  to {
    height: 100%;
    width: 100%;
    top: 1%;
    left: 1%;
  }
}

.showPaymentScreen {
  animation: showPaymentScreen 0.18s forwards;
  height: 20%;
}

@keyframes hidePaymentScreen {
  from {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 1%;
  }
  to {
    height: 20%;
    width: 20%;
    top: 36%;
    left: 40%;
  }
}

.hidePaymentScreen {
  animation: hidePaymentScreen 0.18s forwards;
  height: 20%;
}

@keyframes finishPayment {
  from {
    top: 12.5%;
    height: 75%;
    width: 40%;
    right: 6%;
  }
  to {
    top: 30%;
    height: 40%;
    width: 40%;
    right: 6%;
  }
}

.finishPayment {
  animation: finishPayment 0.2s forwards;
}

@keyframes returnToPayment {
  from {
    top: 30%;
    height: 40%;
    width: 40%;
    right: 6%;
  }
  to {
    top: 40%;
    height: 20%;
    width: 20%;
    right: 15%;
  }
}

.returnToPayment {
  animation: returnToPayment 0.1s forwards;
  transition: all 0.1s;
}

@keyframes showPayment {
  from {
    top: 30%;
    height: 40%;
    width: 40%;
    right: 6%;
  }
  to {
    width: 40%;
    height: 75%;
    top: 12.5%;
    right: 6%;
  }
}

.payment {
  animation: showPayment 0.2s forwards;
  width: 40%;
  height: 75%;
  top: 12.5%;
  right: 6%;
  position: absolute;
  background: #fff;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input:focus {
  outline: 0;
}

.divComandas {
  z-index: 5;
  width: 100%;
  height: 93%;
  position: absolute;
  top: 7%;
  left: 0%;
  background: white;
  overflow-y: scroll;
}

.comandaAberta {
  position: relative;
  width: 40%;
  height: 17%;
  left: 30%;
  margin-top: 2%;
  border-radius: 6px;
  border: 2px solid #c10909;
  font-size: 100%;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.idVenda {
  position: absolute;
  width: 100%;
  height: 30%;
  background: #c10909;
  font-size: 130%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
}

.spanIdVenda {
  position: absolute;
  left: 3%;
  top: 16%;
}

.spansComanda {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
  left: 0%;
  font-size: 150%;
  color: #212121;
}

.cartao {
  position: absolute;
  font-size: 110%;
  top: 30%;
  left: 10%;
}

.totalVenda {
  position: absolute;
  top: 30%;
  right: 10%;
}

.voltar {
  position: absolute;
  top: 9%;
  right: 3%;
  width: 6%;
  height: 10%;
  border-radius: 6px;
  border: none;
  background: white;
  z-index: 6;
  transition-duration: 0.4s;
}

.spanVoltar {
  font-size: 80%;
}

.voltar:focus {
  outline: 0;
}

.voltar:hover {
  background: rgba(0, 0, 0, 0.2);
}

#setaVoltar {
  font-size: 400%;
  color: #212121;
  transition-duration: 0.4s;
}

.voltar:hover > #setaVoltar {
  color: #c10909;
}

.senha_cartao {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background-color: white;
  z-index: 5;
  border-radius: 6px;
}

.header_senha,
.header_troco {
  position: absolute;
  width: 100%;
  height: 35%;
  background: #c10909;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.titulo_troco {
  position: absolute;
  top: 25%;
  left: 3%;
  height: 50%;
  width: 50%;
  font-size: 25px;
  border-radius: 6px;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.input_senha {
  text-align: center;
  position: absolute;
  margin: 5% auto;
  border-radius: 7px;
  font-size: 200%;
  width: 59.5%;
  height: 18%;
  left: 20%;
  top: 61%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.credito_atual {
  position: absolute;
  top: 13.6%;
  left: 50%;
  color: white;
  font-size: 25px;
}

#LoadCaixa {
  display: table;
  position: absolute;
  z-index: 12;
  background: url("../../../assets/images/loadingCard.jpg") center;
  background-size: 100% 100%;
}

.div_aguardando {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 4% auto;
  display: table;
}

#id_cartao_focus {
  position: absolute;
  width: 16%;
  height: 7%;
  left: 42%;
  top: 60%;
  font-size: 300%;
  border-radius: 6px;
  text-align: center;
}

#caixa {
  display: table;
  margin: 0px auto;
  position: absolute;
  z-index: 11;
  background: transparent;
}

.icon_cart {
  position: absolute;
  top: 15px;
  color: #f44336;
}

.titulo_caixa {
  display: table;
  margin: 0 auto;
}

.caixa_vazio {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}

.icon_cartVazio {
  margin: 20% auto 0%;
  display: table;
  font-size: 80px;
  color: #424242;
}

.h3_caixaVazio {
  margin: 0% auto;
  display: table;
  font-size: 25px;
  color: #424242;
}

.div_conteudoCaixa {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

.div_listaProdutos {
  position: absolute;
  height: 89%;
  width: 98%;
  left: 1%;
  top: 2%;
  border-radius: 6px;
  background: url("../../../assets/images/wallpaper4.jpg") center;
  background-size: 100% 100%;
}

.div_conteudoLista {
  position: absolute;
  width: 45%;
  height: 90%;
  background: #fff;
  top: 5%;
  left: 3%;
  border-radius: 6px;
}

.div_cartaoAtual {
  height: 10%;
  width: 100%;
  position: absolute;
  background: #c10909;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.label_cartaoAtual {
  margin: 3% auto;
  display: table;
  position: relative;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.div_listaConteudo {
  position: absolute;
  width: 100%;
  top: 10%;
  height: 90%;
  border-radius: 6px;
}

.div_itensLista {
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: 80%;
  border-top: 1px solid #dcdcdc;
}

.nav_item {
  background: #f5f5f5;
}

.div_spanNome {
  color: #3e3e3e;
  position: absolute;
  left: 0%;
  width: 80%;
  height: 100%;
  top: 0%;
}

.span_listaProduto {
  display: table;
  margin: 2.5% auto;
  margin-left: 2%;
}

.div_spanQtde {
  color: #3e3e3e;
  position: absolute;
  right: 20%;
  width: 10%;
  height: 100%;
  top: 0%;
}

.span_listaQtde {
  margin: 20%;
  display: table;
  margin-left: 0%;
  height: 100%;
}

.div_spanValor {
  color: #3e3e3e;
  position: absolute;
  right: 0%;
  width: 20%;
  height: 100%;
  top: 0%;
}

.span_listaValor {
  margin: 10%;
  display: table;
  margin-left: 0%;
}

.img_produtoFinal {
  height: 125px;
  width: 125px;
  border: 1px solid #ccc;
  float: left;
  border-radius: 70px;
}

.div_conteudoItem {
  float: left;
  margin: 0% auto;
  margin-left: 5%;
}

.span_itemDados {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  color: #3e3e3e;
}

#estoqueColor {
  color: #008000;
}

.span_listaDados {
  top: 27%;
  position: absolute;
}

.div_totalCompra {
  position: absolute;
  bottom: 0%;
  height: 20%;
  width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #c10909;
}

.span_totalCompra {
  display: table;
  margin: 5% auto;
  font-size: 26px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.div_spanOpcoes {
  position: absolute;
  width: 100%;
  height: 12%;
  background: #c10909;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.span_opcoesPagamento {
  margin: 3% auto;
  display: table;
  font-size: 21px;
}

.div_gridPagamento {
  width: 90%;
  height: 65%;
  margin: 15% auto;
  display: table;
  position: relative;
}

.divs_botoesPagamento {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
}

.button_opcaoPagamento {
  margin: 2% auto;
  margin-right: 2%;
  margin-left: 2%;
  display: table;
  float: left;
  width: 46%;
  height: 46%;
  border-radius: 10px;
}

.icon_opcaoPagamento {
  font-size: 28px;
  margin: 0% auto;
  display: table;
}

.span_tipoPagamento {
  font-size: 14px;
  color: #9e6262;
}

.div_insercaoValor {
  height: 100%;
}

.div_telaPagamento {
  z-index: 14 !important;
  width: 100% !important;
  position: absolute !important;
  background: #fff !important;
  border-radius: 6px !important;
  top: 2% !important;
  left: 1% !important;
}

.span_opcaoEscolhida {
  margin: 5% auto;
  display: table;
  font-size: 18px;
  font-weight: bold;
  color: #424242;
}

.div_inputValor {
  margin: 8% auto;
  display: table;
  width: 60%;
}

.input_valorInserido {
  text-align: center;
  position: absolute;
  border-radius: 8px;
  background: #ffffff;
  font-size: 18px;
  outline: none;
}

.button_confirmarPagamento {
  margin: 15% auto;
  display: table;
  width: 61%;
  height: 20%;
  background: #c10909;
  border-radius: 6px;
  color: #fff;
}

.linha {
  width: 90%;
  position: absolute;
  left: 5%;
  bottom: 0%;
  border-color: #424242;
}

#checkPayment {
  position: absolute;
  width: 80%;
  height: 15%;
  left: 10%;
  bottom: 3%;
  border-radius: 10px;
  background: #c10909;
}

#check {
  color: #fff;
  font-size: 18px;
}

#finishPayment {
  position: absolute;
  width: 40%;
  height: 40%;
  background: #fff;
  top: 30%;
  right: 6%;
  border-radius: 10px;
}

#button_cancelarCartao {
  margin: 25% auto 0%;
  display: table;
  width: 60%;
  height: 18%;
  border-radius: 7px;
  background: #c10909;
  color: #fff;
}

#troco {
  position: absolute;
  top: 25%;
  left: 20%;
  height: 50%;
  width: 50%;
  font-size: 25px;
  border-radius: 6px;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

#button_retornarPagamento {
  margin: 25% auto 0%;
  display: table;
  width: 60%;
  height: 18%;
  border-radius: 7px;
  background: #c10909;
  color: #fff;
}

#button_finalizarCompra {
  margin: 5% auto;
  width: 60%;
  display: table;
  height: 18%;
  border-radius: 7px;
  background: #c10909;
  color: #fff;
}
