.inputDialog {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
}

.inputDialog:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid red;
}
select {
  border: 1px solid black;
  background: solid transparent;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  outline: none;
  height: 34px;
  border-radius: 3px;
}

@keyframes kOpenSearch {
  0% {
    left: 92%;
    width: 0%;
  }
  100% {
    left: 62%;
    width: 30%;
  }
}
@keyframes kCloseSearch {
  0% {
    left: 62%;
    width: 30%;
  }
  100% {
    left: 92%;
    width: 0%;
  }
}

.openSearch {
  animation-name: kOpenSearch;
  animation-duration: 0.2s;
  left: 62%;
  width: 30%;
}
.closeSearch {
  animation-name: kCloseSearch;
  animation-duration: 0.2s;
  left: 92%;
  width: 0%;
}

#compras {
  display: table;
  margin: 0px auto;
  position: absolute;
  z-index: 14;
}

.div_headerCompras {
  position: absolute;
  height: 5%;
  width: 100%;
}

#div_tituloCompras {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
}

#span_compras {
  display: table;
  margin: 0 auto;
}

#span_iconeMall {
  position: absolute;
  top: 8px;
  color: #f44336;
}

.div_conteudoCompras {
  top: 5%;
  width: 100%;
  height: 95%;
  position: absolute;
}

.div_tabela {
  position: absolute;
  top: 41px;
  height: calc(100% - 40px - 6%);
  width: 100%;
  background-color: #fff;
}

#dialogEditarBack {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(15, 20, 22, 0.3);
}

.rows {
  height: 100%;
  overflow-y: auto;
}

.dialogoEditarBack {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(15, 20, 22, 0.3);
}

.dialogoEditarMain {
  position: absolute !important;
  top: 15% !important;
  left: 30% !important;
  border-radius: 10px !important;
  width: 40% !important;
  height: 75% !important;
  background-color: #fff !important;
}

#title {
  position: relative;
  width: 100%;
  height: 9%;
  text-align: center;
  background-color: #2d2c2c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.span_editarCompra {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
  top: 8px;
}

.div_inputsAlteracao {
  height: 22%;
  width: 100%;
}

.input_tituloEditar {
  outline: none;
  margin-top: 25px;
  margin-left: 10%;
  width: 80%;
  float: left;
  text-align: center;
}

.span_dataEditar {
  position: absolute;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  left: 26%;
  top: 19%;
}

.input_dataEditar {
  outline: none;
  margin-top: 8%;
  margin-left: 12%;
  width: 35%;
  float: left;
  text-align: center;
}

.span_valorEditar {
  position: absolute;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  left: 62%;
  top: 19%;
}

.input_valorEditar {
  outline: none;
  margin-top: 8%;
  margin-left: 20px;
  width: 35%;
  float: left;
  text-align: center;
  background: initial;
}

#fornecedor {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  margin-top: 25px;
  margin-bottom: 25px;
  float: left;
}

#leftSide {
  height: 10%;
  width: 95%;
  float: left;
  margin-left: 5%;
}

#subTitle {
  position: absolute;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  top: 46%;
  left: 46%;
}

#nomeProduto {
  outline: none;
  float: left;
  width: 45%;
  text-align: center;
}

#qtdeProduto {
  outline: none;
  float: left;
  width: 10%;
  text-align: center;
  margin-left: 5%;
}

#valorProduto {
  outline: none;
  float: left;
  width: 20%;
  text-align: center;
  margin-left: 5%;
}

#btAdd {
  position: relative;
  top: -10px;
  float: left;
  height: 55%;
  text-align: center;
  margin-left: 20px;
}

#add {
  background-color: #ffffff;
}

#rightSide {
  height: 24%;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  float: left;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow-y: auto;
}

#button_cancelarEdicao {
  position: absolute;
  bottom: 1%;
  left: 2%;
}

#button_alterarEdicao {
  position: absolute;
  bottom: 1%;
  right: 2%;
}

#listaAutoComplete,
#listaAutoComplete2 {
  position: absolute;
  width: 45%;
  left: 5%;
  top: 55%;
  max-height: 29%;
  border: 1px solid #ccc;
  background-color: white;
  overflow-y: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
}

#listaAutoComplete2 {
  top: 62%;
  max-height: 50%;
}

#button_disabledProduto {
  width: 100%;
  height: 33%;
  border-bottom: 1px solid #ccc;
  color: black !important;
  background: #a7a7a7 !important;
}

#button_resultadoProduto {
  width: 100%;
  height: 33%;
  border-bottom: 1px solid #ccc;
}

#dialogAdicionarBack {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(15, 20, 22, 0.3);
}

#dialogAdicionarMain {
  position: absolute;
  top: 20%;
  left: 30%;
  border-radius: 10px;
  width: 40%;
  height: 60%;
  background-color: #ffffff;
}

.span_adicionarCompra {
  position: relative;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
  top: 8px;
}

#inputs {
  height: 22%;
  width: 100%;
}

#titulo {
  outline: none;
  margin-top: 25px;
  margin-left: 10%;
  width: 80%;
  float: left;
  text-align: center;
}

#data {
  outline: none;
  margin-top: 20px;
  margin-left: 12%;
  width: 35%;
  float: left;
  text-align: center;
}

#valor {
  outline: none;
  margin-top: 20px;
  margin-left: 20px;
  width: 35%;
  float: left;
  text-align: center;
  background: initial;
}

#inputSearchCompra {
  position: absolute;
  height: 4%;
  bottom: 1%;
  left: 62%;
  /* width: 0%; */
}

#Compra {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
}
