<div id="compras" class="mdl-card mdl-shadow--8dp showContent">
  <div class="div_headerCompras">
    <div id="div_tituloCompras" class="mdl-card__title mdl-color--grey-900">
      <span id="span_iconeMall" class="material-icons">store_mall_directory</span>
      <span id="span_compras" class="descChar mdl-color-text--white">Compras</span>
    </div>
  </div>
  <div class="div_conteudoCompras">
    <app-tableHead [nomeCampoA]="'Id'" [widthA]="15" [nomeCampoB]="'Descrição da Compra'" [widthB]="38"
      [nomeCampoC]="'Valor'" [widthC]="15" [nomeCampoD]="'Data'" [widthD]="15" [nomeCampoE]="'Editar'" [widthE]="15">
    </app-tableHead>
    <div class="div_tabela">
      <div id="rows" class="rows">
        <div *ngFor="let compra of resultadosFinais; let index = index">
          <app-tableBody [id]="index" [nomeCampoA]="compra.id_compra" [widthA]="15" [nomeCampoB]="compra.desc_compra"
            [widthB]="38" [nomeCampoC]="compra.valor_compra | currency:'BRL':true:'1.2-2'" [widthC]="15"
            [nomeCampoD]="compra.data_compraTable" [widthD]="15" [widthEditButton]="14" [eventoEdit]="'editarCompra-'"
            (handler)="dialog($event); selectFornecedor(compra.fk_idFornecedor); editProdutos($event,compra.valor_compra)">
          </app-tableBody>
          <div id="dialogEditarBack" *ngIf="parametro == 'editarCompra-'+index" class="dialogoEditarBack">
            <div id="dialogEditarMain" class="mdl-shadow--8dp dialogoEditarMain">
              <div id="title">
                <span class="span_editarCompra">Editar Compra</span>
              </div>
              <div id="inputs" class="div_inputsAlteracao">
                <input type="text" id="titulo" class="inputDialog input_tituloEditar" value="{{compra.desc_compra}}" />
                <span class="span_dataEditar">Data</span>
                <input type="date" id="data" class="inputDialog input_dataEditar" value="{{compra.data_compra}}" />
                <span class="span_valorEditar">Valor (R$)</span>
                <input type="text" id="valorEdit" currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }"
                  class="inputDialog input_valorEditar" value="{{valorTotal | currency:'BRL':true:'1.2-2'}}" disabled />
              </div>
              <select id="fornecedor" placeholder="Fornecedor">
                <option disabled selected hidden value="{{nomeFornecedor}}">{{nomeFornecedor}}</option>
                <option *ngFor="let fornecedor of fornecedores" value="{{fornecedor.razaoSocial}}">
                  {{fornecedor.razaoSocial}}</option>
              </select>
              <div id="leftSide">
                <span id="subTitle">Itens</span><br>
                <input type="text" class="inputDialog" id="nomeProduto" [(ngModel)]="nomeProdutoEdit"
                  (keyup)="filterProd(nomeProdutoEdit)" placeholder="Nome" />
                <input type="number" class="inputDialog" id="qtdeProduto" placeholder="Qtde" />
                <input type="text" class="inputDialog" [(ngModel)]="valorProduto" currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" id="valorProduto"
                  placeholder="Valor" (keyup.enter)='adicionarProduto()' />
                <div id="btAdd">
                  <button id="add" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                    (click)="adicionarProduto()">
                    <span><i class="material-icons">add</i></span>
                  </button>
                </div>
              </div>
              <div id="rightSide">
                <div *ngFor="let produto of produtos; let index = index">
                  <app-tableBody [nomeCampoA]="produto.nome" [widthA]="45" [nomeCampoB]="produto.qtde" [widthB]="15"
                    [nomeCampoC]="produto.valor | currency:'BRL':true:'1.2-2'" [widthC]="30" [widthExcludeButton]="10"
                    [eventoExclude]="''" [id]="index" (handler)="excluirProdutos($event)"></app-tableBody>
                </div>
              </div>
              <button id="button_cancelarEdicao" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="dialog($event)">Cancelar</button>
              <button id="button_alterarEdicao" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="editarCompra(compra.id_compra)">Alterar</button>
              <div id="listaAutoComplete" class="mdl-shadow--2dp" *ngIf="filtroStatus">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="button_disabledProduto"
                  disabled><span>Produto Final</span></button>
                <button *ngFor="let resultado of produtosFiltrados, let index=index"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect" id="button_resultadoProduto"
                  (click)="completarProduto('nomeProduto',index)"><span>{{resultado.desc_produtoFinal}}</span></button>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="button_disabledProduto"
                  disabled><span>Insumos</span></button>
                <button *ngFor="let resultado of insumosFiltrados, let index=index"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect" id="button_resultadoProduto"
                  (click)="completarInsumo('nomeProduto',index)"><span>{{resultado.desc_insumo}}</span></button>
              </div>
            </div>
          </div>
        </div>
        <text-dialog *ngIf="cadastro == 'Compra Editada'" [id]="'Confirmação de Edicao'" [divWidth]="25"
          [divHeight]="20" [topText]="31" [leftText]="0" [fontSize]="20" [text]="'Compra Editada Com Sucesso!'"
          [icon]="'check_all'" [bottomButton]="5" [leftButton]="42"
          (handler)="confirmation('Fechado'); dialog('Close'); atualizar()"></text-dialog>
        <text-dialog *ngIf="cadastro == 'Edicao Falha'" [id]="'Falha na Edicao'" [divWidth]="25" [divHeight]="20"
          [topText]="31" [leftText]="0" [fontSize]="20" [text]="'Falha ao editar compra!'" [icon]="'check_all'"
          [bottomButton]="5" [leftButton]="42" (handler)="confirmation('Fechado'); dialog('Close'); atualizar()">
        </text-dialog>
        <div id="dialogAdicionarBack" *ngIf="parametro == 'adicionarCompra'">
          <div id="dialogAdicionarMain" class="mdl-shadow--8dp">
            <div id="title">
              <span class="span_adicionarCompra">Adicionar Compra</span>
            </div>
            <div id="inputs">
              <input type="text" id="titulo" class="inputDialog" placeholder="Titulo Compra" />
              <input type="date" id="data" class="inputDialog" placeholder="Data" />
              <input type="text" id="valor" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" class="inputDialog"
                value="{{valorTotal | currency:'BRL':true:'1.2-2'}}" disabled />
            </div>
            <select id="fornecedor" placeholder="Fornecedor">
              <option *ngFor="let fornecedor of fornecedores" value="{{fornecedor.razaoSocial}}">
                {{fornecedor.razaoSocial}}</option>
            </select>
            <div id="leftSide">
              <span id="subTitle">Itens</span><br>
              <input type="text" class="inputDialog" id="nomeProduto" [(ngModel)]="nomeProduto"
                (keyup)="filterProd(nomeProduto)" placeholder="Nome" />
              <input type="number" class="inputDialog" id="qtdeProduto" placeholder="Qtde" />
              <input type="text" class="inputDialog" [(ngModel)]="valorProduto" currencyMask id="valorProduto"
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" placeholder="Valor"
                (keyup.enter)='adicionarProduto()' />
              <div id="btAdd">
                <button id="add" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                  (click)="adicionarProduto()">
                  <i class="material-icons">add</i>
                </button>
              </div>
            </div>
            <div id="rightSide">
              <div *ngFor="let produto of produtos; let index = index">
                <app-tableBody [nomeCampoA]="produto.nome" [widthA]="45" [nomeCampoB]="produto.qtde" [widthB]="15"
                  [nomeCampoC]="produto.valor | currency:'BRL':true:'1.2-2'" [widthC]="30" [widthExcludeButton]="10"
                  [eventoExclude]="''" [id]="index" (handler)="excluirProdutos($event)"></app-tableBody>
              </div>
            </div>
            <button id="button_cancelarEdicao" class="mdl-button mdl-js-button mdl-js-ripple-effect"
              (click)="dialog($event)">Cancelar</button>
            <button id="button_alterarEdicao" class="mdl-button mdl-js-button mdl-js-ripple-effect"
              (click)="cadastrarCompra()">Adicionar</button>
            <div id="listaAutoComplete2" class="mdl-shadow--2dp" *ngIf="filtroStatus">
              <button id="button_disabledProduto" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                disabled><span>Produto Final</span></button>
              <button id="button_resultadoProduto" *ngFor="let resultado of produtosFiltrados, let index=index"
                class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="completarProduto('nomeProduto',index)"><span>{{resultado.desc_produtoFinal}}</span></button>
              <button id="#button_disabledProduto" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                disabled><span>Insumos</span></button>
              <button id="button_resultadoProduto" *ngFor="let resultado of insumosFiltrados, let index=index"
                class="mdl-button mdl-js-button mdl-js-ripple-effect"
                (click)="completarInsumo('nomeProduto',index)"><span>{{resultado.desc_insumo}}</span></button>
            </div>
          </div>
        </div>
        <text-dialog *ngIf="cadastro == 'Compra Cadastrada'" [id]="'Confirmação de Cadastro'" [divWidth]="11"
          [divHeight]="16" [topText]="31" [leftText]="0" [fontSize]="20" [text]="'Compra Cadastrada Com Sucesso!'"
          [icon]="'clear'" [bottomButton]="5" [leftButton]="42"
          (handler)="confirmation('Fechado'); dialog('Close'); atualizar()"></text-dialog>
        <text-dialog *ngIf="cadastro == 'Preencha Corretamente'" [id]="'Erro de Preenchimento'" [divWidth]="15"
          [divHeight]="16" [topText]="31" [leftText]="0" [fontSize]="20"
          [text]="'Preencha todos os dados Corretamente!'" [icon]="'clear'" [bottomButton]="5" [leftButton]="42"
          (handler)="confirmation('Fechado')"></text-dialog>
        <text-dialog *ngIf="cadastro == 'Erro Cadastro'" [id]="'Erro de cadastro'" [divWidth]="15" [divHeight]="16"
          [topText]="31" [leftText]="0" [fontSize]="20" [text]="'Erro ao cadastrar a compra!'" [icon]="'clear'"
          [bottomButton]="5" [leftButton]="42" (handler)="confirmation('Fechado')"></text-dialog>
        <text-dialog *ngIf="cadastro == 'Numero Negativo'" [id]="'Numero Negativo'" [divWidth]="15" [divHeight]="16"
          [topText]="31" [leftText]="0" [fontSize]="20" [text]="'A Quantidade não pode ser menor ou igual a 0!'"
          [icon]="'clear'" [bottomButton]="5" [leftButton]="42" (handler)="confirmation('Fechado')"></text-dialog>
        <text-dialog *ngIf="cadastro == 'Valor Negativo'" [id]="'Numero Negativo'" [divWidth]="15" [divHeight]="16"
          [topText]="31" [leftText]="0" [fontSize]="20" [text]="'O valor não pode ser menor ou igual a 0!'"
          [icon]="'clear'" [bottomButton]="5" [leftButton]="42" (handler)="confirmation('Fechado')"></text-dialog>
      </div>
    </div>
    <app-bottomBar [nomeBotao]="'Adicionar Compra'" [evento]="'adicionarCompra'" (handler)="dialog($event)"
      (handlerB)="openInputSearch('Compra')"></app-bottomBar>
    <div id="inputSearchCompra" style="width:0">
      <input type="text" id="Compra" [(ngModel)]="filterResults" (keyup)="bottomFilter(filterResults)"
        placeholder="Título da Compra" />
    </div>
  </div>
</div>