<!-- CARTAO -->
<div id="Loadcomanda" *ngIf="loadingComanda" class="mdl-card mdl-shadow--8dp showContent">
    <i class="material-icons loadingAnim icon_credito">credit_card</i>
    <div class="div_aguardando">Aguardando o cartão...</div>
    <input id='id_cartao_focus' [(ngModel)]='id_cartao' name='id_cartao' (keyup.enter)='checarCartoesConvidados()'
        type='text' maxLength="10"/>
</div>
<!-- CARTAO -->
<div id="comanda" *ngIf="!loadingComanda" class="mdl-card mdl-shadow--8dp showContent">
    <div class="mdl-card__title mdl-color--grey-900">
        <span id="span_iconeCart" class="material-icons">add_shopping_cart</span>
        <span id="span_inserirComanda" class="descChar mdl-color-text--white">Inserir na Comanda</span>
        <span id='tip_descricao' class="descChar mdl-color-text--white">{{tip_descricao}}</span>
    </div>
    <div id="div_telaComanda" class="mdl-card__media scrollbar">
        <!-- DIV DA TELA -->
        <div class="div_telaComanda">
            <div class="div_conteudoTelaComanda">
                <input type="text" id="nomeProd" [(ngModel)]="autComp" (blur)="estiloNone('nomeProd')"
                    (focus)="estilo('nomeProd')" (keyup)="filtroProd(autComp)" class="mdl-shadow--8dp"
                    placeholder="Nome do Produto">
                <!-- DIV DE ABRIR PESQUISA -->
                <div *ngIf='!isPesquisarCodigo' (click)='abrirPesquisa()' class='codigoBarras'>
                    <img src='./assets/images/codigo_barras.png' class='imagem_codigoBarras mdl-shadow--8dp'>
                </div>
                <!-- INPUT DE PESQUISA COD BARRAS -->
                <div *ngIf='isPesquisarCodigo' class='div_codigoBarras mdl-shadow--8dp'>
                    <input (keyup)='verificarLength()' (keyup.enter)='pesquisarCodBarras()' id='input_codigoBarras'
                        class='input_codigoBarras' />
                </div>
                <hr class="hr_divisor">
                <div *ngIf="filterProds.length <= 0">
                    <i id="icon_search" class="material-icons">search</i>
                    <div class="div_filtro">Filtre pelos produtos da Cantina</div>
                </div>
                <!-- ITENS DO AUTOCOMPLETE -->
                <div class="div_itensAutoComplete" *ngIf="filterProds.length > 0">
                    <div id="div_grid" class="mdl-grid">
                        <!-- PRODUTOS -->
                        <div *ngFor="let produto of filterProds; let i = index" id="prod-{{produto.id_produtoFinal}}"
                            class="mdl-shadow--8dp div_itensProdutos">
                            <div class="prodHover">
                                <div *ngIf="produto.qtde_produtoFinal >= 1 && produto.valor_produtoFinal != produto.valorDesc_produtoFinal"
                                    class="stock">
                                    <span class="span_estoque">Estoque: {{produto.qtde_produtoFinal}}</span>
                                </div>
                                <div class="div_promocao"
                                    *ngIf="produto.qtde_produtoFinal >= 1 && produto.valor_produtoFinal == produto.valorDesc_produtoFinal">
                                    <span class="span_promocao">PROMOÇÃO</span>
                                </div>
                                <img id="imgProd-{{produto.id_produtoFinal}}" class="imgProd imagem_formatada"
                                    src="./assets/images/{{produto.img_produtoFinal}}"
                                    (click)="addItem(produto.id_produtoFinal)">
                            </div>
                            <span class="span_nomeProduto">{{produto.desc_produtoFinal}}</span>
                            <br>
                            <span
                                class="span_valorProduto">{{produto.valor_produtoFinal | currency:'BRL':true:'1.2-2'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- LISTA DE PRODUTOS SELECIONADOS -->
            <div id="div_produtosSelecionados" class="mdl-shadow--8dp">
                <div class="div_produtoSelecionado">
                    <div class="descChar div_total">
                        <b>Total:</b>
                        <span id="valorTotal"> {{totalCompra | currency:'BRL':true:'1.2-2'}} </span>
                    </div>
                </div>
                <div class="div_conteudoComanda">
                    <button id="button_limparComanda" *ngIf="listaPedidos.length > 0" (click)="cleanList()"
                        class="mdl-button mdl-shadow--2dp">
                        <span class="span_limparComanda">Limpar Comanda</span>
                    </button>

                    <div id="div_itemPedido" *ngFor="let pedido of listaPedidos; let i of index"
                        class="mdl-shadow--2dp">
                        <div class="descChar div_pedidoProduto">
                            {{pedido.desc_produtoFinal}}</div>
                        <input type="number" id="qtde-{{pedido.id_produtoFinal}}" value="{{pedido.quantidade}}"
                            class="quantFocus" (change)="updateTotal(pedido.id_produtoFinal)" (keyup.enter)='focus()'
                            placeholder="Insira a quantidade">
                        <button (click)="removeItem(pedido.id_produtoFinal)" class="mdl-button">
                            <i id="icon_close" class="material-icons">close</i>
                        </button>
                    </div>
                </div>
                <button id='salvar_comanda' class="mdl-button mdl-shadow--8dp" (click)="salvaComanda()">
                    Salvar Comanda
                </button>
            </div>
        </div>
    </div>
</div>