@font-face {
  font-family: biographyChar;
  src: url("../../../assets/fonts/Sansation-LightItalic-webfont.woff") format("woff");
}

.descChar {
  font-family: biographyChar;
}

@keyframes loadingAnim {
  0% {
    transform: rotate(0deg);
    color: #fff;
  }
  25% {
    transform: rotate(90deg);
    color: #f44336;
  }
  50% {
    transform: rotate(180deg);
    color: #fff;
  }
  75% {
    transform: rotate(270deg);
    color: #f44336;
  }
  100% {
    transform: rotate(360deg);
    color: #fff;
  }
}

.loadingAnim {
  animation: loadingAnim 4s infinite;
  -webkit-animation: loadingAnim 4s infinite;
}

@keyframes codAnim {
  from {
    border: none;
    left: 3%;
    width: 8%;
  }
  to {
    border: 2px solid #d32f2f;
    left: 2%;
    width: 10%;
    animation-fill-mode: forwards;
  }
}

.codAnim {
  animation: codAnim 0.4s forwards;
  -webkit-animation: codAnim 0.4s forwards;
}

@keyframes codAnimHide {
  from {
    border: 2px solid #d32f2f;
    left: 2%;
    width: 10%;
  }
  to {
    border: none;
    left: 3%;
    width: 8%;
    animation-fill-mode: forwards;
  }
}

.codAnimHide {
  animation: codAnimHide 0.4s forwards;
  -webkit-animation: codAnimHide 0.4s forwards;
}

#cod {
  border: none;
  left: 3%;
  width: 8%;
}

@keyframes nomeAnim {
  from {
    border: none;
    left: 8%;
    width: 67%;
  }
  to {
    border: 2px solid #d32f2f;
    left: 7.5%;
    width: 68%;
    animation-fill-mode: forwards;
  }
}

.nomeAnim {
  animation: nomeAnim 0.4s forwards;
  -webkit-animation: nomeAnim 0.4s forwards;
}

@keyframes nomeAnimHide {
  from {
    border: 2px solid #d32f2f;
    left: 7.5%;
    width: 68%;
  }
  to {
    border: none;
    left: 8%;
    width: 67%;
    animation-fill-mode: forwards;
  }
}

.nomeAnimHide {
  animation: nomeAnimHide 0.4s forwards;
  -webkit-animation: nomeAnimHide 0.4s forwards;
}

#nomeProd {
  border: none;
  left: 8%;
  width: 67%;
  position: absolute;
  height: 8%;
  outline: none;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  top: 4%;
}

@keyframes quantAnim {
  from {
    border: none;
    left: 86%;
    width: 8%;
  }
  to {
    border: 2px solid #d32f2f;
    left: 85%;
    width: 10%;
    animation-fill-mode: forwards;
  }
}

.quantAnim {
  animation: quantAnim 0.4s forwards;
  -webkit-animation: quantAnim 0.4s forwards;
}

@keyframes quantAnimHide {
  from {
    border: 2px solid #d32f2f;
    left: 85%;
    width: 10%;
  }
  to {
    border: none;
    left: 86%;
    width: 8%;
    animation-fill-mode: forwards;
  }
}

.quantFocus {
  border: none;
  width: 70%;
  height: 50px;
  border-radius: 6px;
  outline: none;
}

.quantFocus:focus {
  border: 2px solid #d32f2f;
}

@keyframes stockAnim {
  from {
    height: 0px;
    display: none;
  }
  to {
    height: 65px;
    z-index: 5;
    display: block;
  }
}

.imgProd {
  border-bottom: 1px solid #ccc;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.prodHover:hover .stock {
  animation: stockAnim 0.5s forwards;
}

.prodHover:hover .imgProd {
  cursor: pointer;
  border-radius: 6px;
  max-width: 100%;
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  transform: scale(1.12);
}

.stock {
  height: 0px;
  z-index: -1;
  width: 207px;
  position: absolute;
  background: rgba(187, 21, 21, 0.8);
  border-radius: 1px;
}

.quantAnimHide {
  animation: quantAnimHide 0.4s forwards;
  -webkit-animation: quantAnimHide 0.4s forwards;
}

#quant {
  border: none;
  left: 86%;
  width: 8%;
}

/* @keyframes showContent{
	from{
		width: 95%;
		height: 95%;
		left: 2.5%;
		top: 2.5%;
	}
	to{
		width: 100%;
		height: 100%;
		left: 0%;
		top: -2px;
	}
} */

/* .showContent{
	animation: showContent 0.2s forwards;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input:focus {
  outline: 0;
}

.codigoBarras {
  position: absolute;
  top: 4%;
  right: 8%;
  width: 15%;
  height: 8.5%;
  border-radius: 3px;
}

.codigoBarras:hover > .imagem_codigoBarras {
  cursor: pointer;
}

.imagem_codigoBarras {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  /* animation: animCodBarras 0.5s; */
}

.input_codigoBarras {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  font-size: 105%;
  border-radius: 6px;
  animation: animCodBarras 0.5s;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.div_codigoBarras {
  position: absolute;
  top: 4%;
  right: 8%;
  width: 15%;
  height: 7.5%;
  border-radius: 6px;
}

@keyframes animCodBarras {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

.senha_supervisor {
  text-align: center;
  position: absolute;
  bottom: 29%;
  left: 31%;
  width: 37%;
  border-radius: 4px;
  border: 1px solid rgba(255, 0, 0, 0.3);
  height: 24%;
  font-size: 194%;
}

#tip_descricao {
  position: absolute;
  right: 2%;
  font-size: 120%;
}

#Loadcomanda {
  display: table;
  position: absolute;
  z-index: 10;
  background: url("../../../assets/images/loadingCard.jpg") center;
  background-size: 100% 100%;
}

.icon_credito {
  color: #fff;
  margin: 0% auto;
  margin-top: 15%;
  display: table;
  font-size: 125px;
}

.div_aguardando {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 4% auto;
  display: table;
}

#id_cartao_focus {
  position: absolute;
  width: 16%;
  height: 7%;
  left: 42%;
  top: 60%;
  font-size: 300%;
  border-radius: 6px;
  text-align: center;
}

#comanda {
  display: table;
  margin: 0px auto;
  position: absolute;
  z-index: 10;
  background: transparent;
}

#span_iconeCart {
  position: absolute;
  top: 15px;
  color: #f44336;
}

#span_inserirComanda {
  display: table;
  margin: 0 auto;
}

#div_telaComanda {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

.div_telaComanda {
  position: absolute;
  height: 89%;
  width: 98%;
  background: #fff;
  left: 1%;
  top: 2%;
  border-radius: 6px;
}

.div_conteudoTelaComanda {
  position: absolute;
  height: 100%;
  width: 75%;
}

.hr_divisor {
  position: absolute;
  width: 84%;
  top: 15%;
  left: 8%;
  border-color: #424242;
}

#icon_search {
  position: absolute;
  top: 38%;
  font-size: 60px;
  left: 45%;
  width: 10%;
  color: #757575;
}

.div_filtro {
  width: 60%;
  position: absolute;
  top: 52%;
  left: 25%;
  font-size: 30px;
  color: #757575;
}

.div_itensAutoComplete {
  position: absolute;
  top: 18%;
  width: 100%;
  height: 82%;
  overflow: auto;
}

#div_grid {
  width: 85%;
  display: table;
  margin: 0% auto;
  text-align: center;
  overflow: auto;
}

.div_itensProdutos {
  width: 207px;
  height: 280px;
  float: left;
  margin: 2.5% auto;
  margin-left: 3%;
  border-radius: 5px;
  background: #b11212;
  border: 2px solid #b11212;
}

.prodHover {
  height: 210px;
  width: 207px;
  overflow: hidden;
}

.span_estoque {
  margin: 10% auto;
  display: table;
  color: #fff;
  font-size: 18px;
}

.div_promocao {
  width: 207px;
  position: absolute;
  background: rgba(187, 21, 21, 0.8);
  border-radius: 1px;
  height: 65px;
  z-index: 5;
}

.span_promocao {
  margin: 10% auto;
  display: table;
  color: #fff;
  font-size: 22px;
}

.imagem_formatada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.span_nomeProduto {
  margin: 0% auto;
  display: table;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
}

.span_valorProduto {
  margin: -7% auto;
  display: table;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
}

#div_produtosSelecionados {
  position: absolute;
  right: 0%;
  width: 25%;
  height: 100%;
}

.div_produtoSelecionado {
  height: 10%;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
  background: #c10909;
  color: #fff;
}

.div_total {
  margin: 5% auto;
  font-size: 20px;
  display: table;
}

.div_conteudoComanda {
  width: 100%;
  height: 75%;
  overflow: auto;
}

#button_limparComanda {
  margin: 1% 2% auto;
  width: 96%;
  height: 35px;
  color: #fff;
  background: #b71c1c;
}

.span_limparComanda {
  margin: 0% auto;
  display: table;
}

#div_itemPedido {
  margin-top: 3%;
  margin-left: 2%;
  width: 96%;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
}

.div_pedidoProduto {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #ccc;
}

#icon_close {
  color: #f50000;
}

#salvar_comanda {
  width: 100%;
  height: 15%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: #c10909;
  color: #fff;
}
