.inputDialog{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
}

.inputDialog:focus{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid red;
}
.rowHover:hover{
	background-color: rgba(245, 236, 236, 0.589);
}
