#mainLogin {
  background: url("../../../assets/images/emptywallpaper.jpg") center;
  width: 100%;
  height: 100%;
  position: absolute;
}

#main {
  z-index: 10;
  display: table;
  margin: 0 auto;
}

#login {
  position: absolute;
  top: 40%;
  left: 37.5%;
  border-radius: 10px;
  background: #fff;
  width: 25%;
}

#div_dados {
  display: table;
  margin: 0 auto;
  width: 80%;
}

#input_dados {
  text-align: center;
  outline: none;
}

#button_login {
  width: 100%;
  margin: 5% auto;
}
