<div id="mainLogin" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div id="main">
    <div id="login" class="mdl-shadow--8dp">
      <div id="div_dados" class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" [(ngModel)]="user" type="text" id="input_dados" placeholder="Usuario" />
      </div>
      <div id="div_dados" class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" [(ngModel)]="pass" type="password" id="input_dados" placeholder="Senha"
          (keyup.enter)="login(user,pass)" />
      </div>
      <button id="button_login" class="mdl-button" (click)="login(user,pass)">
        <i class="material-icons mdl-color-text--red-A700">launch</i>
      </button>
    </div>
  </div>
</div>