.inputDialog {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
}

.inputDialog:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid red;
}

select {
    border: 1px solid black;
    background: solid transparent;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    outline: none;
    height: 34px;
    border-radius: 3px;
}

/* @keyframes showContent{
	from{
		width: 95%;
		height: 95%;
		left: 2.5%;
		top: 2.5%;
	}
	to{
		width: 100%;
		height: 100%;
		left: 0%;
		top: -2px;
	}
} */

@keyframes kOpenSearch {
    0% {
        left: 92%;
        width: 0%;
    }

    100% {
        left: 62%;
        width: 30%;
    }
}

@keyframes kCloseSearch {
    0% {
        left: 62%;
        width: 30%;
    }

    100% {
        left: 92%;
        width: 0%;
    }
}

/* .showContent{
	animation: showContent 0.2s forwards;
} */

.openSearch {
    animation-name: kOpenSearch;
    animation-duration: 0.2s;
    left: 62%;
    width: 30%;
}

.closeSearch {
    animation-name: kCloseSearch;
    animation-duration: 0.2s;
    left: 92%;
    width: 0%;
}

.uploadFile label {
    font-size: 28px;
    position: absolute;
    right: 5%;
    top: 20%;
}

.uploadFile:hover label {
    transition: ease-in-out 0.4s;
    cursor: pointer;
    font-size: 30px;
    color: #f44336;
}

#cadastrar {
    display: table;
    margin: 0px auto;
    position: absolute;
    z-index: 14;
}

#cadastroDiv1 {
    position: absolute;
    height: 10%;
    width: 100%;
}

#cadastroDiv2 {
    position: absolute;
    top: 0%;
    height: 50%;
    width: 100%;
}

#cadastroDiv3 {
    top: 10%;
    width: 100%;
    height: 90%;
    position: absolute;
}

#cadastroDiv4 {
    position: absolute;
    top: 41px;
    height: calc(100% - 40px - 6%);
    width: 100%;
    background-color: #fff;
}

.cadastroDiv5 {
    height: 100%;
    overflow-y: auto;
}

.cadastroDiv6 {
    width: 100%;
    float: left;
}

#cadastroDiv7 {
    position: fixed;
    top: 0%;
    height: 100%;
    width: 100%;
    left: 0px;
    background: rgba(15, 20, 22, 0.3);
}

#cadastroDiv8 {
    position: absolute;
    left: 30%;
    top: 15%;
    border-radius: 10px;
    width: 40%;
    max-height: 555px;
    height: 70%;
    background-color: #fff;
}

#cadastroDiv9 {
    border-top: 1px solid #3c3c3c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#cadastroDiv10 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#cadastroDiv11 {
    width: 100%;
    height: 15%;
    margin: 0 auto;
    display: table;
}

#cadastroSpan1 {
    position: absolute;
    top: 8px;
    color: #f44336;
}

#cadastroSpan2 {
    display: table;
    margin: 0 auto;
}

#cadastroSpan3 {
    display: table;
    margin: 0 auto;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    font-size: 25px;
    color: #fff;
}

#cadastroInput1 {
    text-align: center;
    margin: 0 auto;
    float: left;
    margin-left: 5%;
    width: 80%;
    outline: none;
}

.inputs {
    position: absolute;
    left: 0%;
    top: 55%;
    width: 100%;
    height: 10%;
}

.cadastro_header {
    position: absolute;
    height: 10%;
    width: 100%;
}

#cadastro_titulo_div {
    position: absolute;
    top: 0%;
    height: 50%;
    width: 100%;
}

#icone_kitchen {
    position: absolute;
    top: 8px;
    color: #f44336;
}

#cadastro_titulo_span {
    display: table;
    margin: 0 auto;
}

.produto_final_tudo {
    top: 10%;
    width: 100%;
    height: 90%;
    position: absolute;
}

.produto_final_div {
    position: absolute;
    top: 41px;
    height: calc(100% - 40px - 6%);
    width: 100%;
    background-color: #fff;
    overflow-y: scroll;
}

#linhas {
    height: 100%;
    overflow-y: auto;
}

.produto_final_body {
    width: 100%;
    float: left;
}

#dialogEditarBack {
    position: fixed;
    top: 0%;
    height: 100%;
    width: 100%;
    left: 0px;
    background: rgba(15, 20, 22, 0.3);
}

.dialogEditarMain {
    position: absolute;
    left: 30%;
    top: 15%;
    border-radius: 10px;
    width: 40%;
    max-height: 555px;
    height: 70%;
    background-color: #fff;
}

#tituloProduto {
    border-top: 1px solid #3c3c3c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#div_editar_produto {
    display: table;
    margin: 0 auto;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    font-size: 25px;
    color: #fff;
}

#edicao_produto {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#leftSide {
    width: 100%;
    height: 15%;
    margin: 0 auto;
    display: table;
}

#nomeCadProdEdit {
    text-align: center;
    margin: 0 auto;
    float: left;
    margin-left: 5%;
    width: 80%;
    outline: none;
}

#arquivo {
    display: none;
}

.div_repetida_1 {
    width: 50%;
    float: left;
}

.span_repetido_1 {
    font-weight: bold;
    font-size: 14px;
    margin: 0% auto;
    display: table;
}

#valorProdutoEdit,
#valorPromocionalEdit,
#qtdeMinimaEdit,
#qtdeMaxEdit,
#alterarCodBarras {
    text-align: center;
    outline: none;
    margin-bottom: 2%;
    width: 100%;
}

.div_selects {
    margin: 0% auto 10%;
    display: table;
    width: 100%;
}

#unidadeCad,
#unidadeVenda {
    width: 30%;
    text-align: center;
    float: left;
    margin-left: 6%;
    margin-top: 6%;
}

#statusCad {
    margin-top: 6% !important;
}

#unidadeVenda,
#tipoProduto,
.status_prod {
    margin-top: 0 !important;
}

#tipoCad,
#tipoProduto {
    width: 30%;
    text-align: center;
    float: left;
    margin-left: 2.5%;
    margin-top: 6%;
}

#cancelar_produto {
    border-radius: 10px;
    position: absolute;
    bottom: 1%;
    left: 2%;
}

.fileImages {
    width: 40%;
    min-width: 150px;
    min-height: 150px;
    max-height: 220px;
    max-width: 40%;
    float: left;
    margin-left: 5%;
    background-size: 100% 100%;
    background-position: center;
    margin-right: 5%;
    margin-top: 2%;
}

#fileImages {
    width: 40%;
    min-width: 150px;
    min-height: 150px;
    max-height: 220px;
    max-width: 40%;
    float: left;
    margin-left: 5%;
    background-size: 100% 100%;
    background-position: center;
    margin-right: 3%;
}

#imagem_escolhida {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ccc;
}

.status_prod {
    width: 22%;
    text-align: center;
    float: left;
    margin-left: 2.5%;
    margin-top: 6%;
}

#cancelar_prod {
    border-radius: 10px;
    position: absolute;
    bottom: 1%;
    left: 2%;
}

#alterar_prod {
    border-radius: 10px;
    position: absolute;
    bottom: 1%;
    right: 2%;
}

#dialogCadastrarBack {
    position: fixed;
    top: 0%;
    height: 100%;
    width: 100%;
    left: 0px;
    background: rgba(15, 20, 22, 0.3);
}

#dialogCadastrarMain {
    position: absolute;
    left: 30%;
    top: 15%;
    border-radius: 10px;
    width: 40%;
    max-height: 600px;
    height: 70%;
    background-color: #fff;
}

#div_botoesCadastro {
    padding: 2%;
    float: right;
}

#descChar {
    display: table;
    margin: 0 auto;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    font-size: 25px;
    color: #fff;
}

#border_cadastrar_prod {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#nomeCadProd {
    text-align: center;
    margin: 0 auto;
    float: left;
    margin-left: 5%;
    width: 80%;
    outline: none;
}

#imgBack {
    margin: 25% auto;
    display: table;
    font-size: 50px;
    color: #ccc;
    z-index: 1;
}

#valorProduto {
    text-align: center;
    outline: none;
    margin-top: 5%;
    margin-bottom: 8%;
    width: 100%;
}

#valorPromo,
#qtdeMin,
#qtdeMax {
    text-align: center;
    outline: none;
    margin-top: 5%;
    margin-bottom: 8%;
    width: 100%;
}

#codigoBarras {
    text-align: center;
    outline: none;
    width: 100%;
}

.select_unidade {
    margin: 6% auto 0 auto;
    display: table;
    width: 100%;
}

#Produto {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
}

.tela_insumo {
    top: 10%;
    width: 100%;
    height: 90%;
    position: absolute;
}

#relaçao_insumo {
    position: absolute;
    top: 41px;
    height: calc(100% - 40px - 6%);
    width: 100%;
    background-color: #fff;
}

.linhas_insumo {
    height: 100%;
    overflow-y: scroll;
}

#Insumo,
#Receita,
#Freezer {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
}

.tela_receita {
    top: 10%;
    width: 100%;
    height: 90%;
    position: absolute;
}

.relaçao_receitas {
    position: absolute;
    top: 41px;
    height: calc(100% - 40px - 6%);
    width: 100%;
    background-color: #fff;
}

.linhas_receita {
    height: calc(100% - 40px);
    overflow-y: scroll;
}

.div_repetida_2 {
    width: 100%;
    float: left;
}

#dialogEditarBack,
#dialogCadastrarBack {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(15, 20, 22, 0.3);
}

#dialogCadastrarMain,
#dialogEditarMain {
    position: absolute;
    top: 12.5%;
    left: 25%;
    border-radius: 10px;
    width: 50%;
    height: 75%;
    background-color: #ffffff;
}

#title,
#titles {
    position: relative;
    width: 100%;
    height: 8%;
    text-align: center;
    background-color: #2d2c2c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.span_repetido_2 {
    position: relative;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    font-size: 25px;
    color: #ffffff;
    top: 8px;
}

.div_inputs_receita {
    display: inline-table;
    display: inline-table;
    position: relative;
    width: 99%;
    height: 20%;
}

#nomeReceita {
    outline: none;
    float: left;
    width: 91%;
    text-align: center;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    outline: none;
}

#rendimentoReceita,
#tempoPreparoReceita {
    outline: none;
    float: left;
    width: 25%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    outline: none;
}

#custoProducao {
    outline: none;
    float: left;
    width: 31%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
}

#select_cadastro_receitas {
    outline: none;
    float: left;
    width: 19%;
    text-align: center;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#listaAutoCompleteReceita {
    position: absolute;
    width: 91%;
    left: 5%;
    top: 19%;
    min-height: 30%;
    max-height: 120%;
    background-color: white;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 100;
}

#completar {
    position: absolute;
    width: 91%;
    left: 5%;
    top: 40%;
    max-height: 60%;
    background-color: white;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#addIns {
    position: relative;
    width: 95%;
    margin-left: 11px;
    height: 35%;
    border-radius: 10px;
}

#leftSide {
    height: 30%;
    width: 99%;
    float: left;
    margin-left: 5%;
}

#criadorReceita,
#aprovadorReceita {
    outline: none;
    float: left;
    width: 19%;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
}

#top {
    display: inline-table;
    position: relative;
    width: 99%;
    height: 25%;
}

.receita_rendimento {
    position: absolute;
    font-weight: bold;
    left: 10%;
    top: 23%;
    font-size: 14px;
}

.receita_tempo {
    position: absolute;
    font-weight: bold;
    left: 34.5%;
    top: 23%;
    font-size: 14px;
}

.receita_custo {
    position: absolute;
    font-weight: bold;
    left: 73%;
    top: 23%;
    font-size: 14px;
}

.receita_criador {
    position: absolute;
    font-weight: bold;
    left: 8%;
    top: 54%;
    font-size: 14px;
}

.receita_aprovada {
    position: absolute;
    font-weight: bold;
    left: 30%;
    top: 54%;
    font-size: 14px;
}

.receita_inicio {
    position: absolute;
    font-weight: bold;
    left: 58%;
    top: 54%;
    font-size: 14px;
}

#dataIniReceita {
    outline: none;
    float: left;
    width: 23%;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
}

#receita_ativa {
    position: absolute;
    font-weight: bold;
    right: 8%;
    top: 54%;
    font-size: 14px;
}

#ativoReceita {
    outline: none;
    float: left;
    width: 15%;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
    outline: none;
    height: 183%;
    font-size: 72%;
}

#nomeIns {
    outline: none;
    float: left;
    width: 55%;
    text-align: center;
}

#qtdeIns {
    outline: none;
    float: left;
    width: 20%;
    text-align: center;
    margin-left: 5%;
}

#listaAutoComplete {
    position: absolute;
    width: 53.5%;
    left: 5%;
    top: 21%;
    min-height: 20%;
    max-height: 100%;
    border: 2px solid red;
    background-color: white;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
}

#subTitle {
    position: relative;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 38%;
}

#botao_listaAutoComplete {
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #ccc;
}

#btAdd {
    float: left;
    height: 55%;
    text-align: center;
    margin-left: 20px;
}

#add {
    position: absolute;
    top: 15px;
    background-color: #ffffff;
}

#rightSide {
    height: 57%;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    float: left;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.div_ingredientes {
    width: 100%;
    float: left;
}

.div_modo_preparo {
    position: relative;
    width: 99%;
    height: 30%;
    text-align: center;
}

#modoPreparo {
    width: 86%;
    height: 63%;
    border-radius: 10px;
    resize: none;
    outline: none;
}

#receita_cancelar {
    position: absolute;
    height: 7%;
    left: 5%;
    bottom: 1%;
    border-radius: 10px;
}

#receita_alterar {
    position: absolute;
    height: 7%;
    right: 5%;
    bottom: 1%;
    border-radius: 10px;
}

.span_cadastrar_receita {
    position: relative;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    font-size: 25px;
    color: #ffffff;
    top: 8px;
}

#inputs_cadastro_receita,
#input_cadastro_ativo {
    outline: none;
    float: left;
    width: 19%;
    text-align: center;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#input_cadastro_ativo {
    height: 232%;
    font-size: 72%;
}

#botao_autoCompleteReceita {
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #ccc;
}

.div_modo_preparo {
    position: relative;
    width: 99%;
    height: 30%;
    text-align: center;
}

.aviso {
    position: absolute;
    bottom: 20%;
    left: 6%;
    font-size: 13px;
}

#inputSearchProduto {
    position: fixed;
    height: 4%;
    bottom: 1%;
    left: 62%;
}

#inputSearchInsumo {
    position: absolute;
    height: 4%;
    bottom: 1%;
    left: 62%;
}

.input_criadoAprovado {
    outline: none;
    float: left;
    width: 19%;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
    outline: none;
}

.span_ativo {
    position: absolute;
    font-weight: bold;
    right: 8%;
    top: 54%;
    font-size: 14px;
}

.select_ativoReceita {
    outline: none;
    float: left;
    width: 15%;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
    outline: none;
    height: 183%;
    font-size: 72%;
}

#button_cancelar {
    position: absolute;
    width: 20%;
    height: 7%;
    left: 5%;
    bottom: 1%;
    border-radius: 10px;
}

#button_cadastrar {
    position: absolute;
    width: 20%;
    height: 7%;
    right: 5%;
    bottom: 1%;
    border-radius: 10px;
}

#inputSearchReceita {
    position: absolute;
    height: 4%;
    bottom: 1%;
    left: 62%;
}

#Receita {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
}

.div_telaFreezer {
    top: 10%;
    width: 100%;
    height: 90%;
    position: absolute;
}

.div_tabelaFreezers {
    position: absolute;
    top: 41px;
    height: calc(100% - 40px - 6%);
    width: 100%;
    background-color: #fff;
}

.rows {
    height: 100%;
    overflow-y: auto;
}

.div_conteudoFreezers {
    width: 100%;
    float: left;
}

#inputSearchFreezer {
    position: absolute;
    height: 4%;
    bottom: 1%;
    left: 62%;
}

#Freezer {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
}

#input_nomeInsumoEdit, #quantidadeEdit{
  font-size: 25px;
}
