<div id="cadastrar" class="mdl-card mdl-shadow--8dp showContent">
  <div class='cadastro_header'>
    <div class="mdl-card__title mdl-color--grey-900" id='cadastro_titulo_div'>
      <span class="material-icons" id='icone_kitchen'>kitchen</span>
      <span class="descChar mdl-color-text--white" id='cadastro_titulo_span'>Cadastro</span>
    </div>
    <!-- Botões de seleção de tela (Superior) -->
    <app-topBar [nomeBotaoA]="'Produtos Finais'" [nomeBotaoB]="'Insumos'" [nomeBotaoC]="'Receitas'"
      [nomeBotaoD]="'Freezers'" [widthButtonA]="24.5" [widthButtonB]="24.5" [widthButtonC]="24.5" [widthButtonD]="24.5"
      [telaA]="'produto_final'" [telaB]="'insumo'" [telaC]="'receita'" [telaD]="'freezer'"
      [nameTelaA]="'desc_produtoFinal'" [nameTelaB]="'desc_insumo'" [nameTelaC]="'desc_receita'"
      [nameTelaD]="'id_freezer'" (handler)="telas($event)"></app-topBar>
  </div>

  <!-- Tela do Produto Final -->
  <div class='produto_final_tudo' *ngIf="tela == 'produto_final'">
    <!-- Table Head	 -->
    <app-tableHead [nomeCampoA]="'Id'" [widthA]="15" [nomeCampoB]="'Produto Final'" [widthB]="70"
      [nomeCampoC]="'Editar'" [widthC]="15">
    </app-tableHead>

    <div class='produto_final_div'>
      <div id="rows linhas">

        <div class='produto_final_body' *ngFor="let produtoFinal of resultadosFinais; let position = index">
          <!-- Table Row -->
          <app-tableBody [id]="produtoFinal.id_produtoFinal" [nomeCampoA]="produtoFinal.id_produtoFinal" [widthA]="15"
            [nomeCampoB]="produtoFinal.desc_produtoFinal" [widthB]="70" [widthEditButton]="15"
            [eventoEdit]="'editarProduto-'"
            (handler)="dialog($event); setValues(position,produtoFinal.desc_produtoFinal)">
          </app-tableBody>
          <!-- Diálogo de Edição do Produto Final -->
          <div id="dialogEditarBack" *ngIf="parametro == 'editarProduto-'+produtoFinal.id_produtoFinal">
            <div id="dialogEditarMain-{{$index}}" class="mdl-shadow--8dp dialogEditarMain">

              <div class="mdl-card__title mdl-color--grey-900" id="tituloProduto">
                <span class="descChar" id='div_editar_produto'>Editar Produto Final</span>
              </div>

              <div class="mdl-card__media mdl-grid mdl-color--white" id='edicao_produto'>
                <div id="leftSide" class="mdl-textfield mdl-js-textfield">

                  <input type="text" class="inputDialog " id="nomeCadProdEdit"
                    value="{{produtoFinal.desc_produtoFinal}}" />

                  <div class="uploadFile">
                    <label class="material-icons btFile" for="arquivo">
                      add_a_photo
                    </label>
                    <input type="file" id="arquivo" accept="image/*" (change)="getImage($event)">
                  </div>
                </div>

                <div id="fileImages" class='fileImages'>
                  <img id='imagem_escolhida' src="./assets/images/{{this.imgEscolhida[0].image}}">
                </div>
                <div class='div_repetida_1'>
                  <span class='span_repetido_1'>Valor (R$)</span>
                  <input type="text" class="inputDialog " currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" id="valorProdutoEdit"
                    value="{{produtoFinal.valor_produtoFinal | currency:'BRL':true:'1.2-2'}}" />

                  <span class='span_repetido_1'>Valor Promocional (R$)</span>
                  <input type="text" class="inputDialog " currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }"
                    id="valorPromocionalEdit"
                    value="{{produtoFinal.valorDesc_produtoFinal | currency:'BRL':true:'1.2-2'}}" />

                  <span class='span_repetido_1'>Quantidade Mínima ({{produtoFinal.unidadeVenda_produtoFinal}})</span>
                  <input type="number" class="inputDialog " id="qtdeMinimaEdit"
                    value="{{produtoFinal.qtdeMin_produtoFinal}}" />

                  <span class='span_repetido_1'>Quantidade Máxima ({{produtoFinal.unidadeVenda_produtoFinal}})</span>
                  <input type="number" class="inputDialog " id="qtdeMaxEdit"
                    value="{{produtoFinal.qtdeMax_produtoFinal}}" />

                  <span class='span_repetido_1'>Código de Barras</span>
                  <input type="text" class="inputDialog " id="alterarCodBarras"
                    value="{{produtoFinal.codigo_barras}}" />
                </div>

                <div class='div_selects'>
                  <select id="unidadeCad" placeholder="Unidade">
                    <option disabled selected hidden>{{produtoFinal.unidadeVenda_produtoFinal}}</option>
                    <option *ngFor="let unidade of unidadesCadastro" value="{{unidade}}">{{unidade}}</option>
                  </select>
                  <select id="tipoCad" placeholder="Tipo do Produto">
                    <option disabled selected hidden>{{produtoFinal.tipo_produto}}</option>
                    <option *ngFor="let produto of produtos" value="{{produto}}"> {{produto}} </option>
                  </select>
                  <select id="statusCad" class='status_prod' placeholder="Status">
                    <option disabled selected hidden>{{produtoFinal.status_produtoFinal}}</option>
                    <option *ngFor="let status of statusCadastro" value="{{status}}">{{status}}</option>
                  </select>
                </div>
                <button class="mdl-button mdl-js-ripple-effect" id='cancelar_prod' (click)="dialog($element)">
                  <span>
                    <b> Cancelar </b>
                  </span>
                </button>
                <button class="mdl-button mdl-js-ripple-effect" id='alterar_prod'
                  (click)="editarProdutoFinal(produtoFinal.id_produtoFinal)">
                  <span>
                    <b> Alterar</b>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Diálogo de Confirmação de Edição de Produto Final-->
        <text-dialog *ngIf="cadastro == 'produtoFinal Editado'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100"
          (handler)="confirmation('Fechado'); dialog('Close'); telas('produto_final', 'desc_produtoFinal')">
        </text-dialog>
        <!-- Diálogo de Cadastro de Produto Final -->
        <div id="dialogCadastrarBack" *ngIf="parametro == 'cadastrarProduto'">
          <div id="dialogCadastrarMain" class="mdl-shadow--8dp">
            <div class="mdl-card__title mdl-color--grey-900" id="tituloProduto">
              <span class="descChar" id='descChar'>Cadastrar Produto Final</span>
            </div>
            <span class='aviso'>Arquivos com extensão .jpg, .jpeg, .png</span>
            <div id='border_cadastrar_prod' class="mdl-card__media mdl-grid mdl-color--white">
              <div id="leftSide" class="mdl-textfield mdl-js-textfield">
                <input type="text" class="inputDialog " id="nomeCadProd" placeholder="Nome Produto" />
                <div class="uploadFile">
                  <label class="material-icons btFile" for="arquivo">
                    add_a_photo
                  </label>
                  <input type="file" id="arquivo" accept="image/*" (change)="getImage($event)">
                </div>
              </div>
              <div id="fileImages">
                <i class="fas fa-image" id="imgBack"></i>
              </div>
              <div class='div_repetida_1'>
                <input type="text" class="inputDialog " currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" id="valorProduto"
                  placeholder="Valor" />
                <input type="text" class="inputDialog " currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }" id="valorPromo"
                  placeholder="Valor Promocional" />
                <input type="number" class="inputDialog " id="qtdeMin" placeholder="Quantidade Mínima" />
                <input type="number" class="inputDialog " id="qtdeMax" placeholder="Quantidade Máxima" />
                <input type="text" class="inputDialog " id="codigoBarras" placeholder="Código de Barras" />
              </div>
              <div class='select_unidade'>
                <select id="unidadeVenda" placeholder="Unidade">
                  <option value="Unidade">Unidade</option>
                  <option value="Kilograma">Kilograma</option>
                </select>
                <select id="tipoProduto" placeholder="Tipo do Produto">
                  <option *ngFor="let produto of produtos" value="{{produto}}"> {{produto}} </option>
                </select>
                <select id="status" class='status_prod' placeholder="Status">
                  <option value="Ativo">Ativo</option>
                  <option value="Inativo">Inativo</option>
                </select>
              </div>
            </div>
            <div class="mdl-card__action" id="div_botoesCadastro">
              <button class="mdl-button mdl-js-ripple-effect" id='btCanProd' (click)="parametro = false">
                <span>
                  <b> Cancelar </b>
                </span>
              </button>
              <button class="mdl-button mdl-js-ripple-effect" id="btCadProd" (click)="cadastrarProduto()">
                <span>
                  <b> Cadastrar </b>
                </span>
              </button>
            </div>
          </div>
        </div>
        <!-- Diálogo de Confirmação de Cadastro de Produto Final -->
        <text-dialog *ngIf="cadastro == 'produtoFinal Cadastrado'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')">
        </text-dialog>
      </div>
    </div>
    <!-- Botão para abrir diálogo de cadastro de produto final -->
    <app-bottomBar [nomeBotao]="'Cadastrar Produto Final'" [evento]="'cadastrarProduto'" (handler)="dialog($event)"
      (handlerB)="openInputSearch('Produto')">]
    </app-bottomBar>
    <!-- Input para filtro -->
    <div id="inputSearchProduto" style="width:0">
      <input type="text" id="Produto" [(ngModel)]="filterResultsProd" (keyup)="bottomFilterProduto(filterResultsProd)"
        placeholder="Nome do Produto" />
    </div>
  </div>
  <!-- Tela do Insumo -->
  <div class='tela_insumo' *ngIf="tela == 'insumo'">
    <app-tableHead [nomeCampoA]="'Id'" [widthA]="15" [nomeCampoB]="'Insumo'" [widthB]="70" [nomeCampoC]="'Editar'"
      [widthC]="15">
    </app-tableHead>
    <div id='relaçao_insumo'>
      <div id="rows" class='linhas_insumo'>
        <div *ngFor="let insumo of resultadosFinais" class='div_repetida_2'>
          <app-tableBody [id]="insumo.id_insumo" [nomeCampoA]="insumo.id_insumo" [widthA]="15"
            [nomeCampoB]="insumo.desc_insumo" [widthB]="70" [widthEditButton]="15" [eventoEdit]="'editarInsumo-'"
            (handler)="dialog($event)">
          </app-tableBody>
          <pattern-dialog *ngIf="parametro == 'editarInsumo-'+insumo.id_insumo" (handler)="dialog($event)"
            (handlerB)="editarInsumo(insumo.id_insumo)" [titulo]="'Editar Insumo'" [divWidth]="40" [divHeight]="35"
            [bottomButtons]="7" [leftButtonA]="5" [rightButtonB]="5" [nomeBotaoA]="'Cancelar'"
            [nomeBotaoB]="'Atualizar'" [funcaoBotaoB]="editarInsumo" [topA]="30" [id]="'Edit'" [spanA]="'Nome Insumo'"
            [leftSpanA]="16" [topSpanA]="18" [sizeSpanA]="14" [widthA]="40" [leftA]="5" [valueA]="insumo.desc_insumo"
            [tituloA]="'nomeInsumo'" [nameComboB]="true" [valueCombo]="insumo.unidade_insumo"
            [tituloB]="'unidadeInsumo'" [typeC]="'number'" [spanC]="'Quantidade Mínima ('+insumo.unidade_insumo+')'"
            [leftSpanC]="9" [topSpanC]="49" [sizeSpanC]="14" [topC]="60" [widthC]="40" [leftC]="5"
            [valueC]="insumo.qtdeMin_insumo" [tituloC]="'qtdeMin'" [typeD]="'number'"
            [spanD]="'Quantidade Máxima ('+insumo.unidade_insumo+')'" [leftSpanD]="59" [topSpanD]="49" [sizeSpanD]="14"
            [topD]="60" [widthD]="40" [leftD]="55" [valueD]="insumo.qtdeMax_insumo" [tituloD]="'qtdeMax'">
          </pattern-dialog>
        </div>
        <text-dialog *ngIf="cadastro == 'Insumo Editado'" [id]="'Confirmação de Atualização'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')">
        </text-dialog>
        <pattern-dialog *ngIf="parametro == 'cadastrarInsumo'" (handler)="dialog($event)" (handlerB)="cadastrarInsumo()"
          [titulo]="'Cadastrar Insumo'" [divWidth]="30" [divHeight]="35" [bottomButtons]="7" [leftButtonA]="5"
          [rightButtonB]="5" [nomeBotaoA]="'Cancelar'" [nomeBotaoB]="'Cadastrar'" [funcaoBotaoB]="cadastrarInsumo"
          [id]="'Cad'" [topA]="30" [widthA]="40" [leftA]="5" [placeholderA]="'Nome Insumo'" [tituloA]="'nomeInsumo'"
          [nameComboB]='true' [topC]="60" [widthC]="40" [leftC]="5" [typeC]="'number'"
          [placeholderC]="'Quantidade Mínima'" [tituloC]="'qtdeMin'" [topD]="60" [widthD]="40" [leftD]="55"
          [typeD]="'number'" [placeholderD]="'Quantidade Máxima'" [tituloD]="'qtdeMax'">
        </pattern-dialog>
        <text-dialog *ngIf="cadastro == 'Insumo Cadastrado'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [bottomButton]="0" [leftButton]="0" [heightButton]="20" [widthButton]="100"
          [text]="textDialog" [icon]="'check_all'" (handler)="confirmation('Fechado')"></text-dialog>
      </div>
    </div>
    <app-bottomBar [nomeBotao]="'Cadastrar Insumo'" [evento]="'cadastrarInsumo'" (handler)="dialog($event)"
      (handlerB)="openInputSearch('Insumo')">
    </app-bottomBar>
    <div id="inputSearchInsumo" style="width:0">
      <input type="text" id="Insumo" [(ngModel)]="filterResultsInsumo" (keyup)="bottomFilterInsumo(filterResultsInsumo)"
        placeholder="Nome do Insumo" />
    </div>
  </div>
  <!-- Tela de Receita -->
  <div class='tela_receita' *ngIf="tela == 'receita'">
    <app-tableHead [nomeCampoA]="'Id'" [widthA]="15" [nomeCampoB]="'Nome'" [widthB]="30" [nomeCampoC]="'Rendimento'"
      [widthC]="15" [nomeCampoD]="'Tempo de Preparo'" [widthD]="15" [nomeCampoE]="'Ativo'" [widthE]="10"
      [nomeCampoF]="'Editar'" [widthF]="15">
    </app-tableHead>
    <div class='relaçao_receitas'>
      <div id="rows" class='linhas_receita'>
        <div *ngFor="let receita of resultadosFinais" class='div_repetida_2'>
          <app-tableBody [id]="receita.id_receita" [nomeCampoA]="receita.id_receita" [widthA]="15"
            [nomeCampoB]="receita.desc_receita" [widthB]="30" [nomeCampoC]="receita.rendimento" [widthC]="15"
            [nomeCampoD]="receita.tempoPreparo_receita" [widthD]="15" [nomeCampoE]="receita.ativo" [widthE]="10"
            [widthEditButton]="15" [eventoEdit]="'editarReceita-'" (handler)="dialog($event); editIngredients($event)">
          </app-tableBody>
          <div id="dialogEditarBack" *ngIf="parametro == 'editarReceita-'+receita.id_receita">
            <div id="dialogEditarMain">
              <div id="titles">
                <span class='span_repetido_2'>Editar Receita</span>
              </div>
              <!-- DIV DOS INPUTS -->
              <div id="top">
                <input disabled type="text" class="inputDialog" id="nomeReceita" [(ngModel)]="nomeEditReceita"
                  (blur)="closeComplete()" (keyup)='filterReceita(nomeEditReceita)' value="{{receita.desc_receita}}" />
                <span class='receita_rendimento'>Rendimento</span>
                <input type="number" class="inputDialog" id="rendimentoReceita" value="{{receita.rendimento}}" />
                <span class='receita_tempo'>Tempo Preparo (min)</span>
                <input type="number" class="inputDialog" id="tempoPreparoReceita"
                  value="{{receita.tempoPreparo_receita}}" />
                <span class='receita_custo'>Custo (R$)</span>
                <input type="text" class="inputDialog" id="custoProducao" currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }"
                  value="{{receita.custo | currency:'BRL':true:'1.2-2'}}" />
                <div class='inputs'>
                  <span class='receita_criador'>Criado por</span>
                  <input id='criadorReceita' type="text" class="inputDialog input_criadoAprovado"
                    value="{{receita.criador}}" />
                  <span class='receita_aprovada'>Aprovado por</span>
                  <input id='aprovadoReceita' type="text" class="inputDialog input_criadoAprovado"
                    value="{{receita.aprovado}}" />
                  <span class='receita_inicio'>Data início</span>
                  <input id='dataIniReceita' type="date" class="inputDialog" value="{{receita.dataIni}}" />
                  <span class="span_ativo">Ativo</span>
                  <select id='ativoReceita' class="inputDialog select_ativoReceita" value="{{receita.ativo}}">
                    <option>Sim</option>
                    <option>Não</option>
                  </select>
                </div>
                <div id="listaAutoCompleteReceita" *ngIf="resultReceita.length > 0" class="mdl-shadow--4dp">
                  <button *ngFor="let resultado of resultReceita, let index=index"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect" id='completar'
                    (click)="nomeEditReceita = resultado.desc_produtoFinal">{{resultado.desc_produtoFinal}}</button>
                </div>
              </div>
              <div id="addIns">
                <div id="leftSide">
                  <span id="subTitle">Ingredientes</span>
                  <br>
                  <input type="text" class="inputDialog" id="nomeIns" [(ngModel)]="nomeIns"
                    (keyup)="filterInsumos(nomeIns)" placeholder="Nome" />
                  <input type="number" class="inputDialog" id="qtdeIns" placeholder="Quantidade" />
                  <div id="listaAutoComplete" *ngIf="filtroStatus">
                    <button *ngFor="let resultado of insumosFiltrados, let index=index"
                      class="mdl-button mdl-js-button mdl-js-ripple-effect" id='botao_listaAutoComplete'
                      (click)="completar(index)">{{resultado.desc_insumo}} ({{resultado.unidade_insumo}})</button>
                  </div>
                  <div id="btAdd">
                    <button id="add" (click)="adicionarInsumoEdicao()"
                      class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                      <span>
                        <i class="material-icons">add</i>
                      </span>
                    </button>
                  </div>
                  <text-dialog *ngIf="cadastro == 'Insumo Adicionado'" [id]="'Confirmação de Atualização'"
                    [divWidth]="25" [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'"
                    [bottomButton]="0" [leftButton]="0" [heightButton]="20" [widthButton]="100"
                    (handler)="confirmation('Fechado')"></text-dialog>
                </div>
                <div id="rightSide">
                  <div *ngFor="let ingrediente of ingredientes; let index = index" class='div_ingredientes'>
                    <app-tableBody [nomeCampoA]="ingrediente.nome" [widthA]="60"
                      [nomeCampoB]="ingrediente.qtde + ingrediente.unidade" [widthB]="20" [widthExcludeButton]="10"
                      [eventoExclude]="''" [id]="index" (handler)="editarIngredientes($event)"></app-tableBody>
                  </div>
                </div>
              </div>
              <div class='div_modo_preparo'>
                <span id="subTitle">Modo de Preparo</span>
                <br>
                <textarea id="modoPreparo" value="{{receita.modoPreparo_receita}}"></textarea>
              </div>
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id='receita_cancelar'
                (click)="dialog($event)">
                <span> Cancelar </span>
              </button>
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id='receita_alterar'
                (click)="editarReceita(receita.id_receita)">
                <span> Alterar </span>
              </button>
            </div>
          </div>
        </div>
        <text-dialog *ngIf="cadastro == 'Receita Editada'" [id]="'Confirmação de Edicao'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
        <div id="dialogCadastrarBack" *ngIf="parametro == 'cadastrarReceita'">
          <div id="dialogCadastrarMain">
            <div id="title">
              <span class='span_cadastrar_receita'>Cadastrar Receita</span>
            </div>
            <div id="top">
              <input type="text" class="inputDialog" id="nomeReceita" [(ngModel)]='nomeReceita' (blur)='closeComplete()'
                (keyup)="filterReceita(nomeReceita)" placeholder="Nome da Receita" />
              <input type="number" class="inputDialog" id="rendimentoReceita" placeholder="Rendimento" />
              <input type="number" class="inputDialog" id="tempoPreparoReceita" placeholder="Tempo Preparo(min)" />
              <input type="text" class="inputDialog" id="custoProducao" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }"
                placeholder="Custo de Produção(R$)" />
              <div class='inputs'>
                <input [(ngModel)]='criador' type="text" class="inputDialog" id='inputs_cadastro_receita'
                  placeholder='Criada por' />
                <input [(ngModel)]='aprovado' type="text" class="inputDialog" id='inputs_cadastro_receita'
                  placeholder='Aprovada por' />
                <input [(ngModel)]='dataInicio' type="date" class="inputDialog" id='inputs_cadastro_receita'
                  placeholder='Data de início' />
                <select [(ngModel)]='ativo' class="inputDialog" id='input_cadastro_ativo' placeholder='Ativa'>
                  <option>Sim</option>
                  <option>Não</option>
                </select>
              </div>
              <div id="listaAutoCompleteReceita" *ngIf="resultReceita.length > 0" class="mdl-shadow--4dp">
                <button id='botao_autoCompleteReceita' *ngFor="let resultado of resultReceita, let index=index"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect"
                  (click)="nomeReceita = resultado.desc_produtoFinal; completeNome = true">{{resultado.desc_produtoFinal}}</button>
              </div>
            </div>
            <div id="addIns">
              <div id="leftSide">
                <span id="subTitle">Ingredientes</span>
                <br>
                <input type="text" class="inputDialog" id="nomeIns" [(ngModel)]="nomeIns"
                  (keyup)="filterInsumos(nomeIns)" placeholder="Nome" />
                <input type="number" class="inputDialog" id="qtdeIns" placeholder="Quantidade" />
                <div id="listaAutoComplete" *ngIf="filtroStatus">
                  <button *ngFor="let resultado of insumosFiltrados, let index=index"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect" id='botao_autoCompleteReceita'
                    (click)="completar(index)">{{resultado.desc_insumo}} ({{resultado.unidade_insumo}})</button>
                </div>
                <div id="btAdd">
                  <button id="add" (click)="adicionarInsumo()"
                    class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                    <span>
                      <i class="material-icons">add</i>
                    </span>
                  </button>
                </div>
                <text-dialog *ngIf="cadastro == 'Insumo Adicionado'" [id]="'Confirmação de Atualização'" [divWidth]="25"
                  [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0"
                  [leftButton]="0" [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')">
                </text-dialog>
              </div>
              <div id="rightSide">
                <div class='div_ingredientes' *ngFor="let ingrediente of ingredientes; let index = index">
                  <app-tableBody [nomeCampoA]="ingrediente.nome" [widthA]="60"
                    [nomeCampoB]="ingrediente.qtde + ingrediente.unidade" [widthB]="20" [widthExcludeButton]="10"
                    [eventoExclude]="''" [id]="index" (handler)="excluirIngredientes($event)">
                  </app-tableBody>
                </div>
              </div>
            </div>
            <div class='div_modo_preparo'>
              <span id="subTitle">Modo de Preparo</span>
              <br>
              <textarea id="modoPreparo"></textarea>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="button_cancelar" (click)="dialog($event)">
              <span>Cancelar</span>
            </button>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="button_cadastrar"
              (click)="cadastrarReceita()">
              <span>Cadastrar</span>
            </button>
          </div>
        </div>
        <text-dialog *ngIf="cadastro == 'Receita Cadastrada'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
      </div>
    </div>
    <app-bottomBar [nomeBotao]="'Cadastrar Receita'" [evento]="'cadastrarReceita'" (handler)="dialog($event)"
      (handlerB)="openInputSearch('Receita')"></app-bottomBar>
    <div id="inputSearchReceita" style="width:0">
      <input type="text" id="Receita" [(ngModel)]="filterResultsReceita"
        (keyup)="bottomFilterReceita(filterResultsReceita)" placeholder="Nome da Receita" />
    </div>
  </div>
  <!-- Tela do Freezer -->
  <div class="div_telaFreezer" *ngIf="tela == 'freezer'">
    <app-tableHead [nomeCampoA]="'Id'" [widthA]="20" [nomeCampoB]="'Temperatura Mínima'" [widthB]="30"
      [nomeCampoC]="'Temperatura Máxima'" [widthC]="30" [nomeCampoD]="'Editar'" [widthD]="20">
    </app-tableHead>
    <div class="div_tabelaFreezers">
      <div id="rows" class="rows">
        <div class='div_conteudoFreezers' *ngFor="let freezer of resultadosFinais">
          <app-tableBody [id]="freezer.id_freezer" [nomeCampoA]="freezer.id_freezer" [widthA]="20"
            [nomeCampoB]="freezer.tempMin_freezer+' ºC'" [widthB]="30" [nomeCampoC]="freezer.tempMax_freezer+' ºC'"
            [widthC]="30" [widthEditButton]="20" [eventoEdit]="'editarFreezer-'" (handler)="dialog($event)">
          </app-tableBody>
          <pattern-dialog *ngIf="parametro == 'editarFreezer-'+freezer.id_freezer" (handler)="dialog($event)"
            (handlerB)="editarFreezer(freezer.id_freezer)" [titulo]="'Editar Freezer'" [divWidth]="30" [divHeight]="35"
            [bottomButtons]="7" [leftButtonA]="5" [rightButtonB]="5" [nomeBotaoA]="'Cancelar'"
            [nomeBotaoB]="'Atualizar'" [disabled]="true" [typeA]="'number'" [spanA]="'Id Freezer'" [leftSpanA]="40"
            [id]="'Edit'" [topSpanA]="15" [sizeSpanA]="14" [topA]="23" [widthA]="80" [leftA]="10"
            [valueA]="freezer.id_freezer" [tituloA]="'idFreezer'" [typeB]="'number'" [spanB]="'Temperatura Mínima (ºC)'"
            [leftSpanB]="25" [topSpanB]="35" [sizeSpanB]="14" [topB]="45" [widthB]="80" [leftB]="10"
            [valueB]="freezer.tempMin_freezer" [tituloB]="'tempMin'" [typeC]="'number'"
            [spanC]="'Temperatura Máxima (ºC)'" [leftSpanC]="25" [topSpanC]="57" [sizeSpanC]="14" [topC]="65"
            [widthC]="80" [leftC]="10" [valueC]="freezer.tempMax_freezer" [tituloC]="'tempMax'"></pattern-dialog>
        </div>
        <text-dialog *ngIf="cadastro == 'Freezer Editado'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
        <pattern-dialog *ngIf="parametro == 'cadastrarFreezer'" (handler)="dialog($event)"
          (handlerB)="cadastrarFreezer()" [titulo]="'Cadastrar Freezer'" [divWidth]="30" [divHeight]="35"
          [bottomButtons]="7" [rightButtonB]="5" [nomeBotaoA]="'Cancelar'" [nomeBotaoB]="'Cadastrar'" [id]="'Cad'"
          [typeB]="'number'" [topB]="29" [widthB]="80" [leftB]="10" [placeholderB]="'Temperatura Mínima'"
          [tituloB]="'tempMin'" [typeC]="'number'" [topC]="52" [widthC]="80" [leftC]="10"
          [placeholderC]="'Temperatura Máxima'" [tituloC]="'tempMax'"></pattern-dialog>
        <text-dialog *ngIf="cadastro == 'Freezer Cadastrado'" [id]="'Confirmação de Cadastro'" [divWidth]="25"
          [divHeight]="20" [fontSize]="20" [text]="textDialog" [icon]="'check_all'" [bottomButton]="0" [leftButton]="0"
          [heightButton]="20" [widthButton]="100" (handler)="confirmation('Fechado')"></text-dialog>
      </div>
    </div>
    <app-bottomBar [nomeBotao]="'Cadastrar Freezer'" [evento]="'cadastrarFreezer'" (handler)="dialog($event)"
      (handlerB)="openInputSearch('Freezer')"></app-bottomBar>
    <div id="inputSearchFreezer" style="width:0">
      <input type="text" id="Freezer" [(ngModel)]="filterResultsFreezer"
        (keyup)="bottomFilterFreezer(filterResultsFreezer)" placeholder="Id do Freezer" />
    </div>
  </div>
</div>
