#mainLogin {
  background: url("../../../assets/images/emptywallpaper.jpg") center;
  position: absolute;
  height: 100%;
  width: 100%;
}

#loading {
  z-index: 999;
  position: absolute;
  width: 10%;
  height: 20%;
  top: 40%;
  left: 45%;
}

.white {
  background: #fff;
}

.span_loading {
  margin: 0% auto;
  display: table;
  color: #fff;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
