<div id="mainLogin" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="white">
    <div id="loading">
      <span class="span_loading">Carregando...</span>
      <img src="./assets/images/loading4.gif">
    </div>
  </div>
</div>