<div>
  <div id='pageHeader'>
    <div ht-if="nodeenv == 'local'">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
    <div ht-if="nodeenv == 'teste'">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
    <div ht-if="nodeenv == 'producao'">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
  </div>
  <span style="margin: 0% auto; display: table; font-size: 21px">Relatório de Freezer - Fiec Cantina</span>

  <div style="margin: 5% auto;display: table;width: 80%;top: 40%;left: 10%;border: 2px solid #424242;border-radius: 10px;">
    <div id="head" style="width: 100%;height: 30px;border-bottom: 1px solid #424242;">
      <div style="width: 20%; float: left">
        <span style="margin: 5% auto 0%;display: table; font-weight: bold"> ID </span>
      </div>
      <div style="width: 20%; float: left">
        <span style="margin: 5% auto 0%;display: table; font-weight: bold">Tipo Compra</span>
      </div>
      <div style="width: 20%; float: left">
        <span style="margin: 5% auto 0%;display: table; font-weight: bold">Data Compra</span>
      </div>
      <div style="width: 20%; float: left">
        <span style="margin: 5% auto 0%;display: table; font-weight: bold">Valor Compra</span>
      </div>
      <div style="width: 20%; float: left">
        <span style="margin: 5% auto 0%;display: table; font-weight: bold">Mercado</span>
      </div>
    </div>
    <div id="body" style="width: 100%;height: 20px">

    </div>
  </div>
</div>
