<style>
  #html:last-child {
    max-height: 98%;
  }
</style>

<div ht-repeat="receita in valores" style="height: 100%; margin: 2% auto">
  <div id="header" style="height:10%">
    <div ht-if="nodeenv == 'local'">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
    <div ht-if="nodeenv == 'teste'">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
    <div ht-if="nodeenv == 'producao'">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
  </div>
  <span style="margin: 1% auto; display: table; font-size: 21px">Relatório de Receitas - Fiec 1 & 2 Cantina</span>

  <div id="content" style="min-height: 70%; max-height: 70%; float: left">
    <div style="margin: 10% auto;display: table;width: 80%;border: 2px solid #424242;border-radius: 4px">
      <div id="head" style="width: 100%;height: 30px;border-bottom: 1px solid #424242;">

        <div style="height: 100%; width: 50%; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold"> Receita </span>
        </div>
        <div style="height: 100%; width: 25%; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold">Rendimento</span>
        </div>
        <div style="height: 100%; width: 25%; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold">Tempo de Preparo</span>
        </div>

        <div style="width: 50%; float: left">
          <span style="margin: 5px auto 0%;display: table"> {{receita.nome_receita}} </span>
        </div>
        <div style="width: 25%; float: left">
          <span style="margin: 5px auto 0%;display: table"> {{receita.rendimento}} porções </span>
        </div>
        <div style="width: 25%; float: left">
          <span style="margin: 5px auto 0%;display: table"> {{receita.tempoPreparo}} min </span>
        </div>

        <div style="height: 100%; width: 100%; border-top: 1px solid #424242; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold">Ingredientes</span>
        </div>
        <div style="height: 100%; width: 50%; float: left; text-align: center; font-weight: bold; border-top: 1px solid #424242">
          Nome </div>
        <div style="height: 100%; width: 50%; float: left; text-align: center; font-weight: bold; border-top: 1px solid #424242">
          Quantidade</div>

        <div ht-repeat="ingrediente in receita.ingredientes" style="height: 100%; width: 100%; float: left">
          <div style="height: 100%; width: 50%; float: left">
            <span style="margin: 5px auto 0%;display: table"> {{ingrediente.nome}} </span>
          </div>
          <div style="height: 100%; width: 50%; float: left">
            <span style="margin: 5px auto 0%;display: table"> {{ingrediente.qtde}} {{ingrediente.unidade}} </span>
          </div>
        </div>

        <div style="height: 100%; width: 100%; border-bottom: 1px solid #424242; border-top: 1px solid #424242; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold">Modo de Preparo</span>
        </div>
        <div style="width: 100%; float: left">
          <span style="margin: 5px auto 0%;display: table"> {{receita.modo_preparo}} </span>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" style="margin: 5% auto 0%; max-height: 10%; width: 100%; float: left">
    <span style="font-size: 13px; margin: 0% auto; display: table">
      <b>FIEC I</b> - Avenida Engenheiro Fábio Roberto Barnabé, 3405 • Jardim Regina • CEP: 13349-003 • Fone: (19)3801-8688
      • Indaiatuba-SP</span>
    <span style="font-size: 13px; margin: 0% auto; display: table">
      <b>FIEC II</b> - Rua Alberto Santos Dumont, 1849 • Cidade Nova I • CEP: 13334-150 • Fone: (19)3816-7534 • Indaiatuba-SP</span>
    <br>
    <span style="font-size: 11px; margin: 0% auto; display: table">© Copyright 2018 Fundação Indaiatubana de Educação e Cultura</span>
  </div>
</div>
