<script>
    total = 0
</script>
<div ht-repeat="compra in valores" id="body" style="display:none">
    {{total += compra.valor_compra | currency:undefined:2}}      
</div>
    {{total = total | currency:undefined:2}}
