<style>
  #html:last-child {
    max-height: 98%;
  }
</style>

<div id="html" ht-repeat="venda in valores" style="height: 100%; margin: 2% auto">
  <div id="pageHeader" style="height:10%">
    <div ht-if="nodeenv == 'local'">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
    <div ht-if="nodeenv == 'teste'">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
    <div ht-if="nodeenv == 'producao'">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
  </div>
  <span style="margin: 1% auto; display: table; font-size: 21px">Relatório de Vendas Detalhado - Fiec {{valores[0].polo}} Cantina</span>
  <div id="content" style="min-height: 67.3%; max-height: 67.3%">
    <div style="margin: 9% auto;display: table;width: 80%;top: 40%;left: 10%;border: 2px solid #424242;border-radius: 4px">
      <div id="head" style="width: 100%;height: 30px;border-bottom: 1px solid #424242;">
        <div style="height: 100%; width: 50%; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold"> Venda {{venda.id_venda}} </span>
        </div>
        <div style="height: 100%; width: 50%; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold">Data Venda {{venda.data_vendaFormatada}}</span>
        </div>

        <div style="height: 100%; width: 10%; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold">Cód</span>
        </div>
        <div style="height: 100%; width: 50%; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold">Produto</span>
        </div>
        <div style="height: 100%; width: 10%; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold">Qtde</span>
        </div>
        <div style="height: 100%; width: 10%; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold">Valor</span>
        </div>
        <div style="height: 100%; width: 20%; float: left">
          <span style="margin: 7px auto 0%;display: table; font-weight: bold">Total</span>
        </div>

        <div id="prods" ht-repeat="produto in venda.detalhesVenda" style="width: 100%;height: 30px">
          <div style="width: 10%; float: left">
            <span style="margin: 7px auto 0%;display: table">{{produto.id_vendaAux}}</span>
          </div>
          <div style="width: 50%; float: left">
            <span style="margin: 7px auto 0%;display: table">{{produto.desc_produtoFinal}}</span>
          </div>
          <div style="width: 10%; float: left">
            <span style="margin: 7px auto 0%;display: table">{{produto.qtde_vendaAux}}</span>
          </div>
          <div style="width: 10%; float: left">
            <span style="margin: 7px auto 0%;display: table">{{produto.val_vendaAux | currency:undefined:2}}</span>
          </div>
          <div style="width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table">{{produto.qtde_vendaAux * produto.val_vendaAux | currency:undefined:2}}</span>
          </div>
        </div>

        <div id="head" style="width: 100%;height: 30px">
          <div style="height: 100%; border-bottom: 1px solid #424242; border-top: 1px solid#424242; width: 100%; float: left">
            <span style="margin: 7px auto 0%;display: table; font-weight: bold">Pagamento</span>
          </div>
          <div style="height: 100%; width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table; font-weight: bold">Dinheiro</span>
          </div>
          <div style="height: 100%; width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table; font-weight: bold">Crédito</span>
          </div>
          <div style="height: 100%; width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table; font-weight: bold">Débito</span>
          </div>
          <div style="height: 100%; width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table; font-weight: bold">Card Fiec</span>
          </div>
          <div style="height: 100%; width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table; font-weight: bold">Total</span>
          </div>
        </div>

        <div id="head" style="width: 100%;height: 30px;">
          <div style="width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table">{{venda.pag_dinheiro | currency:undefined:2}}</span>
          </div>
          <div style="width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table">{{venda.pag_credito | currency:undefined:2}}</span>
          </div>
          <div style="width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table">{{venda.pag_debito | currency:undefined:2}}</span>
          </div>
          <div style="width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table">{{venda.pag_cardFiec | currency:undefined:2}}</span>
          </div>
          <div style="width: 20%; float: left">
            <span style="margin: 7px auto 0%;display: table">{{venda.total_venda | currency:undefined:2}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="footer" style="height: 10%">
    <span style="font-size: 13px; margin: 0% auto; display: table">
      <b>FIEC I</b> - Avenida Engenheiro Fábio Roberto Barnabé, 3405 • Jardim Regina • CEP: 13349-003 • Fone: (19)3801-8688
      • Indaiatuba-SP</span>
    <span style="font-size: 13px; margin: 0% auto; display: table">
      <b>FIEC II</b> - Rua Alberto Santos Dumont, 1849 • Cidade Nova I • CEP: 13334-150 • Fone: (19)3816-7534 • Indaiatuba-SP</span>
    <br>
    <span style="font-size: 11px; margin: 0% auto; display: table">© Copyright 2018 Fundação Indaiatubana de Educação e Cultura</span>
  </div>
</div>
