<div>
  <div id="pageHeader" style="height:10%">
    <div ht-if="nodeenv == 'local'">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Desenvolvimento/Desktop/Guilherme/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
    <div ht-if="nodeenv == 'teste'">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-E8VB10ULNOJ/Desktop/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
    <div ht-if="nodeenv == 'producao'">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/indaialogo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/logo.png" style="margin: 0% 5% 0% 5%; display: table; float:left;width: 25%">
      <img src="file:///C:/Users/Administrador.WIN-T00RQNH0HSO/Desktop/Cantina/server/app/utilities/html/cepin.jpg" style="margin: 1% 0% 5% 5%; display: table; float:left;width: 20%">
    </div>
  </div>
  <span style="margin: 1% auto; display: table; font-size: 21px">Relatório de Venda - Fiec {{valores[0].polo}} Cantina</span>

  <div style="margin: 5% auto;display: table;width: 80%;top: 40%;left: 10%;border: 2px solid #424242;border-radius: 4px;">
    <div id="head" style="width: 100%;height: 30px;border-bottom: 1px solid #424242;">
      <div style="height: 100%; width: 5%; float: left">
        <span style="margin: 7px auto 0%;display: table; font-weight: bold"> ID </span>
      </div>
      <div style="height: 100%; width: 30%; float: left">
        <span style="margin: 7px auto 0%;display: table; font-weight: bold">Data Venda</span>
      </div>
      <div style="height: 100%; width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table; font-weight: bold">Dinheiro</span>
      </div>
      <div style="height: 100%; width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table; font-weight: bold">Débito</span>
      </div>
      <div style="height: 100%; width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table; font-weight: bold">Crédito</span>
      </div>
      <div style="height: 100%; width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table; font-weight: bold">Cartão</span>
      </div>
      <div style="height: 100%; width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table; font-weight: bold">Total Venda</span>
      </div>
    </div>
    <div id="body" ht-repeat="venda in valores" style="width: 100%;height: 20px">
      <div style="width: 5%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{venda.id_venda}} </span>
      </div>
      <div style="width: 30%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{venda.data_vendaFormatada}}</span>
      </div>
      <div style="width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{venda.pag_dinheiro | currency:undefined:2}}</span>
      </div>
      <div style="width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{venda.pag_debito | currency:undefined:2}}</span>
      </div>
      <div style="width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{venda.pag_credito | currency:undefined:2}}</span>
      </div>
      <div style="width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{venda.pag_cardFiec | currency:undefined:2}}</span>
      </div>
      <div style="width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{venda.total_venda | currency:undefined:2}}</span>
      </div>
    </div>
    <div id="body" ht-repeat="venda in valores" style="width: 100%;height: 20px">
      <!-- PEGAR TOTAL -->
      <div style="display: none">
        {{index+=1}} {{valores.length}} {{dinheiro += venda.pag_dinheiro}} {{debito += venda.pag_debito}} {{credito += venda.pag_credito}}
        {{cardFiec += venda.pag_cardFiec}} {{total += venda.total_venda}}
      </div>
      <!-- MOSTRAR TOTAL -->
      <div ht-if="index == valores.length" style="width: 35%; float: left">
        <span style="margin: 7px auto 0%;display: table"> Total Recebido</span>
      </div>
      <div ht-if="index == valores.length" style="width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{dinheiro | currency:undefined:2}}</span>
      </div>
      <div ht-if="index == valores.length" style="width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{debito | currency:undefined:2}}</span>
      </div>
      <div ht-if="index == valores.length" style="width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{credito | currency:undefined:2}}</span>
      </div>
      <div ht-if="index == valores.length" style="width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{cardFiec | currency:undefined:2}}</span>
      </div>
      <div ht-if="index == valores.length" style="width: 13%; float: left">
        <span style="margin: 7px auto 0%;display: table"> {{total | currency:undefined:2}}</span>
      </div>
    </div>
  </div>

  <div id="pageFooter" style="height: 10%">
    <span style="font-size: 13px; margin: 0% auto; display: table">
      <b>FIEC I</b> - Avenida Engenheiro Fábio Roberto Barnabé, 3405 • Jardim Regina • CEP: 13349-003 • Fone: (19)3801-8688
      • Indaiatuba-SP</span>
    <span style="font-size: 13px; margin: 0% auto; display: table">
      <b>FIEC II</b> - Rua Alberto Santos Dumont, 1849 • Cidade Nova I • CEP: 13334-150 • Fone: (19)3816-7534 • Indaiatuba-SP</span>
    <br>
    <span style="font-size: 11px; margin: 0% auto; display: table">© Copyright 2018 Fundação Indaiatubana de Educação e Cultura</span>
  </div>
</div>
