<div id="mainCredito" class='div_mainCredito'>
    <div *ngIf="!isCredito" id="CreditoDiv" class="jumpIn mdl-card mdl-shadow--8dp">
        <button id="button_close" class="mdl-button mdl-js-button mdl-button--icon" (click)="closeCredito()">
            <i class="material-icons">close</i>
        </button>
        <i class="material-icons loadingAnim">credit_card</i>
        <input id="input_carTag" class="input_tagCartao" type="text" placeholder="Checar crédito" (keyup.enter)="checarCredito()"
            [(ngModel)]="car_tag" />
    </div>
    <div *ngIf="isCredito" class="div_credito mdl-card mdl-shadow--8dp">
        <button id="button_close" class="mdl-button mdl-js-button mdl-button--icon" (click)="voltarCredito()">
            <i class="material-icons">close</i>
        </button>
        <span class="span_credito">Crédito disponível: {{car_credito | currency:'BRL':2}}</span>
        <hr>
    </div>
</div>