<div id="mainInfo" class='div_mainInfo'>
    <div id="infoDiv" class="jumpIn mdl-card mdl-shadow--8dp">
        <button id="button_close" class="mdl-button mdl-js-button mdl-button--icon" (click)="closeInfo()">
            <i class="material-icons">close</i>
        </button>
        <img src="./assets/images/logo.png" class='img_logo' />
        <img src="./assets/images/indaialogo.png" class='img_indaialogo' />
        <img src="./assets/images/ciilogo.png" class='img_ciilogo' />
        <div class='div_conteudoInfo'>
            <span class='span_organizadores'>Organizado por:</span>
            <div *ngFor="let organizador of organizadores" class="div_ngFor">
                <div class="material-icons" id="div_icone">account_circle</div>
                <span class="descChar">{{organizador}}</span>
            </div>
            <hr>
            <span class="span_desenvolvedores">Desenvolvido por:</span>
            <div *ngFor="let desenvolvedor of desenvolvedores" class="div_ngFor">
                <div class="material-icons" id="div_icone">account_circle</div>
                <span class="descChar">{{desenvolvedor}}</span>
            </div>
        </div>
    </div>
</div>