@keyframes btAnim {
    from {
        transform: rotate(0deg);
    }

    to {
        animation-fill-mode: forwards;
        color: #f44336;
        transform: rotate(90deg);
    }
}

.btAnim {
    animation: btAnim 0.2s forwards;
    -webkit-animation: btAnim 0.2s forwards;
    color: #f44336;
    transform: rotate(90deg);
}

@keyframes btAnim_hide {
    from {
        color: #f44336;
        transform: rotate(90deg);
    }

    to {
        animation-fill-mode: forwards;
        transform: rotate(0deg);
    }
}

.btAnim_hide {
    animation: btAnim_hide 0.2s forwards;
    -webkit-animation: btAnim_hide 0.2s forwards;
    color: #ffffff;
    transform: rotate(0deg);
}

@keyframes jumpIn {
    0% {
        position: absolute;
        top: 100%;
    }

    50% {
        position: absolute;
        top: 9%;
    }

    100% {
        position: absolute;
        top: 12.5%;
    }
}

.jumpIn {
    animation: jumpIn 0.5s forwards;
}

@keyframes jumpOut {
    from {
        position: absolute;
        top: 12.5%;
    }

    to {
        position: absolute;
        top: 100%;
    }
}

.jumpOut {
    animation: jumpOut 0.5s forwards;
}

@keyframes barAnimationIcon {
    from {
        font-size: 24px;
        color: #fff;
    }

    to {
        font-size: 40px;
        color: #f44336;
    }
}

@keyframes barAnimationButton {
    from {
        border: none;
    }

    to {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
}

@keyframes barAnimationSpan {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.display {
    display: block;
    color: #fff;
}

.barAnimation i {
    animation: barAnimationIcon 0.5s forwards;
}

.barAnimation i~span {
    animation: barAnimationSpan 0.2s forwards;
}

.barAnimation {
    animation: barAnimationButton 0.5s forwards;
}

.imagem {
    cursor: pointer;
    background: transparent;
}

.imagem:hover {
    background: #dcdcdc;
}

.uploadFile label {
    font-size: 28px;
}

.uploadFile:hover label {
    transition: ease-in-out 0.4s;
    cursor: pointer;
    font-size: 30px;
    color: #f44336;
}

@keyframes welcome {
    from {
        top: -25%;
    }

    to {
        top: 12.5%;
    }
}

@keyframes goodbye {
    from {
        top: 12.5%;
    }

    to {
        top: -25%;
    }
}

.welcome {
    animation: welcome 0.8s forwards;
}

.goodbye {
    animation: goodbye 0.8s forwards;
}

/*
@keyframes hideContent{
	from{
		width: 95%;
		height: 95%;
		left: 2.5%;
    top: 2.5%;
    width: 100%;
		height: 100%;
		left: 0%;
		top: -2px;
	}
	to{
		width: 100%;
		height: 100%;
		left: 0%;
		top: -2px;
	}
}

.hideContent{
	animation: hideContent 0.2s forwards;
}*/

#mainInfo {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
}

#usuarioDiv {
    border-radius: 8px;
    width: 40%;
    height: 75%;
    left: 30%;
}

#botao_close {
    position: absolute;
    right: 0%;
    color: red;
}

.div_form {
    position: absolute;
    width: 94%;
    left: 3%;
    height: 89%;
    top: 8%;
    border-radius: 6px;
    border: none;
}

.titulo_cadastro {
    font-size: 150%;
    margin: 3% auto;
}

.span_nome,
.span_login,
.span_rg,
.span_telefone,
.span_senha,
.span_tipo {
    position: absolute;
    font-size: 100%;
    width: 100%;
    left: 10%;
}

.input_nome,
.input_login,
.input_rg,
.input_telefone,
.input_senha,
.input_tipo {
    position: absolute;
    font-size: 100%;
    height: 6%;
    left: 10%;
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.span_nome,
.input_nome {
    top: 5%;
}

.span_rg,
.input_rg {
    top: 20%;
}

.span_telefone,
.input_telefone {
    top: 35%;
}

.span_login,
.input_login {
    top: 50%;
}

.span_senha,
.input_senha {
    top: 65%;
}

.span_tipo,
.input_tipo {
    top: 80%;
}

.input_nome {
    top: 11%;
}

.input_rg {
    top: 26%;
}

.input_telefone {
    top: 41%;
}

.input_login {
    top: 56%;
}

.input_senha {
    top: 71%;
}

.input_tipo {
    top: 86%;
}

.input_nome,
.input_login,
.input_rg,
.input_telefone,
.input_senha,
.input_tipo:focus {
    outline: 0;
}

.botao_cadastrar {
    position: absolute;
    bottom: -1%;
    width: 40%;
    left: 30%;
    height: 6%;
    border-radius: 4px;
    outline: 0;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    transition-duration: 0.4s;
}

.botao_cadastrar:hover {
    background: rgba(0, 0, 0, 0.3);
}

.hr {
    position: absolute;
    top: 6%;
    width: 90%;
    left: 5%;
}

.div_mainInfo {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
}

#infoDiv {
    border-radius: 8px;
    width: 40%;
    height: 75%;
    left: 30%;
}

#button_close {
    position: absolute;
    right: 0%;
    color: red;
}

.img_logo {
    width: 164px;
    height: 64px;
    display: table;
    margin: 15px auto;
}

.img_indaialogo {
    top: 10px;
    left: 15px;
    width: 120px;
    height: 64px;
    display: table;
    position: absolute;
}

.img_ciilogo {
    top: 10px;
    right: 15px;
    width: 120px;
    height: 64px;
    display: table;
    position: absolute;
}

.div_conteudoInfo {
    position: absolute;
    width: 95%;
    height: 81%;
    top: 16%;
    left: 2.5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.span_organizadores {
    margin: 3% auto;
    display: table;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}

.div_ngFor {
    margin: 2% auto;
    display: table;
    width: 45%;
    height: 20%;
    margin-left: 5%;
    float: left;
}

#div_icone {
    font-size: 60px;
    margin: 0 auto;
    display: table;
}

.descChar {
    font-size: 14px;
    margin: 0 auto;
    display: table;
}

.span_desenvolvedores {
    margin: 3% auto;
    display: table;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}

#mainDiv {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.header {
    background: rgba(0, 0, 0, 0.94);
    width: 225px;
    height: 100%;
    min-height: 0;
    position: fixed;
    bottom: 0px;
    z-index: 900;
    user-select: none;
}

.padding {
    padding: 0;
    margin: 2px;
}

#barApplication {
    position: absolute;
    top: 3px;
    width: 100%;
    height: 100%;
}

#btSangria {
    position: fixed;
    left: 0%;
    bottom: 7%;
    width: 225px;
    height: 40px;
}

#icon-sangria {
    color: white;
    margin: 2% 5%;
    display: inline-table;
    font-size: 23px;
    left: 45px;
    position: absolute;
}

#span-sangria {
    width: 73%;
    text-align: right;
}

.div_menu {
    background: #212121;
    width: 100%;
    height: 6%;
    position: absolute;
    bottom: 0%;
}

#button_logoff {
    position: absolute;
    bottom: 0%;
    float: left;
}

#button_addUsuario {
    position: absolute;
    left: 68%;
    bottom: 0%;
    float: left;
}

#button_help {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

#white_color {
    color: #fff;
}

.white_color {
    color: #fff;
}

#tela_main {
    background: url("../../../assets/images/emptywallpaper.jpg") center;
    background-size: 100% 100%;
    width: calc(100% - 225px);
    height: 100.5%;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 225px;
    z-index: 998;
}

#welcome {
    position: absolute;
    width: 240px;
    height: 120px;
    background: #fff;
    right: 2%;
    border-radius: 6px;
    z-index: 901;
}

.div_avisoSangria {
    height: 40px;
    width: 240px;
    background: #d61709;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#icon_aviso {
    margin: 2% 10% 0% 22%;
    display: table;
    float: left;
    color: #fff;
    font-size: 28px;
}

.span_aviso {
    margin: 4% auto;
    display: table;
    float: left;
    color: #fff;
    font-size: 25px;
}

.span_informeValor {
    margin: 7% auto 0%;
    display: table;
    font-size: 20px;
    text-align: center;
}

#sangria {
    display: table;
    width: 35%;
    height: 65%;
    position: absolute;
    left: 32.5%;
    z-index: 901;
    border-radius: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#icon_sangria {
    position: absolute;
    top: 15px;
    color: #f44336;
    font-size: 25px;
}

#span_tituloSangria {
    display: table;
    margin: 0 auto;
    font-size: 20px;
}

.div_dataHoje {
    position: absolute;
    width: 100%;
    top: 15%;
    height: 15%;
}

.div_floatLeft {
    width: 50%;
    height: 100%;
    float: left;
}

.spans_sangria {
    margin: 5% auto;
    display: table;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.input_caixaInicial {
    margin: 0% auto;
    display: table;
    text-align: center;
    width: 80%;
    height: 50%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
}

.span_dataHoje {
    margin: 0% auto;
    display: table;
    font-size: 18px;
}

.div_caixaInicialAtual {
    position: absolute;
    width: 100%;
    top: 35%;
    height: 25%;
}

.input_caixaAtual {
    margin: 0% auto;
    display: table;
    outline: none;
    text-align: center;
    width: 80%;
    height: 50%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
}

.div_inferior {
    position: absolute;
    width: 100%;
    top: 62%;
    height: 20%;
}

.div_valor {
    margin: 5% auto;
    display: table;
    width: auto;
    text-align: center;
}

.span_valor {
    margin: 0% 2% auto;
    display: inline-table;
    font-size: 22px;
}

.span_recebidoEntregue {
    margin: 0% auto;
    display: inline-table;
    font-size: 22px;
}

.input_valorCaixa {
    margin: 0% 0% 0% 0%;
    display: table;
    font-size: 22px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 185px;
}

#button_salvarCaixa {
    position: absolute;
    bottom: 5%;
    width: 60%;
    left: 20%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

#button_checkCredito {
    position: absolute;
    left: 50%;
    bottom: 0%;
    float: left;
}

.div_mainCredito {
    position: absolute;
    width: 100%;
    height: 100%;
}

#CreditoDiv {
    background: url("../../../assets/images/loadingCard.jpg") center;
    background-size: 135%;
    margin-left: 34%;
    width: 32%;
    height: 32%;
    margin-top: 9%;
}

.input_tagCartao {
    width: 70%;
    margin: 0 auto;
    border-radius: 4px;
    outline: none;
    border: none;
    height: 30px;
    text-align: center;
    font-size: 28px;
    margin-top: 7%;
}

@keyframes loadingAnim {
    0% {
        transform: rotate(0deg);
        color: #fff;
    }

    25% {
        transform: rotate(90deg);
        color: #f44336;
    }

    50% {
        transform: rotate(180deg);
        color: #fff;
    }

    75% {
        transform: rotate(270deg);
        color: #f44336;
    }

    100% {
        transform: rotate(360deg);
        color: #fff;
    }
}

.loadingAnim {
    animation: loadingAnim 4s infinite;
    -webkit-animation: loadingAnim 4s infinite;
    color: #fff;
    margin: 0% auto;
    margin-top: 7%;
    display: table;
    font-size: 90px;
}

.div_credito {
    background-size: 135%;
    background: white;
    border-radius: 4px;
    margin-left: 34%;
    width: 32%;
    height: 32%;
    margin-top: 16.3%;
    z-index: 10;
}

.span_credito {
    font-size: 24px;
    margin: 0 auto;
    margin-top: 27%;
    font-family: biographyChar;
}

hr {
    width: 89%;
    margin: 0 auto;
    margin-top: 13px;
    background: #f44336;
}
