<div id="mainDiv" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- SIDEBAR -->
    <header class="header">
        <div class="padding">
            <div id="barApplication">
                <button id="buttonBar-{{i}}" routerLink="{{d.media}}" (click)="hideAndShow(i); styleFunction(i,d.param)"
                    *ngFor="let d of dialogs; let i = index" class="mdl-button" [ngStyle]="d.style">
                    <i id="icon-{{i}}" class="material-icons white_color" [ngStyle]="d.istyle">
                        {{d.icon}}</i>
                    <span id="span-{{i}}" class="descChar display">{{d.title}}</span>
                </button>
            </div>
        </div>
        <button id="btSangria" (click)="showSangria()" class="mdl-button buttonBar__selected mdl-button">
            <i id="icon-sangria" class="fas fa-shopping-basket"></i>
            <span id="span-sangria" class="display">Sangria</span>
        </button>
        <div class="div_menu">
            <button id='button_logoff' class="mdl-button mdl-js-button mdl-button--icon" (click)="logOff()">
                <i id='white_color' class="material-icons">power_settings_new</i>
            </button>
            <button id='button_checkCredito' class="mdl-button mdl-js-button mdl-button--icon" (click)="showCredito()">
                <i id='white_color' class="material-icons">credit_card</i>
            </button>
            <button id='button_addUsuario' class="mdl-button mdl-js-button mdl-button--icon" (click)="showCadastro()">
                <i id='white_color' class="material-icons">person_add</i>
            </button>
            <button id="button_help" class="mdl-button mdl-js-button mdl-button--icon" (click)="showInfo()">
                <i id="white_color" class="material-icons">help</i>
            </button>
        </div>
    </header>
    <!-- MAIN -->
    <main id="tela_main" class="mdl-grid">
        <router-outlet></router-outlet>
        <!--  TELA DE INFORMAÇÕES -->
        <app-info *ngIf="info"></app-info>
        <app-usuario *ngIf="usuario"></app-usuario>
        <app-credito *ngIf="credito"></app-credito>
        <!-- WELCOME MESSAGE -->
        <div class="welcome" id="welcome" *ngIf="welcome">
            <div class='div_avisoSangria'>
                <i class="material-icons" id="icon_aviso">info_outline</i>
                <span class="span_aviso">Aviso</span>
            </div>
            <span class="span_informeValor">Informe o valor do Caixa atual</span>
        </div>
        <!-- SANGRIA -->
        <div id="sangria" *ngIf="sangria" class="mdl-card mdl-shadow--8dp jumpIn">
            <div class="mdl-card__title mdl-color--grey-900">
                <span id="icon_sangria" class="fas fa-shopping-basket"></span>
                <span id="span_tituloSangria" class="descChar mdl-color-text--white">Sangria</span>
            </div>
            <div class="div_dataHoje">
                <div class="div_floatLeft">
                    <span class="spans_sangria">Data</span>
                    <span class="span_dataHoje">{{hoje | date:'short'}}</span>
                </div>
            </div>
            <div class="div_caixaInicialAtual">
                <div class="div_floatLeft">
                    <span class="spans_sangria">Caixa Inicial</span>
                    <input type="text" class="input_caixaInicial" disabled currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }"
                        [(ngModel)]="caixaInicial">
                </div>
                <div class="div_floatLeft">
                    <span class="spans_sangria">Caixa Atual</span>
                    <input type="text" (keyup)="setValue()" class="input_caixaAtual" currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }"
                        [(ngModel)]="caixaAtual">
                </div>
            </div>
            <div class="div_inferior">
                <div class="div_valor">
                    <span class="span_valor">Valor </span>
                    <span class="span_recebidoEntregue"> {{tipo}} </span>
                    <input type="text" class="input_valorCaixa" disabled currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }"
                        [(ngModel)]="valorCaixa">
                </div>
            </div>
            <button (click)="saveCash()" id="button_salvarCaixa" class="mdl-button">Salvar</button>
        </div>
    </main>
</div>
