<div id="mainInfo">
    <div id="usuarioDiv" class="jumpIn mdl-card mdl-shadow--8dp">
        <button id='botao_close' class="mdl-button mdl-js-button mdl-button--icon" (click)="closeInfo()">
            <i class="material-icons">close</i>
        </button>
        <span class='titulo_cadastro'>Cadastrar novo Usuário</span>
        <hr class='hr'>
        <div class='div_form'>
            <span class='span_nome'>Nome Completo</span>
            <input class='input_nome' [(ngModel)]='nome' />
            <span class='span_rg'>RG</span>
            <input class='input_rg' [(ngModel)]='rg' id='usuario_rg' />
            <span class='span_telefone'>Celular</span>
            <input class='input_telefone' [(ngModel)]='telefone' id='usuario_celular' />
            <span class='span_login'>Login</span>
            <input class='input_login' [(ngModel)]='login' />
            <span class='span_senha'>Senha</span>
            <input type='password' class='input_senha' [(ngModel)]='senha' />
            <span class='span_tipo'>Privilégio</span>
            <select class='input_tipo' [(ngModel)]='tipo'>
                <option value='1'>Administrador</option>
                <option value='2'>Cantina</option>
                <option value='3'>Compras</option>
                <option value='4'>Cadastros</option>
            </select>
            <button class='botao_cadastrar' (click)='cadastrarUsuario()'>Cadastrar</button>
        </div>
    </div>
</div>