/* You can add global styles to this file, and also import other style files */

@keyframes showContent {
  from {
    transform: scale(0);
    height: 100%;
    width: 100%;
    left: 0%;
    top: -2px;
  }
  to {
    transform: scale(1);
    height: 100%;
    width: 100%;
    left: 0%;
    top: -2px;
  }
}

.showContent {
  animation: showContent 0.3s forwards;
}

/* .swal-overlay fundo */

/* .swal-modal container */

/* .swal-title titulo */

/* .swal-text conteudo */

/* .swal-footer rodape */

/* .swal-button botao */

.swal-overlay, .swal-modal, .swal-title, .swal-text, .swal-footer, .swal-button {
  outline: none;
  user-select: none;
}

.swal-button {
  transition: 0.4s;
  background: #cf1c1c;
  outline: none !important;
  user-select: none;
}

.swal-button:focus {
  outline: none !important;
}

.swal-button:hover {
  background: #f75656 !important;
}

.swal-text, .swal-title {
  font-family: 'roboto';
  text-align: center;
}

.swal-title {
  font-size: 28px;
}

.swal-text {
  font-size: 24px;
}

.swalButtons {
  background-color: transparent;
  color: black;
  transition: 0.3s;
}

.swalButtons:hover {
  background-color: rgba(0, 0, 0, .2) !important;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 9px;
}